<%= column_div :type => :primary do -%>
  <div class="row">
    <div class="span12">
      
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th rowspan="2" class="text-top">Date</th>
            <th rowspan="2" class="text-top">User</th>
            <th rowspan="2" class="text-top text-center">Deposit<br/>(Trade Dollars)</th>
            <th rowspan="2" class="text-top text-center">Withdrawal<br/>(Trade Dollars)</th>
            <th colspan="2" class="text-top text-center">Fees</th>
          </tr>
          <tr>
            <th class="text-center">Trade Dollars</th>
            <th class="text-center">Cash ($)</th>
          </tr>  
        </thead>
        <tbody>
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.created_at.strftime('%Y-%m-%d') %></td>
              <td><%= link_to counterparty_name(counterparty(transaction)), counterparty(transaction) %></td>
              <td class="text-right"><%= transaction_deposit(transaction) %></td>
              <td class="text-right"><%= transaction_withdrawal(transaction) %></td>
              <td class="text-right"><%= nice_decimal(paid_fees(transaction, false)[:trade_credits]) %></td>
              <td class="text-right"><%= nice_decimal(paid_fees(transaction, false)[:cash]) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
<%- end -%>

