<%= column_div :type => :primary do -%>
  <div class="row">
    <div class="span12">
      
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th rowspan="2" class="text-top">Date</th>
            <th rowspan="2" class="text-top">User</th>
            <th rowspan="2" class="text-top text-center">Deposit<br/>(Trade Dollars)</th>
            <th rowspan="2" class="text-top text-center">Withdrawal<br/>(Trade Dollars)</th>
            <th colspan="2" class="text-top text-center">Fees</th>
          </tr>
          <tr>
            <th>TD</th>
            <th>Cash</th>
          </tr>  
        </thead>
        <tbody>
          <% @transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.created_at.strftime('%Y-%m-%d') %></td>
              <td><%= link_to counterparty_name(counterparty(transaction)), counterparty(transaction) %></td>
              <td class="text-right"><%= transaction_deposit(transaction) %></td>
              <td class="text-right"><%= transaction_withdrawal(transaction) %></td>
              <td class="text-right"><%= nice_decimal(1) %></td>
              <td class="text-right"><%= nice_decimal(2) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="span9">
      <h2><%= t('transacts.index.header') %></h2>
      <% year = nil %>
      <% printed = false %>

      <% @transactions.group_by { |t| t.created_at.year }.each do |year, transactions| %>
        <h3><%= year %> Transactions</h3>
        <ul class="list no-space-list activity full">
          <%= render :partial => 'shared/transact', collection: transactions %>
        </ul>
      <% end %>
 </div>
  </div>
  <%- end -%>

