<%- column_div :type => :primary do -%>
  <% if @swp %>
    <h2><%= h @worker.name %> requested <%= h params[:amount] %> hours</h2> 
  <% else %>
    <h2>Pay someone</h2>
  <% end %>

<% if @swp %>
  <div class="profile vcard">
    <% form_tag :action => :create do %>
      <%= hidden_field_tag(:to,params[:to]) %>
      <%= hidden_field_tag(:amount,params[:amount]) %>
      <%= hidden_field_tag(:memo,params[:memo]) %>
      <%= hidden_field_tag(:callback_url,params[:callback_url]) %>
      <%= hidden_field_tag(:redirect_url,params[:redirect_url]) %>
    <div class="toolbox">
      <%= image_tag @worker.main_photo, :class => "profile-image photo",
                                        :alt => h(@worker.name) %>
    </div>
    <%= display "This has been requested in return for:", :class => "meta" %> 
    <%= display params[:memo] %>
  <div class="status-btn">
    <input type="submit" name="update" value="pay now" id="update-submit" class="round-btn"/>
  </div>
  <br><br>
  <% end %>
  </div>
<% else %>
  <% form_tag :action => :create do %>
    <div class="form_row">
      <label for="to">Payee email address</label>
      <%= text_field_tag(:to,params[:to],:size => 40) %>
    </div>
    <div class="form_row">
      <label for="amount">Amount</label>
      <%= text_field_tag(:amount,params[:amount],:size => 3) %> hours
    </div>
    <div class="form_row">
      <label for="memo">Description</label> 
      <%= text_field_tag(:memo,params[:memo],:size => 40) %>
    </div>
  <div class="status-btn">
    <input type="submit" name="update" value="pay now" id="update-submit" class="round-btn"/>
  </div>
  <% end %>
<% end %>
<%- end -%>
<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
