<%= column_div :type => :primary do -%>
  <% if @worker %>
      <h2><%= t('transacts.new.header_simple') %> <%= h @amount %> <%= h @group.unit %> <%= t('to') %> <%= h @worker.name %> </h2> 
  <% else %>
    <h2><%= t('transacts.new.header') %></h2>
  <% end %>

  <%= error_messages_for :transact %>

<% if @worker %>
  <div class="profile vcard">
    <div class="toolbox">
      <%= image_tag @worker.main_photo, :class => "profile-image photo",
                                        :alt => h(@worker.name) %>
    </div>
  </div>
  <div>
    <%= form_tag transacts_path(:asset => params[:asset]) do %>
      <div class="form_row">
        <label for="amount"><%= t('transacts.new.amount') %></label>
        <%= text_field_tag(:amount,params[:amount],:size => 3) %> <%= h @group.unit %>
      </div>
      <div class="form_row">
        <label for="memo"><%= t('transacts.new.memo') %></label> 
        <%= text_field_tag(:memo,params[:memo],:size => 20) %>
      </div>
      <%= hidden_field_tag(:to,params[:to]) %>
      <%= hidden_field_tag(:callback_url,params[:callback_url]) %>
      <%= hidden_field_tag(:redirect_url,params[:redirect_url]) %>
  <div class="status-btn">
    <input type="submit" name="update" value="<%= t('transacts.new.pay_now') %>" id="update-submit" class="button"/>
  </div>
  <br><br>
</div>
  <% end %>
<% else %>
  <%= form_tag transacts_path(:asset => params[:asset]) do %>
    <div class="form_row">
      <label for="to"><%= t('transacts.new.to') %></label>
      <%= text_field_tag(:to,params[:to],:size => 40) %>
    </div>
    <div class="form_row">
      <label for="amount"><%= t('transacts.new.amount') %></label>
      <%= text_field_tag(:amount,params[:amount],:size => 3) %> <%= h @group.unit %>
    </div>
    <div class="form_row">
      <label for="memo"><%= t('transacts.new.memo') %></label> 
      <%= text_field_tag(:memo,params[:memo],:size => 40) %>
    </div>
  <div class="status-btn">
    <input type="submit" name="update" value="<%= t('transacts.new.pay_now') %>" id="update-submit" class="button"/>
  </div>
  <% end %>
<% end %>
<%- end -%>
