  <h2><%= t('messages.new.header') %></h2>
  <p><%= formatting_note %></p>

  <%= error_messages_for :message %>
  
  <%- unless @preview.nil? -%>
    <h3><%= t('messages.new.preview') %></h3>
    <%= display @preview %>
  <%- end -%>
  
  <%- if @recipient -%>
    <%= image_link @recipient, :image => :thumbnail, :id => 'recipient_avatar' %>
  <%- else -%>
    <%= link_to image_tag('default_thumbnail.png'), '#', :id => 'recipient_avatar' %>
  <%- end -%>

  <%= form_for(:message,
    :url => (@recipient ? person_messages_path(@recipient) : messages_path(@message)), :html => {:id => 'new_message', :class => 'form-horizontal'}) do |f| %>
    <div class="span4">
    <div class="form-control">
      <%= f.label t('to').mb_chars.capitalize, :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :recipient, (@recipient ? h(@recipient.name) : ''), :id => 'recipient_autocomplete', :class => 'recipient_autocomplete', :placeholder => t('messages.new.to.placeholder') %>
      </div>
    </div>
    <div class="form-control">
      <%= f.label t('messages.show.subject'), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :subject, :id => "message_subject" %>
      </div>
    </div>
    </div>
    <div class="span7">
    <div class="form-control">
      <div class="controls">
      <%- if @message.reply? -%>
      <%= f.text_area :content, :id => "message_body", :value => content, :rows => 10 %>
        <%= f.hidden_field :parent_id %>
        <%= set_focus_to "message_body" %>
      <%- else -%>
        <%= f.text_area :content, :id => "message_body", :rows => 10 %>
        <%= set_focus_to "message_subject" %>
      <%- end -%>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit t('button_send'), :class => "btn btn-primary", :id => "message_submit" %>
      <%= waiting_image %>
    </div>
    </div>
  <% end %>
