  <h2><%= t('messages.new.header') %></h2>
  
  <%- if @recipient -%>
    <%= image_link @recipient, :image => :thumbnail, :id => 'recipient_avatar' %>
  <%- else -%>
    <%= link_to image_tag(Preference.profile_image(:thumbnail)), '#', :id => 'recipient_avatar' %>
  <%- end -%>

  <%= bootstrap_form_for(@message, :url => (@recipient ? person_messages_path(@recipient) : messages_path(@message)), :html => {:id => 'new_message', :class => 'form-horizontal'}) do |f| %>
      <%= f.text_field :recipient, :value => (@recipient ? h(@recipient.name) : ''), :id => 'recipient_autocomplete', :class => 'recipient_autocomplete',  :placeholder => t('messages.new.to.placeholder'), :label => t('to').mb_chars.capitalize %>
      <%= f.text_field :subject, :id => "message_subject", :label => t('messages.show.subject') %>
      <%- if @message.reply? -%>
      <%= f.text_area :content, :id => "message_body", :value => content, :rows => 10 %>
        <%= f.hidden_field :parent_id %>
        <%= set_focus_to "message_body" %>
      <%- else -%>
        <%= f.text_area :content, :id => "message_body", :rows => 10 %>
        <%= set_focus_to "message_subject" %>
      <%- end -%>
    <%= f.actions do %>
      <%= f.primary t('button_send'), :id => "message_submit" %><%= waiting_image %>
    <% end %>
  <% end %>
