<li class="vcard person">
  <%- if n_messages > 1 -%>
    <a name="<%= message_anchor(full_message) %>"></a>
  <%- end -%>
  <div class="profile-image">
  <%= image_link full_message.sender, :class => "photo",
                                      :image => :thumbnail %>
  </div>
  <%= markdown(full_message.content) %>
  <p class="meta tools">
    <%= t('messages.show.sent') %> <%= time_ago_in_words full_message.created_at %> <%= t('ago') %> |
    <%= link_to t('messages.show.reply'), reply_message_path(full_message) %> |
    <% unless full_message.trashed?(current_person) -%>
      <%= link_to(t('messages.show.trash'), full_message, :method => :delete) %>
    <% else -%>
      <%= link_to t('messages.show.untrash'), undestroy_message_path(full_message), 
                             :method => :put %>
    <% end -%>
  </p>
</li>
