<li class="message">
  <div class="profile-image">
    <%= image_link message.other_person(current_person),
                   :image => :thumbnail,
                   :image_options => { :class => "photo" } %>
  </div>
  <p>
    <span class="label">Subject:</span>
    <%= link_to sanitize(message.subject), message %>
  </p>
  <p>
    <%= message_icon(message) %>
    <%- if current_person?(message.sender) -%>
      <span class="label">To:</span>
      <%= person_link message.recipient, :class => "url fn" %>
    <%- else -%>
      <span class="label">From:</span>
      <%= person_link message.sender, :class => "url fn" %>
    <%- end -%>
<br />
  <span class="tools meta">
  Sent <%= time_ago_in_words message.created_at %> ago 
    <%= link_to image_tag("icons/email_edit.png", :class => 'actioner'), 
                reply_message_path(message),
                :title => "Reply to this message" %>
    <% unless message.trashed?(current_person) -%>
      <%= link_to image_tag("icons/email_delete.png", :class => 'actioner'), 
                  message_path(message), 
                  :method => :delete, 
                  :confirm => %(Delete this message?),
                  :title => "Delete this message" %>
    <% else -%>
      <%= link_to "Untrash", undestroy_message_path(message),
                             :method => :put %>
    <% end -%>    
  </span>
</p><div class="clear"></div>
</li>