<tr class="message <%= rowclass = cycle("odd", "even") %>">
  <td class="span-1 nobr center">
    <%= image_tag("replied.png") if message.replied_to? %>
    <%= image_tag("new.png") unless message.read? %>
  </td>
  <td style="text-align: center;" class="span-3">
    <% if message.sender == current_person %>
      <%= linked_image(message.recipient, :size => 'thumbnail') %>
    <% else %>
      <%= linked_image(message.sender, :size => 'thumbnail') %>
    <% end %>
  </td>
  <td class="span-10" style="vertical-align: top;">
      <%= render :partial => 'sender_info', 
                 :locals => { :message => message,
                              :rowclass => rowclass } %>
          <% snippet = sanitize(truncate(message.content, 75))
             link    = message.read? ? snippet : content_tag(:b, snippet)
          %>
          <%= link_to link, message %>
  </td>
  <td class="span-1">
    <% unless message.trashed?(current_person) -%>
      <%= link_to(image_tag("delete.png"), message, :method => :delete) %>
    <% else -%>
      <%= link_to "(undelete)", undestroy_message_path(message), 
                                :method => :put %>
    <% end -%>
  </td>
</tr>