<tr class="message <%= rowclass = cycle("odd", "even") %>">
  <td>
    <%= image_tag("replied.png") if message.replied_to? %>
    <%= image_tag("new.png") unless message.read? %>
  </td>
  <td>
    <% if message.sender == current_person %>
      <%= linked_image(message.recipient, :size => 'thumbnail') %>
    <% else %>
      <%= linked_image(message.sender, :size => 'thumbnail') %>
    <% end %>
  </td>
  <td>
    <%= render :partial => 'messages/sender_info', 
               :locals => { :message => message,
                            :rowclass => rowclass } %>
  </td>
  <td>
      <%# TODO: Refactor this mess %>
          <% snippet = sanitize(message.subject)
             link    = message.read? ? snippet : content_tag(:b, snippet)
          %>
          <%= link_to message.subject, message %>
  </td>
  <td>
    <% unless message.trashed?(current_person) -%>
      <%= link_to(image_tag("delete.png"), message, :method => :delete) %>
    <% else -%>
      <%= link_to "(untrash)", undestroy_message_path(message), 
                                :method => :put %>
    <% end -%>
  </td>
</tr>