<li class="message">
  <div class="profile-image">
    <%= image_link message.other_person(current_person),
                   :image => :thumbnail,
                   :image_options => { :class => "photo" } %>

    <%- if not message.read? and not current_person?(message.sender) -%>
      <%= image_tag("icons/email.gif", :class => "icon") %>
    <%- elsif message.replied_to? -%>
      <%= image_tag("icons/reply.gif", :class => "icon" )  %>
    <%- end -%>    
  </div>
  <p>
    <%- if current_person?(message.sender) -%>
      <span class="label"><%= t('to').mb_chars.capitalize %>:</span>
      <%= person_link message.recipient, :class => "url fn" %>
    <%- else -%>
      <span class="label"><%= t('from').mb_chars.capitalize %>:</span>
      <%= person_link message.sender, :class => "url fn" %>
    <%- end -%>
    <span class="meta"><%= t( 'ago_time', :date => time_ago_in_words( message.created_at )) %> </span>
  </p>
  <p>
    <span class="label"><%= t('messages.show.subject') %>:</span>
    <%= link_to sanitize(message.subject),
                message_path(message, :anchor => message_anchor(message)) %>
  </p>
  <p class="tools meta">
    <%= link_to t('messages.show.read'), message %> |
    <%= link_to t('messages.show.reply'), reply_message_path(message) %> |
    <% unless message.trashed?(current_person) -%>
      <%= link_to(t('messages.show.trash'), message, :method => :delete) %>
    <% else -%>
      <%= link_to t('messages.show.untrash'), undestroy_message_path(message),
                             :method => :put %>
    <% end -%>    
  </p>
</li>
