<% if message.sent_by == current_person %>
  <% other_person = message.recipient %>
  <h2><%= t(messages.show.sent) %> <%= t('to') %> <%= name_link other_person %></h2>
<% else %>
  <% other_person = message.sent_by %>
  <h2><%= t(messages.show.sent) %> <%= t('by') %> <%= name_link other_person %></h2>
<% end %>
<div><%= name_link message.sent_by %></div>
<div class="status-mail">
  <%= email_link other_person, :replying_to => message %>
</div>
