<h1>Editing message</h1>

<%= error_messages_for :message %>

<% form_for(:message,
     :url => edit_person_message_url(current_person, @message)) do |f| %>
  <p>
    <b>Content</b><br />
    <p><%= formatting_note %></p>
    <%= fckeditor_textarea("message", :content, :toolbarSet => 'InsoshiBase', 
      :width => '100%', :height => RICH_TEXT_HEIGHT) %>
    <%= set_focus_to 'message_body '%>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
