  <h2><%= t('messages.index.header') %></h2>

<div class="span7">
  <%= render :partial => 'message_nav' %>
  
  <%- if @messages.empty? -%>
    <h3 class="blankslate"><%= t('messages.index.no_messages') %></h3>
  <%- else -%>
    <%= will_paginate(:renderer => BootstrapPaginationHelper::LinkRenderer) %>
    <ul class="list messages full">
      <%= render :partial => @messages %>
    </ul>
    <%= will_paginate(:renderer => BootstrapPaginationHelper::LinkRenderer) %>
  <%- end -%>
</div>
<div class="span1">
</div>
<div class="span3">
  <%= render :partial => 'shared/add_button', :locals => { :button_text => t('messages.new.new_message'), :new_resource_path => new_message_path } %>
</div>
