<%= column_div :type => :primary do -%>
  <h2><%= t('messages.index.header') %></h2>

  <%= render :partial => 'message_nav' %>
  
  <%- if @messages.empty? -%>
    <h3 class="blankslate"><%= t('messages.index.no_messages') %></h3>
  <%- else -%>
    <%= will_paginate %>
    <ul class="list messages full">
      <%= render :partial => @messages %>
    </ul>
    <%= will_paginate %>
  <%- end -%>

<%- end -%>

<%= column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/add_button', :locals => { :button_text => t('messages.new.new_message'), :new_resource_path => new_message_path } %>
<%- end -%>
