<% set_main_title "New message" %>

<div class="column first span-14">

<%= error_messages_for :message %>

<table>
  <tr>
    <th colspan="2">
      <label>To:</label> <%= @recipient.name %>
    </th>
  </tr>
  <tr>
    <td>
      <%= linked_image(@recipient, :size => 'thumbnail') %>
    </td>
    
    <td>
      <% form_for(:message, :url => person_messages_path(@recipient)) do |f| %>
            Subject: <%= f.text_field :subject %>
            <%= set_focus_to_id "message_subject" %>
            <%= f.text_area :content %>      
        <div>
          <%= f.submit "Send!" %>
          <%= f.submit "Cancel", :id => "cancel" %>
        </div>
        <%= f.hidden_field :parent_id if @message.reply? %>
<% end %>
    </td>
  </tr>
</table>

</div>

<%= render :partial => 'shared/minifeed' %>
