<h1>New message</h1>

<%- column_div :type => :primary do -%>

<%= error_messages_for :message %>

<table>
  <tr>
    <th colspan="2">
      <label>To:</label> <%= @recipient.name %>
    </th>
  </tr>
  <tr>
    <td>
      <%= image_link @recipient, :image => :thumbnail %>
    </td>
    
    <td>
      <% form_for(:message,
                  :url => person_messages_path(@recipient)) do |f| %>
            Subject: <%= f.text_field :subject %>
            <%= f.text_area :content %>
            <%- if @message.reply? -%>
              <%= f.hidden_field :parent_id %>
              <%= set_focus_to_id "message_content" %>
            <%- else -%>
              <%= set_focus_to_id "message_subject" %>
            <%- end -%>
        <div>
          <%= f.submit "Send!" %>
          <%= f.submit "Cancel", :id => "cancel" %>
        </div>
<% end %>
    </td>
  </tr>
</table>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
