<%= column_div :type => :primary do -%>
  <% if current_person?(@message.sender) %>
    <% heading = t('messages.show.message_sent_to') + " #{h @message.recipient.name}" %>
  <% else %>
    <% heading = t('messages.show.message_from') + " #{h @message.sender.name}" %>
  <% end %>
  
  <h2><%= heading %></h2>

  <%= render :partial => 'message_nav' %>
  
  <h3 class="subject"><%= sanitize @message.subject %></h3>
  <%# show offer if there is %>
  <% talkable = @message.conversation.talkable %>
  <% if talkable && talkable.class == Offer %>
    <div class="talkable-link-div">
      <%= link_to t('messages.show.show_offer'), "#{group_path(talkable.group)}/#offers/#{talkable.id}" %>
      &nbsp;|&nbsp;

      <% if @message.conversation.exchange %>
        <%= link_to t('transacts.show_transact'), "/transacts/#{@message.conversation.exchange.group.asset}/#{@message.conversation.exchange.id}" %>
      <% end %>
    </div>
  <% end %>

  <ul class="list person">
    <% all_messages =  @message.conversation.messages %>
    <%= render :partial => 'full_message',
               :collection => all_messages,
               :locals => { :n_messages => all_messages.length } %>
  </ul>

<%- end -%>

<%= column_div :type => :secondary do -%>
<%- end -%>
