<div class="column first span-14">
  <% if @message.sender == @current_person %>
      <% heading = "Message sent to #{@message.recipient.name}" %>
  <% elsif @message.recipient == @current_person %>
      <% heading = "Message from #{@message.sender.name}" %>
  <% else %>
      <% heading = "Message" %>
  <% end %>
  
  <h1><%= heading %></h1>

  <%= render :partial => 'message_nav' %>

  <%= link_to "&laquo; Back", :back %>

  <table class="userlayout">
    <tr>
      <td class="sender" style="text-align: center;">
        <%= linked_image @message.sender, :size => 'thumbnail' %>
      </td>
      <td>
        <%= render :partial => 'sender_info', 
                   :locals => { :message => @message,
                                :rowclass => nil } %>
        <p><%=h @message.content %></p>
      </td>
    </tr>
  </table>
</div>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
