<%- column_div :type => :primary do -%>
  <% if current_person?(@message.sender) %>
    <% other_person = @message.recipient %>
    <% heading = "Sent to " %>
  <% else %>
    <% other_person = @message.sender %>
    <% heading = "Sent by " %>
  <% end %>
  
  <h2><%= @message.subject %></h2>

  <%= render :partial => 'message_nav' %>
  
  <%= display @message.content %>
  <p class="meta tools">
    <%= heading + person_link(other_person) -%> <%= time_ago_in_words @message.created_at %> ago
    <%= link_to(image_tag("icons/email_go.png", :class => 'actioner'), 
                      reply_message_path(@message),
	 					:title => "Reply to this message") %>
    <% unless @message.trashed?(current_person) -%>
      <%= link_to(image_tag("icons/email_delete.png", :class => 'actioner'), 
                        message_path(@message), 
                        :method => :delete, 
                        :confirm => %(Delete this message?),
	 					:title => "Delete this message") %>
    <% else -%>
      <%= link_to "Untrash", undestroy_message_path(@message), 
                             :method => :put %>
    <% end -%>    
  </p>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
<%- end -%>
