<%- column_div :type => :primary do -%>
  <% if current_person?(@message.sender) %>
    <% other_person = @message.recipient %>
    <% heading = "Message sent to #{h other_person.name}" %>
  <% else %>
    <% other_person = @message.sender %>
    <% heading = "Message from #{h other_person.name}" %>
  <% end %>
  
  <h2><%= heading %></h2>

  <%= render :partial => 'message_nav' %>
  
  <h3 class="subject">
  <%= image_link other_person %>
  <%= @message.subject %></h3>
  <%= display @message.content %>
  <p class="meta tools">
    Sent <%= time_ago_in_words @message.created_at %> ago |
    <%= link_to "Reply", reply_message_path(@message) %> |
    <% unless @message.trashed?(current_person) -%>
      <%= link_to("Trash", @message, :method => :delete) %>
    <% else -%>
      <%= link_to "Untrash", undestroy_message_path(@message), 
                             :method => :put %>
    <% end -%>
  </p>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
