<%= column_div :type => :primary do -%>
<h2>Contacts for <%= h @person.display_name %></h2>

<% unless @contacts.empty? -%>
  <%= will_paginate(@contacts) %>
  <ul class="grid contacts medium">
    <%- @contacts.each do |contact| -%>
      <li class="vcard contact">
        <%= image_link contact, :image_options => { :class => "photo" },
                                :link_options => { :class => "url" },
                                :vcard => true,
                                :image => :bounded_icon %>
      </li>
    <%- end -%>
      
  </ul>
  <%= will_paginate(@contacts) %>
<% else %>
  <h3>No contacts (yet)</h3>
<% end -%>

<%- end -%>

<%= column_div :type => :secondary do -%>
<%- end -%>
