<h1>Contacts for <%= @person.name %></h1>

<%- column_div :type => :primary do -%>

<% unless @contacts.empty? -%>
  <%= will_paginate(@contacts) %>
  <%= raster image_links(@contacts, :captions => @contacts.map(&:name),
                                    :destroy => (current_person? @person), #destroy if in own profile
			            :send_message => (current_person? (@person)),
                                    :image => :thumbnail) %>
  <%= will_paginate(@contacts) %>
<% else %>
  <h1>No contacts (yet)</h1>
<% end -%>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
