<h1>Contacts for <%= current_person.name %></h1>

<div class="column first span-14">

<% unless @contacts.empty? -%>
  <%= will_paginate(@contacts) %>
  <%= raster image_links(@contacts, :captions => @contacts.map(&:name),
                                    :image => :thumbnail) %>
  <%= will_paginate(@contacts) %>
<% else %>
  <h2>You have no contacts (yet).</h2>
<% end -%>

</div>

<%= render :partial => 'shared/minifeed' %>
