<%- column_div :type => :primary do -%>
<h2>Contacts for <%= h @person.name %></h2>
<% if @person.connections.count > Person::MAX_DEFAULT_CONTACTS %>
  <%= will_paginate @contacts %>
<% end %>

<% unless @contacts.empty? -%>
    <%= render :partial => 'shared/contacts_grid',
               :locals => { :contacts => @contacts } %>

  <% if @person.connections.count > Person::MAX_DEFAULT_CONTACTS %>
    <%= will_paginate @contacts %>
  <% end %>
<% else %>
  <h3>No contacts (yet)</h3>
<% end -%>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
<%- end -%>
