<h1>Contacts for <%= current_person.name %></h1>

<%- column_div :type => :primary do -%>

<% unless @contacts.empty? -%>
  <%= will_paginate(@contacts) %>
  <%= raster image_links(@contacts, :captions => @contacts.map(&:name),
                                    :image => :thumbnail) %>
  <%= will_paginate(@contacts) %>
<% else %>
  <h2>You have no contacts (yet).</h2>
<% end -%>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>