<h1>New connection</h1>

<%= error_messages_for :connection %>

<% form_for(@connection) do |f| %>
  <p>
    <b>Person</b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b>Connection</b><br />
    <%= f.text_field :contact_id %>
  </p>

  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', connections_path %>
