<h2>Broadcast Emails</h2>

<table>
<% for broadcast_email in @broadcast_emails %>
  <tr>
    <td><%=h broadcast_email.subject %></td>
    <td><%= link_to 'Show', admin_broadcast_email_path(broadcast_email) %></td>
    <td><%= link_to 'Edit', edit_admin_broadcast_email_path(broadcast_email) %></td>
    <td><%= link_to 'Destroy', admin_broadcast_email_path(broadcast_email), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New broadcast_email', new_admin_broadcast_email_path %>
