<%= yui_headers %>

<h2>New broadcast_email</h2>

<%= error_messages_for :broadcast_email %>

<% form_for :broadcast_email, :url => :admin_broadcast_emails do |f| %>

  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_broadcast_emails_path %>


<script type="text/javascript">
var myEditor = new YAHOO.widget.Editor('broadcast_email_message', {
    height: '300px',
    handleSubmit: true,
    width: '522px',
    dompath: true, //Turns on the bar at the bottom
    animate: true //Animates the opening, closing and moving of Editor windows
});
myEditor.render();
</script>