<h2>Edit membership for <%= h @membership.person.display_name %></h2>
<%= form_for(@membership) do |f| %>
  <%= f.error_messages %>
  <% for role in Membership::ROLES %>
    <%= check_box_tag "membership[roles][]", role, @membership.roles.include?(role) %>
    <%=h role.humanize %><br />
  <% end %>
  <%= hidden_field_tag "membership[roles][]", "" %>
  <%= f.submit t('button_update') %>
<% end %>
<% if @account %>
  <h2>Edit account for <%= h @membership.person.display_name %></h2>
  <%= form_for :account, :url => person_account_path(@membership.person,@account), :html => {:method => :put} do |f| %>
    <%= f.error_messages %>
      <div class="form_row">
        <%= f.label "Credit Limit" %>
        <%= f.text_field :credit_limit, :size => 5 %>&nbsp;<span class="small"><%= @account.group.unit %></span>
      </div>
      <div class="form_row">
        <%= f.label "Legacy Balance" %>
        <%= f.text_field :offset, :size => 5 %>&nbsp;<span class="small"><%= @account.group.unit %></span>
      </div>
    <%= f.submit t('button_update') %>
  <% end %>
<% end %>
