<h2>Edit membership for <%= h @membership.person.display_name %></h2>
<%= form_for(@membership) do |f| %>
  <% for role in (Membership::ROLES - Membership::EXCLUDE_ROLES) %>
    <%= check_box_tag "membership[roles][]", role, @membership.roles.include?(role) %>
    <%=h role.humanize %><br />
  <% end %>
  <%= hidden_field_tag "membership[roles][]", "" %>
  <br />
  <%= f.submit t('button_update'), class: 'btn btn-primary' %>
<% end %>
<% if @account %>
  <h2>Edit account for <%= h @membership.person.display_name %></h2>
  <%= bootstrap_form_for @account, :url => person_account_path(@membership.person,@account), :html => {:method => :put} do |f| %>
    <%= f.text_field :credit_limit, label: 'Credit Limit',:help => @account.group.unit || Group.find(global_prefs.default_group_id).unit, :size => 5 %>
    <%= f.text_field :offset, label: 'Legacy Balance', :help => @account.group.unit || Group.find(global_prefs.default_group_id).unit, :size => 5 %>
    <%= f.control_group :reserve do %>
      <%= f.check_box :reserve, label: 'Reserve?' %>
    <% end %>
    <%= f.text_field :reserve_percent, label: 'Reserve Percent', :help => '(must be between 0 and 1)', :size => 5 %>
    <%= f.submit t('button_update'), class: 'btn btn-primary' %>
  <% end %>
<% end %>
