<% form_tag session_path do -%>
<div class="form_row"><label for="username">Email address</label><br/>
<%= text_field_tag 'email', params[:email],
                               :maxlength => Person::MAX_EMAIL  %></div>
<%= set_focus_to_id "email" %>

<div class="form_row"><label for="password">Password</label><br/>
<%= password_field_tag 'password', params[:password],
                                   :maxlength => Person::MAX_PASSWORD %></div>

<div class="form_row"><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me', '1', true %></div>


<div class="form_row"><%= submit_tag 'Sign in' %> or <%= link_to "Sign up", signup_path %></div>

<div class="form_row">
  <%# link_to "I forgot my password!", new_email_reminder_path %>
</div>
<% end -%>
