<h2><%= t('groups.show.discussion_topics') %><%= waiting_image %></h2>
<%- if logged_in? -%>
  <%= form_for :topic, :url => forum_topics_path(@forum), :html => {:id => 'new_topic', :class => 'form-inline'} do |f| %>
      <%= f.text_field :name, :placeholder => t('forums.show.add_new_topic') %>
      <%= submit_tag t('button_submit'), :class => "btn btn-primary" %>
  <% end %>
<%- end -%>
<%= will_paginate(@topics) %>
<ol class="list forum full">
  <%= render :partial => 'topics/topic', :collection => @topics %>
</ol>
<%= will_paginate(@topics) %>
