<h2><%= t('forums.edit.header') %></h2>
<%= form_for(@forum) do |f| %>
  <%= f.error_messages %>
  <p>
  <label for="world_writable"
         class="checkbox"><%= t('forums.edit.world_writable') %></label>
  <%= f.check_box :worldwritable %>
  </p>
  <%= f.submit t('button_update') %>
<% end %>
