<%- column_div :type => :primary do -%>
  <h1>Discussion topics</h1>
  <div class="section">
    <%= render :partial => @topics %>
  </div>
  
  <%= will_paginate(@topics) %>
  
  <h2>Add new topic</h2>
  
  <% form_for :topic, :url => forum_topics_path(@forum) do |f| %>
    <div class="form_row">
      <%= f.text_field :name %>
    </div>
  
    <div class="form_row">
      <%= submit_tag "Submit" %>
    </div>
  <% end %>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>