<%- column_div :type => :primary do -%>
  <h2>Discussion topics</h2>
  
  <ol class="list forum full">
    <%= render :partial => 'topics/topic', :collection => @topics %>
  </ol>
  <%= will_paginate(@topics) %>

  <%- if logged_in? -%>
      <h2>New Topic</h2>
  
      <% form_for :topic, :url => forum_topics_path(@forum) do |f| %>
        <div class="form_row">
          <%= f.label :name, "Subject" %>
          <%= f.text_field :name %>
          <%= f.submit "Start", :class => "button" %>
        </div>
      <% end %>
  <%- end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>