<div class="column first span-14">

<%= will_paginate %>

  <table>
    <tr><th>Discussion topics</th></tr>
    <%- @topics.each do |topic| -%>
    <tr>
      <td>
        <%= link_to topic.name, forum_topic_posts_path(@forum, topic) %>
        <span class="time">
          Created <%= time_ago_in_words(topic.created_at) %> ago
        </span>
      </td>
    </tr>
    <%- end -%>
  </ul>
  </table>

<%= will_paginate %>
</div>


<%= render :partial => 'shared/minifeed' %>
