  <h2><%= t('exchanges.new.enter_credit_for') %> <%= h @person.name %></h2>

  <%= error_messages_for :exchange %>

  <%= form_for :exchange, :url => person_exchanges_path(@person), :html => {:id => 'new_exchange'} do |f| %>
    <%= f.hidden_field :group_id, :value => @group.id %>
    <div class="form_row">
      <%= f.label t('exchanges.new.amount') %>
      <%= f.text_field :amount, :size => 2 %>&nbsp;<span class="small"><%= @group.unit %></span>
    </div>
    <%= fields_for :req do |r| %>
      <div class="form_row">
        <%= r.label t('exchanges.new.service_provided') %>
        <%= r.text_field :name, :onclick => "this.value='';" %>
      </div>
    <% end %>
    <div class="form_row">
      <%= f.submit t('button_submit') %><%= waiting_image %>
    </div>
  <% end %>
