<%= bootstrap_form_for @exchange, :url => person_exchanges_path(@person), :html => {:id => 'new_exchange'} do |f| %>
  <%= f.text_field :amount, :value=> nice_decimal(@offer.price), :help => @offer.unit,  :size => 3, :disabled => true, "data-offer_price"=> @offer.price %>
  <%= fields_for :offer do |o| %>
    <div class="form_row">
      <%= o.label 'For:' %>
      <%= o.text_field :name, :value => @offer.name, :disabled => true %> &nbsp; <span class="offer"><%= link_to "or ask #{h @offer.person.display_name} a question", @offer, :class => "meta show-follow" %></span>
    </div>
    <%= o.hidden_field :id %>
  <% end %>
  
  <%if @offer.available_count > 1%>
    <div class="form_row">
      <div style='margin-bottom: 5px;'><%= t('exchanges.new.quantity') %>:</div>
      <%= select_tag 'offer[count]', options_for_select(Array.new(@offer.available_count) {|i| [i+1, i+1]} ) %>
    </div>
  <% end %>
  <%= f.actions do %>
    <%= f.primary t('button_submit') %><%= waiting_image %>
  <% end %>
<% end %>

<script>
  $(document).ready(function(){
    $("#offer_count").change(function(){
      $("#exchange_amount").val( $("#exchange_amount").data('offer_price') * $(this).val());
    });  
  });

</script>
