<h2><%= t('exchanges.new.enter_credit_for', :currency => @group.unit.pluralize) %> <%= h @person.display_name %> <%= "#{t('from')} #{Person.find(@customer_id).name}" if @customer_id.present? %></h2>

  <div class="span4">
  <%= bootstrap_form_for @exchange, :url => person_exchanges_path(@person), :html => {:id => 'new_exchange', :class => 'form_horizontal'} do |f| %>
    <%= f.hidden_field :group_id, :value => @group.id %>
    <%- if @customer_id.present? %>
      <%= f.hidden_field :customer_id, :value => @customer_id %>
    <%- end %>
    <%= f.text_field :amount, :value=> nice_decimal(f.object.amount), label: t('exchanges.new.amount'), help: @group.unit, size: 2 %>
    <%= fields_for :req do |r| %>
      <div class="control-group">
        <%= r.label t('exchanges.new.service_provided'), :class => 'control-label' %>
        <div class="controls">
          <%= r.text_field :name, placeholder: t('exchanges.new.enter_description') %>
        </div>
      </div>
    <% end %>
    <%= f.actions do %>
      <%= f.primary t('button_submit') %><%= waiting_image %>
    <% end %>
  </div>
  <% end %>
