      <%= form_for :exchange, :url => person_exchanges_path(@person), :html => {:id => 'new_exchange'} do |f| %>
        <div class="form_row">
          <%= f.label :amount %>
          <%= f.text_field :amount, :size => 3, :value => @offer.price, :disabled => true %>&nbsp;<span class="small"><%= @offer.unit %></span>
        </div>
        <%= fields_for :offer do |o| %>
          <div class="form_row">
            <%= o.label 'For:' %>
            <%= o.text_field :name, :value => @offer.name, :disabled => true %> &nbsp; <span class="offer"><%= link_to "or ask #{h @offer.person.name} a question", @offer, :class => "meta show-follow" %></span>
          </div>
          <%= o.hidden_field :id %>
        <% end %>
        <div class="form_row">
          <%= f.submit t('button_submit') %><%= waiting_image %>
        </div>
      <% end %>
