<% if global_prefs.group_option? %>
<script type="text/javascript">
  function update_currency_units(i) {
    var group_units = {
      <%- @groups.each do |g| -%>
        <%= "'#{g.id}': '#{h g.unit}'," %> 
      <%- end -%>
    };
    elem = document.getElementById('units');
    if(!i)
      elem.innerHTML = "hours";
    else
      elem.innerHTML = group_units[i];
}
</script>
<%- end -%>
<%- column_div :type => :primary do -%>
  <h2>Enter Credit for <%= h @worker.name %></h2>

  <%= error_messages_for :exchange %>

  <% form_for :exchange, :url => person_exchanges_path(@worker) do |f| %>
    <% if params[:offer] %>
      <div class="form_row">
        <%= f.label :amount %>
        <%= f.text_field :amount, :size => 3, :value => @offer.price, :disabled => true %>&nbsp;<span id="units" class="small">hours</span>
      </div>
      <% fields_for :offer do |o| %>
        <div class="form_row">
          <%= o.label 'For:' %>
          <%= o.text_field :name, :value => @offer.name, :disabled => true %>
        </div>
        <%= o.hidden_field :id %>
      <% end %>
    <% else %>
    <div class="form_row">
      <%= f.label :amount %>
      <%= f.text_field :amount, :size => 2 %>&nbsp;<span id="units" class="small">hours</span>
    </div>
  <% if global_prefs.group_option? %>
    <div class="form_row">
      <label for="group_id">Group</label>
      <%= collection_select( 'exchange', 'group_id', @groups, :id, :name, { :include_blank => true }, { :onchange => "update_currency_units(this.value);"} ) %>
    </div>
  <%- end -%>
    <% fields_for :req do |r| %>
      <div class="form_row">
        <%= r.label 'Service provided' %>
        <%= r.text_field :name, :onclick => "this.value='';" %>
      </div>
    <% end %>
    <% end %>
    <div class="form_row">
      <%= f.submit "Submit" %>
    </div>
  <% end %>
<%- end -%>
