<%- column_div :type => :primary do -%>
  <h2>Blog for <%= h @blog.person.name %></h2>

  <%- if @posts.empty? -%>
    <h3 class="blankslate">
      No posts yet!
      <%- if current_person?(@blog.person) -%>
        <%= link_to "Write a post", new_blog_post_path(@blog) %>
      <%- end -%>
    </h3>
  <%- else -%>
    <ul class="list blog full">
      <%= render :partial => 'posts/blog_post', :collection => @posts %>
    </ul>
  <%- end -%>
  
  <%= will_paginate(@posts) %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%- if current_person?(@blog.person) -%>
  <h2>Add new post</h2>

  <p><%= formatting_note %></p>

  <%= render :partial => 'posts/blog_form',
             :locals => { :url => blog_posts_path(@blog),
                          :method => :post } %>
  <%- end -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>