<h2><%= t('events.event_new.header') %></h2>

<%= error_messages_for :comment %>

<h3><%= t('events.event_new.leave_a_comment') %></h3>

<%= form_for :comment, :url => event_comments_path(@event),
            :html => { :id => "eventcomment" } do |f| %>
  <div class="form_row">
    <%= f.text_area :body, :rows => 10 %>
  </div>
  
  <div class="form_row">
    <%= submit_tag t('button_submit'), :class => "button" %>
  </div>
<% end %>

