<li>
<%= h address.address_line_1 %><br/>
<% unless address.address_line_2.blank? %>
<%= h address.address_line_2 %><br/>
<% end %>
<% unless address.address_line_3.blank? %>
<%= h address.address_line_3 %><br/>
<% end %>
<%= h address.city %>, <%= h address.state.abbreviation %> <%= h address.zipcode_plus_4 %><br/>
<%= link_to "Edit", edit_person_address_path(address.person,address) %>
<br/>
</li>
