<%- column_div :type => :primary do -%>
<h2>Common contacts with <%= @person.name %></h2>
<% unless @common_connections.empty? -%>
  <%- common_contacts = @common_connections.map(&:contact) -%>
  <%= will_paginate(@common_connections) %>
  <ul class="list people">
    <%= render :partial => 'people/person', :collection => common_contacts %>
  </ul>
  <%= will_paginate(@common_connections) %>
<% else %>
  <h2>No contacts in common</h2>
<% end -%>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
