<div class='span6'>
  <h2><%= t('people.edit.header') %></h2>

  <div id="profile_edit">

  <h3><%= t('people.edit.personal_details') %></h3>

    <%= error_messages_for :person %>
    <%= form_for @person do |f| %>
      <div class="control-group">
        <%= f.label t('people.edit.name'), :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, :maxlength => Person::MAX_NAME %>
        </div>
      </div>

      <% if can?(:create, @category) %>
        <span class="categoryAdd"><%= link_to t('people.edit.add_new_category'), new_category_path %></span>
      <% end %>

      <div class="control-group">
        <%= f.label t('people.edit.services_offered'), :class => 'control-label' %>
        <div class="classes">
          <%= render :partial => "shared/select_categories", :locals => { :model_name => 'person' } %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label t('people.edit.neighborhood'), :class => 'control-label' %>
          <div class="classes">
            <%= render :partial => "shared/select_neighborhoods", :locals => { :model_name => 'person' } %>
          </div>
      </div>

      <div class="control-group">
        <%= f.label t('people.edit.description'), :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :rows => 10 %>
        </div>
      </div>

      <%= render :partial => 'language', :locals => {:f => f} %>

      <div class="control-group">
        <%= f.label t('people.edit.email'), :class => 'control-label' %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label t('people.edit.web_site_url'), :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :web_site_url %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label t('people.edit.phone'), :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :phone %>
        </div>
      </div>
      <%= f.label :phoneprivacy, :class => 'checkbox' do %>
          <%= f.check_box :phoneprivacy %>
          <%= t('people.edit.share_phone_number') %>
      <% end %>

      <%- if global_prefs.email_notifications? -%>

        <br />

        <h3><%= t('people.edit.email_notification_preferences') %></h3>

        <p>
          <%= t('people.edit.email_notification_note') %>
        </p>

        <%= f.label :message_notifications, :class => "checkbox" do %>
          <%= f.check_box :message_notifications %>
          <%= t('people.edit.messages') %>
        <% end %>
        <%= f.label :broadcast_emails, :class => "checkbox" do %>
          <%= f.check_box :broadcast_emails %>
          <%= t('people.edit.broadcast_emails') %>
        <% end %>
      <%- end -%>


      <div id="business_details">
        <h3><%= t('people.edit.business_details') %></h3>

        <%= f.label :org, :class => "checkbox" do %>
          <%= f.check_box :org %>
          <%= t('people.edit.business_account') %>
        <% end %>

        <div class="control-group">
          <%= f.label t('people.edit.business_name'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :business_name %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label t('people.edit.legal_business_name'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :legal_business_name %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label t('people.edit.title'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :title %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label t('people.edit.business_type'), :class => 'control-label' %>
          <div class="controls">
            <%= render :partial => "shared/select_business_type", :locals => { :model_name => 'person' } %>
          </div>
        </div>

      </div>

      <br />

      <div class="form-actions">
        <%= f.submit t('button_update'), :class => "btn btn-primary" %>
        <%= f.submit t('button_cancel'), :id => "cancel", :class => "btn" %>
      </div>
      <input type="hidden" name="type" value="info_edit" />
  <% end %>

  <br />
  <h3><%= t('people.edit.photos') %></h3>

    <% if @person.photos.empty? %>
      <%= image_tag @person.thumbnail %>
    <% else %>
    <table>
      <% @person.sorted_photos.collect_every(N_COLUMNS) do |row| %>
      <tr>
      <% row.each do |photo| %>
        <td  style="padding-left: 1em;">
          <%= image_tag photo.picture_url(:thumbnail) %>
        </td>
      <% end %>
      </tr>
      <tr>
        <% row.each do |photo| %>
        <td style="padding-left: 1em;">
          <% if photo.primary? %>
            primary
          <% else %>
            <%= link_to t('button_select'), photo_path(photo),
                                          :method => :put %>
          <% end %>
          |
          <%= link_to image_tag("icons/close.gif"), photo_path(photo),
                                               :method => :delete %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <% end %>
    <br />
    <%= link_to t('people.edit.add_a_photo'), new_photo_path, :class => 'btn btn-primary' %>
  </div>

  <br />
  <h3><%= t('people.edit.addresses') %></h3>
  <%= render :partial => 'address', :collection => @person.addresses %>
  <br />
  <%= link_to t('people.edit.add_address'), new_person_address_path(@person), :class => 'btn btn-primary' %>
  <br />
</div>

<div class='span5'>
  <h2><%= t('people.edit.change_your_password') %></h2>

  <%= form_for @person, :html => { :id => "change_password" } do |f| %>

    <div class="control-group">
      <%= f.label t('people.edit.new_password'), :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password,
                             :size => 34,
                             :maxlength => Person::MAX_PASSWORD %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label t('people.edit.confirm_password'), :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation,
                             :size => 34,
                             :maxlength => Person::MAX_PASSWORD,
                             :value => "" %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag t('people.edit.change_password'), :class => "btn btn-primary" %>
    </div>
    <input type="hidden" name="type" value="password_edit" />
  <% end %>

  <h2>OpenID</h2>

  <%= form_for @person, :html => { :id => "openid_form" } do |f| %>
    <div class="control-group">
      <%= f.label t('people.edit.openid_identifier' ), :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :openid_identifier %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag t('people.edit.change_openid'), :class => "btn btn-primary" %>
    </div>
    <input type="hidden" name="type" value="openid_edit" />

  <% end %>

</div>
