<h1>Edit profile</h1>

<div id="profile_edit">

<%= error_messages_for :person %>

<% form_for @person do |f| %>

  <h2>Name</h2>

  <div class="form_row">
    <%= f.text_field :name, :maxlength => Person::MAX_NAME %>
  </div>
  
  <h2>Description</h2>

  <div class="form_row"><%= f.text_area :description %></div>
  
  <h2>Email</h2>

  <div class="form_row">
    <%= f.text_field :email, :maxlength => Person::MAX_EMAIL %>
  </div>
  
  <div class="form_row">
    <%= f.submit "Update" %>
  </div>
  <input type="hidden" name="type" value="info" />


<% end %>

<br />

<h2>Photos</h2>
  
  <% if @person.photos.empty? %>
    <%= image_tag @person.thumbnail %>
  <% else %>
  <table>
    <% @person.sorted_photos.collect_every(N_COLUMNS) do |row| %>
    <tr>
    <% row.each do |photo| %>
      <td><%= image_tag photo.public_filename(:thumbnail) %></td>
    <% end %>
    </tr>
    <tr>
      <% row.each do |photo| %>
      <td>
        <% if photo.primary? %>
          primary
        <% else %>
          <%= link_to "(make primary)", photo_path(photo),
                                        :method => :put %>
        <% end %>
        |
        <%= link_to image_tag("delete.png"), photo_path(photo),
                                             :method => :delete %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <% end %>
  <br />
  <%= button_to "Add a photo", new_photo_path %>
</div>

<br />

<% form_for @person, :html => { :id => "change_password" } do |f| %>

  <h2>Change Password</h2>

  <div class="form_row">
    <label for="password">Current Password</label>
    <br />
    <%= f.password_field :verify_password,
                         :maxlength => Person::MAX_PASSWORD %>
  </div>

  <div class="form_row">
    <label for="password">New Password</label>
    <br />
    <%= f.password_field :new_password,
                         :maxlength => Person::MAX_PASSWORD %>
  </div>

  <div class="form_row">
    <label for="password_confirmation">Confirm Password</label>
    <br />
    <%= f.password_field :password_confirmation, 
                         :maxlength => Person::MAX_PASSWORD,
                         :value => "" %>
  </div>
  <div class="form_row">
    <%= submit_tag 'Change password' %>
  </div>
  <input type="hidden" name="type" value="password" />


<% end %>
