<%= column_div :type => :primary do -%>
  <h2><%= t('people.edit.header') %></h2>

  <div id="profile_edit">

  <h3><%= t('people.edit.personal_details') %></h3>

    <%= error_messages_for :person %>
    <%= form_for @person do |f| %>
      <div class="form_row">
        <label for="person_name"><%= t('people.edit.name') %></label>
        <%= f.text_field :name, :maxlength => Person::MAX_NAME %>
      </div>
      <div class="form_row">
          <label for="person_phoneprivacy"
            class="checkbox"><%= t('people.edit.share_phone_number') %></label>
          <%= f.check_box :phoneprivacy %>
      </div>
      <div class="form_row">
        <label for="person_phone"><%= image_tag "icons/phone.gif", :class => "icon", :alt => "Phone" %> <%= t('people.edit.phone') %></label>
        <%= f.text_field :phone %>
      </div>

  <div class="form_row full">
        <label for="person_categories"><%= t('people.edit.services_offered') %>
        </label>
        <span class="categoryAdd"><%= link_to t('people.edit.add_new_category'), new_category_path %></span>
        <%= render :partial => "shared/select_categories", :locals => { :model_name => 'person' } %>
  </div>

  <div class="form_row full">
        <label for="person_neighborhoods"><%= t('people.edit.neighborhood') %>
        </label>
        <%= render :partial => "shared/select_neighborhoods", :locals => { :model_name => 'person' } %>
  </div>

      <div class="form_row">
        <label for="person_description"><%= t('people.edit.description') %>
        </label>

        <%- unless @preview.nil? %>
          <%= display @preview %>
        <%- end -%>
        <%= f.text_area :description %>
      </div>

      <%= render :partial => 'language', :locals => {:f => f} %>

      <div class="form_row">
        <label for="person_email"><%= t('people.edit.email') %></label>
        <%= f.email_field :email %>
      </div>

      <div class="form_row">
        <label for="person_web_site_url"><%= t('people.edit.web_site_url') %></label>
        <%= f.text_field :web_site_url %>
      </div>

      <%- if global_prefs.email_notifications? -%>

        <br />

        <h3><%= t('people.edit.email_notification_preferences') %></h3>

        <p>
          <%= t('people.edit.email_notification_note') %>
        </p>


        <div class="form_row">
          <p>
          <label for="message_notifications"
                 class="checkbox"><%= t('people.edit.messages') %></label>
          <%= f.check_box :message_notifications %>
          </p>
          <p>
            <%= f.check_box :broadcast_emails %>
            <label for="broadcast_emails"
                 class="checkbox"><%= t('people.edit.broadcast_emails') %></label>
          </p>
        </div>
      <%- end -%>

      <div class="form_row">
        <p>
        <label for="org"
               class="checkbox"><%= t('people.edit.business_account') %>:</label>
        <%= f.check_box :org %>
        </p>
      </div>

      <div id="business_details">
        <h3><%= t('people.edit.business_details') %></h3>

        <div class="form_row">
          <label for="person_business_name"><%= t('people.edit.business_name') %></label>
          <%= f.text_field :business_name %>
        </div>

        <div class="form_row">
          <label for="person_legal_business_name"><%= t('people.edit.legal_business_name') %></label>
          <%= f.text_field :legal_business_name %>
        </div>

        <div class="form_row">
          <label for="person_title"><%= t('people.edit.title') %></label>
          <%= f.text_field :title %>
        </div>

        <div class="form_row full">
          <label for="person_business_type"><%= t('people.edit.business_type') %>
          </label>
          <%= render :partial => "shared/select_business_type", :locals => { :model_name => 'person' } %>
        </div>

      </div>

      <br />

      <div class="form_row">
        <%= f.submit t('button_update'), :class => "button" %>
        <%= f.submit t('button_cancel'), :id => "cancel", :class => "button" %>
      </div>
      <input type="hidden" name="type" value="info_edit" />
  <% end %>

  <br />

  <h3><%= t('people.edit.photos') %></h3>

    <% if @person.photos.empty? %>
      <%= image_tag @person.thumbnail %>
    <% else %>
    <table>
      <% @person.sorted_photos.collect_every(N_COLUMNS) do |row| %>
      <tr>
      <% row.each do |photo| %>
        <td  style="padding-left: 1em;">
          <%= image_tag photo.public_filename(:thumbnail) %>
        </td>
      <% end %>
      </tr>
      <tr>
        <% row.each do |photo| %>
        <td style="padding-left: 1em;">
          <% if photo.primary? %>
            primary
          <% else %>
            <%= link_to t('button_select'), photo_path(photo),
                                          :method => :put %>
          <% end %>
          |
          <%= link_to image_tag("icons/close.gif"), photo_path(photo),
                                               :method => :delete %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <% end %>
    <br />
    <%= link_to t('people.edit.add_a_photo'), new_photo_path, :class => 'button' %>
  </div>

  <br />
  <h3><%= t('people.edit.addresses') %></h3>
  <%= render :partial => 'address', :collection => @person.addresses %>
  <div class="status-btn" style="float: left">
    <input type="button" name="update" class="button" value="<%= t('people.edit.add_address') %>" id="update-submit" onclick="document.location='<%= new_person_address_path(@person) %>';" />
  </div>
  <br />
<%- end -%>

<%= column_div :type => :secondary do -%>
  <h2><%= t('people.edit.change_your_password') %></h2>

  <%= form_for @person, :html => { :id => "change_password" } do |f| %>

    <div class="form_row">
      <label for="password"><%= t('people.edit.new_password') %></label>
      <%= f.password_field :password,
                           :size => 34,
                           :maxlength => Person::MAX_PASSWORD %>
    </div>

    <div class="form_row">
      <label for="password_confirmation"><%= t('people.edit.confirm_password') %></label>
      <%= f.password_field :password_confirmation,
                           :size => 34,
                           :maxlength => Person::MAX_PASSWORD,
                           :value => "" %>
    </div>
    <div class="form_row">
      <%= submit_tag t('people.edit.change_password'), :class => "button" %>
    </div>
    <input type="hidden" name="type" value="password_edit" />
  <% end %>

  <h2>OpenID</h2>

  <%= form_for @person, :html => { :id => "openid" } do |f| %>
    <div class="form_row">
      <label for="openid_identifier"><%= t('people.edit.openid_identifier' ) %></label>
      <%= f.text_field :openid_identifier %>
    </div>
    <div class="form_row">
      <%= submit_tag t('people.edit.change_openid'), :class => "button" %>
    </div>
    <input type="hidden" name="type" value="openid_edit" />

  <% end %>
<%- end -%>
