<%= column_div :type => :primary do -%>
  <h2><%= (params[:action] == 'admin_groups' ? "Admin " : "" ) + "Groups" %> <%= t('for') %> <%= h @person.display_name %></h2>

  <% unless @groups.empty? -%>
    <ul class="list people">
      <%= render :partial => @groups %>
    </ul>
  <% else %>
    <h3><%= t('people.groups.no_groups') %></h3>
  <% end -%>
  
  <%- if params[:action] == 'admin_groups' -%>
    <%= link_to t('people.groups.new_group'), new_group_path() %>
  <%- end -%>
  
<%- end -%>

<%= column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
<%- end -%>
