<%- column_div :type => :primary do -%>
  <% unless @people.empty? -%>
    <h1>People</h1>
    <%= will_paginate %>
    <div class="section">
      <%= render :partial => @people %>
    </div>
    <%= will_paginate %>
  <% end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>