<%- column_div :type => :primary do -%>
  <% unless @people.empty? -%>
    <%= will_paginate %>
    <ul class="results">
      <%= render :partial => @people %>
    <ul>
    <%= will_paginate %>
  <% else %>
    <h1>No results to show.</h1>
  <% end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>