<%- column_div :type => :primary do -%>

  <%- if logged_in? and current_person.admin? -%>
    <%= link_to("People administration", admin_people_path) %>
  <%- end -%>
  <% unless @people.empty? -%>
    <%= will_paginate %>
    <%= raster image_links(@people, :captions => @people.map(&:name),
                                    :image => :thumbnail) %>
    <%= will_paginate %>
  <% else %>
    <h2>No results to show.</h2>
  <% end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'search/people' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>