<%- column_div :type => :primary do -%>
  <h2><%= t('people.invitations.header') %> <%= h @person.name %></h2>
  <%- unless @invitations.empty? -%>
    <ul class="list people">
      <%- @invitations.each do |invitation| -%>
        <%- mem = Membership.mem(current_person, invitation.group) -%>
        <li>
          <div class="profile-image">
            <%= image_link invitation.group, :class => "photo", :image => :thumbnail%>
          </div>
          <p><%= person_link invitation.group, :class => "url fn" %></p><br />
          <p><%= link_to t('people.invitations.respond'), edit_membership_path(mem) %></p>
        </li>
      <%- end -%>
    </ul>
  <%- else -%>
    <h3><%= t('people.invitations.no_invitations') %></h3>
  <%- end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
