<%= column_div :type => :primary do -%>
  <%- if global_prefs.app_name.blank? -%>
  <h2><%= t('people.new.header') %></h2>
  <%- else -%>
  <h2><%= t('people.new.header') %> <%= t('for') %> <%= global_prefs.app_name %></h2>
  <%- end -%>

  <%= error_messages_for :person %>
  <%= display global_prefs.registration_intro %>
  <%= form_for @person do |f| -%>

  <div class="form_row">
    <label for="language"><%= t('people._language.language') %></label>
    <%= f.select :language, [[t('people._language.english'),'en'],[t('people._language.spanish'),'es'],[t('people._language.french'),'fr'],[t('people._language.greek'),'gr']], {:selected => params[:locale]}, {:onchange => "document.location='/signup?locale=' + this.value"} %>
  </div>
  <fieldset id="creds">
<span id="standard">
  <div class="form_row">
    <label for="email">
      <%= t('people.new.email_address') %>
      <span class="small">(<%= t('people.new.never_made_public') %><%= t('people.new.comma_will_be_verified') if global_prefs.email_verifications? %>)
      </span>
    </label>
    <%= f.text_field :email, :maxlength => Person::MAX_EMAIL %>
    <%= set_focus_to "person_email" %>  
  </div>

  <div class="form_row">
    <label for="name"><%= t('people.new.name') %> 
      <span class="small"><%= t('people.new.will_be_displayed') %></span></label>
    <%= f.text_field :name, :maxlength => Person::MAX_NAME %>
  </div>

  <% if @person.openid_identifier.blank? %>
    <div class="form_row">
      <label for="password"><%= t('people.new.password') %></label>
      <%= f.password_field :password, :maxlength => Person::MAX_PASSWORD %>
    </div>

    <div class="form_row">
      <label for="password_confirmation"><%= t('people.new.confirm_password') %></label>
      <%= f.password_field :password_confirmation, 
                           :maxlength => Person::MAX_PASSWORD,
                           :value => "" %>
    </div>
  <%- end -%>
</span>

<span id="openid">
  <div class="form_row">
    <label for="openid_identifier"><%= t('people.new.openid_url') %></label>
    <%= f.text_field :openid_identifier %>
  </div>
</span>
</fieldset>

<div style="text-align: center; font-size: 12px; padding: 10px;">
    <span id="noscript" style="display:none;">
      <span id="openid_link"><a href="#" onclick="show_openid(); return false;"><%= t('people.new.or_signup_with_openid') %></a></span>
      <span id="standard_link"><a href="#" onclick="show_standard(); return false;"><%= t('people.new.back_to_regular_signup') %></a></span>
    </span>

</div>
  <div class="form_row full">
        <label for="person_categories"><%= t('people.new.which_services') %>
        </label>
        <%= render :partial => "shared/select_categories", :locals => { :model_name => 'person' } %>
  </div>
  
  <div class="form_row">
    <label for="person_description"><%= t('people.new.something_about_yourself') %>
    </label>

    <%- unless @preview.nil? -%>
      <%= display @preview %>
    <%- end -%>
    
    <%= f.text_area :description %>
  </div>  

  <div class="form_row full">
        <label for="person_categories"><%= t('people.new.neighborhood') %>
        </label>
        <%= render :partial => "shared/select_neighborhoods", :locals => { :model_name => 'person' } %>
  </div>

  <div class="form_row">
    <label for="zipcode"><%= t('people.new.zipcode') %></label>
    <%= f.text_field :zipcode %>
  </div>
  
  <div class="form_row">
    <%= f.check_box :accept_agreement, :class => 'checkbox' %> <%= t('people.new.i_accept_the') %> <%= link_to t('people.new.member_agreement'), agreement_path, :target => '_blank', :class => 'small' %>
  </div>

  <div class="form_row">
    <%= submit_tag t('people.new.signup_button'), :class => "button" %>
  </div>

  <% end %>
<%- end -%>
