<%- column_div :type => :primary do -%>
  <%- if global_prefs.app_name.blank? -%>
  <h2>Sign up</h2>
  <%- else -%>
  <h2>Sign up for <%= global_prefs.app_name %></h2>
  <%- end -%>

  <%= error_messages_for :person %>

  <% form_for @person do |f| -%>

  <div class="form_row">
    <label for="person_email">
      Email address <span class="small">(never made
      public<%= ", will be verified" if global_prefs.email_verifications? %>)
      </span>
    </label>
    <%= f.text_field :email, :maxlength => Person::MAX_EMAIL %>
    <%= set_focus_to "person_email" %>  
  </div>

  <div class="form_row">
    <label for="person_name">Name 
      <span class="small">(will be displayed)</span></label>
    <%= f.text_field :name, :maxlength => Person::MAX_NAME %>
  </div>

  <div class="form_row">
    <label for="person_password">Password</label>
    <%= f.password_field :password, :maxlength => Person::MAX_PASSWORD %>
  </div>

  <div class="form_row">
    <label for="person_password_confirmation">Confirm Password</label>
    <%= f.password_field :password_confirmation, 
                         :maxlength => Person::MAX_PASSWORD,
                         :value => "" %>
  </div>
  <div class="form_row">
    <%= submit_tag 'Sign up', :class => "button" %>
  </div>
  <% end %>
<%- end -%>
