<%- column_div :type => :primary do -%>
  
  <h1>Profile for <%= @person.name %></h1>

  <%- unless current_person?(@person) -%>
    <%= email_link @person %>
    <%- unless Connection.exists?(@person, current_person) -%>
      | 
      <%= link_to "Connect with #{@person.name}!",
                  person_connections_path(@person), :method => :post %>
    <%- end -%>
    <%- if logged_in? and Connection.connected?(@person, current_person) -%>
      | <%= @person.name %> is one of your contacts
    <%- end -%>
  <%- end -%>

  <div>
    <p>
    <%= image_tag @person.main_photo %>
    
    <%= sanitize @person.description %></p>
  </div>
  
  <%= render :partial => 'recent_activity' %>
  <%= render :partial => 'wall' %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
  <%= render :partial => 'shared/contacts_preview',
             :locals => { :person => @person } %>  
<%- end -%>
