<h3 style="clear">About <%= @person.name %></h3>

<%= email_link @person %>

<div>
  <%= image_tag @person.main_photo %>
</div>
<p><%= sanitize @person.description %></p>

<%- if logged_in? and @person == current_person -%>
  <%= link_to "Edit profile", edit_person_path(@person) %>
<%- end -%>