<div id="tabCol">
  <ul> <!-- this list sets up the jQuery tabs, with the content of each tab in the linked div -->
	<li><a href="#tProfile"><span>Profile</span></a></li>
	<li><a href="#tRecentActivity"><span>Recent Activity</span></a></li>
	<li><a href="#tWall"><span>Wall</span></a></li>
	<li><a href="#tContacts"><span>Contacts</span></a></li>
	<li><a href="#tPhotos"><span>Photos</span></a></li>
  </ul>
  <div id="tProfile" class="profile vcard">
	<%= render_partial 'profile' %>
  </div>

  <div id="tRecentActivity">
    <%= render :partial => 'recent_activity' %>
  </div>
  <div id="tWall">
    <%= render :partial => 'wall' %>
  </div>

  <div id="tPhotos">
	<%= render_partial 'photos/photos' %>
  </div>

  <div id="tContacts">
	  <div class="innerTabLeft">
        <h2>Contacts for <%= @person.name %></h2>
		<% if @person.connections.count > Person::MAX_DEFAULT_CONTACTS %>
	      <div class='button see_all_link'><%= link_to "See All Contacts", person_connections_path(@person) %></div>
		<% end %>
        <%= render :partial => 'shared/contacts_grid',
	                 :locals => { :contacts => @contacts } %>
		<%= render :partial => 'common_contacts' %>
	  </div>
	  <div class="innerTabRight">
		<%= render :partial => 'searches/box' %>
	  </div>
	  <div class="clear">
	  </div>
  </div>
</div>

