<% set_main_title(h("About #{@person.name}")) %>

<div class="column first span-14">
  <%- unless current_person?(@person) -%>
    <%= email_link @person %>
    <%- unless Connection.exists?(@person, current_person) -%>
      | 
      <%= link_to "Connect with #{@person.name}!",
                  person_connections_path(@person), :method => :post %>
    <%- end -%>
  <%- end -%>

  <div>
    <p>
    <%= image_tag @person.main_photo %>
    
    <%= sanitize @person.description %></p>
  </div>
  
  <%= render :partial => 'wall' %>
</div>

<div class="column last span-6">
  minifeed
</div>