<% tabs = TabsRenderer.new(self, :id => "tabCol") %>
  <% tabs.create('tProfile', 'Profile', :class => "profile vcard") do %>
	<%= render_partial 'profile' %>
  <% end %>

  <% tabs.create('tRecentActivity', 'Recent Activity') do %>
    <%= render :partial => 'recent_activity' %>
  <% end %>

  <% tabs.create('tContacts', 'Contacts') do %>
    <%= render :partial => 'profile_contacts' %>
  <% end %>

  <% tabs.create('tBlog', 'Blog') do %>
	<%= render :partial => 'shared/blog' %>
  <% end %>

  <% tabs.create('tWall', 'Wall') do %>
    <%= render :partial => 'wall' %>
  <% end %>

  <% tabs.create('tPhotos', 'Photos') do %>
	  <h2><%= @person.name %>'s Photos</h2>
	  <div class="button_container">
		    <div class="button"><%= link_to "Add Photo", new_photo_path() %></div>
		    <div class="clear"></div>
	  </div>
	  <% unless @person.photos.empty? %>
	  <ul class="">
		  <%=render :partial=>"shared/photo", :collection => @person.photos%>
	  </ul>
	  <% end %>
  <% end %>
<%= tabs.render %>

