<div id="tabCol">
  <ul> <!-- this list sets up the jQuery tabs, with the content of each tab in the linked div -->
	<li><a href="#tProfile"><span>Profile</span></a></li>
	<li><a href="#tRecentActivity"><span>Recent Activity</span></a></li>
	<li><a href="#tContacts"><span>Contacts</span></a></li>
	<li><a href="#tWall"><span>Wall</span></a></li>
  </ul>
  <div id="tProfile" class="profile vcard">
    <h2>
	  Profile: <span class="fn n"><%= h @person.name %></span>
	  <%- if current_person?(@person) -%>
		<div class="profileEditLink"><%= link_to "Edit", edit_person_path(@person) %></div>
	  <%- end -%>
	</h2>
    <%- if admin? and not @person.active? -%>
      <p class="error">This person is not active</p>
    <%- end -%>
    <%- if current_person?(@person) -%>
      <%- if current_person.description.blank? -%>
        <div class="error">
          Your description is blank.
          <%= link_to "Click here to add a description",
                      edit_person_path(@person) %>
        </div>
      <%- end -%>
    <%- end -%>
    <div class="toolbox">
      <%= image_tag @person.main_photo, :class => "profile-image photo",
                                        :alt => h(@person.name) %>

      <%- unless current_person?(@person) -%>
        <ul class="tools">
         <%- if logged_in? -%>
          <%- unless Connection.exists?(@person, current_person) -%>
            <li>
            <%= link_to "Connect with #{h @person.name}!",
                        person_connections_path(@person), :method => :post %>
            </li>
          <%- end -%>
          <%- if Connection.connected?(@person, current_person) -%>
          <li>
            <%= h @person.name %> is one of your contacts 
            <%= link_to image_tag("icons/close.gif", :class => 'actioner'), 
               		connection_path(Connection.conn(current_person, @person)), 
               		:method => :delete,
               		:confirm => "Are you sure you want to remove this connection?",
 					:title => "Are you sure you want to remove this connection?" %>
          </li>
          <%- end -%>
          <li><%= email_link(@person, :use_image => false) %></li>
        <%- end -%>
          <li><%= link_to "#{h @person.name}'s blog",
                  blog_path(@person.blog) %></li>
          <%- if current_person.admin? -%>
          <li>
          <%- activity = @person.deactivated? ? "activate" : "deactivate" -%>
          <%= link_to activity, 
                      admin_person_path(@person, :task => "deactivated"),
                      :method => :put %>
          </li>
          <%- end -%>
        </ul>
      <%- end -%>
      
      <%- if current_person?(@person) and current_person.admin? -%>
        <ul class="tools">
          <li><%= email_link @person %> to everyone</li>
        </ul>
      <%- end -%>
    </div>
    <%= display @person.description %>
	<div class="clear"></div>
  </div>

  <div id="tRecentActivity">
    <%= render :partial => 'recent_activity' %>
  </div>
  <div id="tWall">
    <%= render :partial => 'wall' %>
  </div>

  <div id="tContacts">
	  <div class="innerTabLeft">
        <h2>Contacts for <%= @person.name %></h2>
		<div id="contacts_grid">
	      <%= render :partial => 'shared/contacts_grid',
	                 :locals => { :contacts => @contacts } %>
	    </div>
		<%= render :partial => 'common_contacts' %>
	  </div>
	  <div class="innerTabRight">
		<%= render :partial => 'searches/box' %>
	  </div>
	  <div class="clear">
	  </div>
  </div>
</div>

