<%= column_div :type => :primary do -%>
  <div class="profile vcard">
    <%- if @person.openid_identifier.nil? -%>
      <h2><%= t('people.show.header') %> <span class="fn n"><%= h @person.name %></span></h2>
    <%- else -%>
    <h2><%= t('people.show.header') %> <span class="fn n"><%= link_to h(@person.name), @person.openid_identifier, :title => @person.openid_identifier %></span>&nbsp;<%= image_tag("login-bg.gif") %></h2>
    <%- end -%>
    <%- if admin? and not @person.active? -%>
      <p class="error"><%= t('people.show.not_active') %></p>
    <%- end -%>
    <%- if current_person?(@person) -%>
      <%- if current_person.description.blank? -%>
        <div class="error">
          <%= t('people.show.description_blank') %>
          <%= link_to t('people.show.add_description'),
                      edit_person_path(@person) %>
        </div>
      <%- else -%>
        <div class="notice">
          <%= t('people.show.own_profile') %>
          <%= link_to t('people.show.edit_it'), edit_person_path(@person) %>
        </div>
      <%- end -%>
      <%- if current_person.address && Person::DEFAULT_ZIPCODE_STRING == current_person.address.zipcode_plus_4 %>
        <div class="error">
          <%= link_to t('people.show.update_location'),
                      edit_person_path(@person) %>. 
          <%= t('people.show.address_remain_private') %>
        </div>
      <%- end -%>
    <%- end -%>
    <div class="toolbox">
      <%= image_tag @person.main_photo, :class => "profile-image photo",
                                        :alt => h(@person.name) %>

        <ul class="tools">
        <%- unless current_person?(@person) -%>
          <%- if logged_in? -%>
            <li><%= exchange_link @person %></li>
            <li><%= email_link @person %></li>
            <%= render :partial => 'account', :collection => @person.accounts %>
          <%- end -%>
          <%- if current_person.admin? -%>
            <li>
              <%= link_to t('people.show.switch_user'), su_person_path(@person) %>
            </li>
            <%- if global_prefs.whitelist? -%>
              <li>
              <%- activator = @person.activator? ? "demote" : "promote to activator" -%>
              <%= link_to activator, 
                          person_path(@person, :task => "activator"),
                          :method => :put %>
              </li>
            <%- end -%>
          <%- end -%>
          <%- if current_person.admin? || current_person.activator? -%>
            <li>
            <%- activity = @person.deactivated? ? "activate" : "deactivate" -%>
            <%= link_to activity, 
                        person_path(@person, :task => "deactivated"),
                        :method => :put %>
            </li>
          <%- end -%>
        <% else -%>
          <%- if logged_in? -%>
            <%= render :partial => 'account', :collection => @person.accounts %>
          <%- end -%>
        <%- end -%>
      </ul>
    </div>
    <ul>
      <%= render :partial => 'shared/neighborhood', :collection => @person.neighborhoods %>
    </ul>
    <%= display @person.formatted_categories, :class => "meta" %>
    <% if @person.phoneprivacy? %>
    <% unless @person.phone.nil? %>
      <div>
        <%= image_tag "icons/phone.gif", :class => "icon", :alt => "Phone" %> <span class="small"><%= t('people.show.phone') %></span> <span class="added small"><%= h @person.phone %></span>
      </div>
      <%- end -%>
    <%- end -%>
    <%= markdown(@person.description) %>
  </div>

  <%= render :partial => '/shared/recent_activity' %>
<%- end -%>

<%= column_div :type => :secondary do -%>
  <%= render :partial => 'groups', 
             :locals => {:groups => @person.own_groups, :title => "Admin Groups", :link => "admin"} %>
  <%= render :partial => 'groups', 
             :locals => {:groups => @groups, :title => "Groups", :link => "groups"} %>
  <%= render :partial => 'searches/box' %>
  <%- if global_prefs.zipcode_browsing? -%>
    <%= render :partial => 'zip', :collection => @zips %>
  <%- end -%>
<%- end -%>

