<%- column_div :type => :primary do -%>
  
  <div class="profile vcard">
    <h2>Profile: <span class="fn n"><%= h @person.name %></span></h2>



    <div class="toolbox">
      <%= image_link @person, :class => "profile-image photo",
                              :image => "main_photo" %>
      <ul class="tools">
        <li>foo</li>
      </ul>
    </div>

    <div class="note"><%= display @person.description %></div>
  </div>
  <%= render :partial => 'recent_activity' %>
  <%= render :partial => 'wall' %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
  <%- if Connection.connected?(@person, current_person) -%>
    <%= render :partial => 'shared/contacts_preview',
               :locals => { :person => @person } %>  
  <%- end -%>
<%- end -%>

