<% set_main_title(h("About #{@person.name}")) %>

<%- unless current_person?(@person) -%>
  <%= email_link @person %>
  <%- unless Connection.exists?(@person, current_person) -%>
    | 
    <%= link_to "Connect with #{@person.name}!",
                person_connections_path(@person), :method => :post %>
  <%- end -%>
<%- end -%>

<div>
  <%= image_tag @person.main_photo %>
</div>
<p><%= sanitize @person.description %></p>


<%= render :partial => 'wall' %>
