<%- column_div :type => :primary do -%>
  <div class="profile vcard">
    <h2>Profile: <span class="fn n"><%= h @person.name %></span></h2>
    <%- if current_person?(@person) -%>
      <div class="notice">
        You are viewing your own profile.
        <%= link_to "Click here to edit it", edit_person_path(@person) %>
      </div>
    <%- end -%>
    <div class="toolbox">
      <%= image_tag @person.main_photo, :class => "profile-image photo",
                                        :alt => h(@person.name) %>

      <%- unless current_person?(@person) -%>
        <ul class="tools">
         <%- if logged_in? -%>
          <%- unless Connection.exists?(@person, current_person) -%>
            <li>
            <%= link_to "Connect with #{h @person.name}!",
                        person_connections_path(@person), :method => :post %>
            </li>
          <%- end -%>
          <%- if Connection.connected?(@person, current_person) -%>
          <li><%= h @person.name %> is one of your contacts </li>
    <li><%= link_to "break up", 
      connection_path(Connection.conn(current_person,@person)), 
      :method => :delete,
            :confirm => "Are you sure you want to break up with #{@person.name}" %></li>
          <%- end -%>
          <li><%= email_link @person %></li>
        <%- end -%>
          <li><%= link_to "#{h @person.name}'s blog",
                  blog_path(@person.blog) %></li>
        </ul>
      <%- end -%>
    </div>
    <%= display @person.description %>
  </div>

  <%= render :partial => 'recent_activity' %>
  <%= render :partial => 'wall' %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
  <%- if logged_in? -%>
    <%= render :partial => 'shared/contacts_preview',
               :locals => { :person => @person } %>
    <%= render :partial => 'common_contacts' %>
  <%- end -%>
<%- end -%>

