<% if PersonMailer.global_prefs.whitelist? %>
  <%= t('person_mailer.email_verification.message_whitelist') %>
<% else %>
  <%= t('person_mailer.email_verification.message_default') %>
<% end %>

<a href="http://<%= @server_name %>/people/verify/<%= @code %>">http://<%= @server_name %>/people/verify/<%= @code %></a>

<%= t('person_mailer.email_verification.thanks') %> 
