<div style="background-color:rgb(245,245,245);border-bottom:2px rgb(200,200,200) solid;padding:5px 10px;margin:20px 0;margin:80px 0 0 0">
<h2 style="font-size:18px;color:rgb(0,0,0)">[<%= @req.name %>] <%= t('person_mailer.req_notification.matches_a_skill_category_you_have') %></h2>
</div>
<div style="font-size:14px;color:rgb(50,50,50);border-bottom:1px #555 dotted">
  <div style="background:rgb(255,255,225);padding:5px;">
    <p><%= req_url(@req) %></p>
    <p><%= markdown @req.description.to_s %></p>
    <p><%= t('person_mailer.req_notification.requested_by') %>: <%= @req.person.display_name %></p>
  </div>
</div>

