<%#
    display this bid, only when(1 or 2 or 3 or 4)
    1. admin close the public/private bids feature
    2. user who made the request chooses to public its bids
    3. current user made this request
    4. current user made this bid
 %>
<% if PublicBid.close? || bid.req.public_bid || current_person?(bid.req.person) || current_person?(bid.person) %>
<li class="bid">
  <a name="bid_<%= bid.id %>"></a>
  <div class="profile-image">
    <%= image_link bid.person, :image => :thumbnail %>
    <%= image_tag "icons/new.gif", :class => "icon", :alt => "Bid" %>
  </div>
  <%= form_for :bid, :url => req_bid_path(bid.req, bid), :html => {:method => :put, :class => 'edit_bid'} do |f| %>
  <% if current_person?(bid.req.person) && bid.requestor_event_for_current_state %>
    <%= hidden_field_tag :aasm_event, bid.requestor_event_for_current_state %>
    <%= f.submit bid.requestor_event_for_current_state %><%= waiting_image %>
  <% elsif current_person?(bid.person) && bid.bidder_event_for_current_state %>
    <%= hidden_field_tag :aasm_event, bid.bidder_event_for_current_state %>
    <%= f.submit bid.bidder_event_for_current_state %><%= waiting_image %>
  <%- end -%>
<%- end -%>
  <p>
  <%= h bid.unit %> <%= t('bid') %>: <%= h bid.estimated_hours %> - <%= t('bids.bid.expires') %> <%= relative_time_ago_in_words(bid.expiration_date) %>
  </p>
  <p class="meta">
<% if bid.state != 'offered' %><%= t('bids.bid.accepted') %> <%= t( 'ago_time', :date => time_ago_in_words(bid.accepted_at)) -%> <br><% end %>   <%= t('bids.bid.submitted_by') %> <%= person_link bid.person %>
  <%= t( 'ago_time', :date => time_ago_in_words(bid.created_at)) %>
    <% if admin? || current_person?(bid.person) -%>
      | <%= link_to t('button_delete'), req_bid_path(bid.req,bid), :confirm => t('are_you_sure'), :method => :delete %>
    <% end -%>
    <br>
    <% if current_person?(bid.req.person) && !current_person.address.nil? && !bid.person.address.nil? && !current_person?(bid.person) -%>
      <%= number_with_precision(bid.person.address.distance_to(current_person.address), :precision => 1).to_s %> <%= t('miles_away') %>
    <% end -%>
  </p>
</li>
<% end %>