<h1>Listing bids</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Estimated hours</th>
    <th>Actual hours</th>
    <th>Expiration date</th>
  </tr>

<% for bid in @bids %>
  <tr>
    <td><%=h bid.status_id %></td>
    <td><%=h bid.estimated_hours %></td>
    <td><%=h bid.actual_hours %></td>
    <td><%=h bid.expiration_date %></td>
    <td><%= link_to 'Show', bid %></td>
    <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
    <td><%= link_to 'Destroy', bid, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bid', new_bid_path %>
