<li>
  <a name="post_<%= forum_post.id %>"></a>
  <div class="profile-image">
    <%= image_link forum_post.person, :image => :thumbnail %>
    <%= image_tag "icons/comment.gif", :class => "icon" %>
  </div>
  <p class="meta"><%= person_link forum_post.person %> posted
      <%= time_ago_in_words(forum_post.created_at) %> ago
      <%- if current_person?(forum_post.person) or admin? -%>
        | <%= link_to "Edit",
                edit_forum_topic_post_path(@forum, @topic, forum_post) %>
      <%- end -%>
      <%- if admin? -%>
        | <%= link_to "Destroy",
                      forum_topic_post_path(@forum, @topic, forum_post),
                      :confirm => 'Are you sure?',
                      :method => :delete %>
      <%- end -%>
  </p>
  <div class="forum">
  <%= display forum_post.body, nil, :width => 50 %>
  </div>
</li>