<li class="forum_post post_id_<%= forum_post.id %>" data-time="<%= forum_post.created_at.to_i %>">
  <a name="post_<%= forum_post.id %>"></a>
  <div class="profile-image">
    <%= image_link forum_post.person, :image => :thumbnail %>
    <%= image_tag "icons/comment.gif", :class => "icon" %>
  </div>
  <p class="meta"><%= person_link forum_post.person %> <%= t('posted') %>
  <%= t('ago_time', :date => time_ago_in_words(forum_post.created_at)) %>
      <%- if can? :destroy, forum_post -%>
            <%= link_to t('button_delete'),forum_topic_post_path(@forum, @topic, forum_post),:class => 'delete_post' %>
      <%- end -%>
  </p>
  <div class="forum">
  <%= markdown(forum_post.body) %>
  </div>
</li>
