<li class="forum_post" data-time="<%= forum_post.created_at.to_i %>">
  <a name="post_<%= forum_post.id %>"></a>
  <div class="profile-image">
    <%= image_link forum_post.person, :image => :thumbnail %>
    <%= image_tag "icons/comment.gif", :class => "icon" %>
  </div>
  <p class="meta"><%= person_link forum_post.person %> <%= t('posted') %>
  <%= time_ago_in_words(forum_post.created_at) %> <%= t('ago') %>
      <%- if current_person?(forum_post.person) or admin? -%>
        | <%= link_to t('button_edit'),
                edit_forum_topic_post_path(@forum, @topic, forum_post) %>
      <%- end -%>
      <%- if admin? -%>
        | <%= link_to t('button_delete'),
                      forum_topic_post_path(@forum, @topic, forum_post),
                      :confirm => t('are_you_sure'),
                      :method => :delete %>
      <%- end -%>
  </p>
  <div class="forum">
  <%= display simple_format_without_paragraph forum_post.body %>
  </div>
</li>
