<li class="topic">
  <a name="topic_<%= topic.id %>"></a>
  <div class="profile-image">
    <%= image_link topic.person, :image => :thumbnail %>
    <%= image_tag "icons/new.gif", :class => "icon", :alt => "Topic" %>
  </div>
  <p>
  <%- n = topic.posts.count -%>
  <%= link_to h(topic.name), 
              forum_topic_path(topic.forum, topic),
              :class => "show-follow" %>
  <span class="meta">(<%= pluralize(n, t('post')) %>)</span>
  </p>
  <p class="meta">
  <%= t('topics.partial.created_by') %> <%= person_link topic.person %>
  <%= time_ago_in_words(topic.created_at) %> <%= t('ago') %>
    <%- if can? :destroy, topic -%>
      <%= link_to t('button_delete'), forum_topic_path(topic.forum, topic), :class => "delete_topic" %>
    <%- end -%>
  </p>
</li>
