<li class="topic">
  <a name="topic_<%= topic.id %>"></a>
  <div class="profile-image">
    <%= image_link topic.person, :image => :thumbnail %>
    <%= image_tag "icons/new.gif", :class => "icon", :alt => "Topic" %>
  </div>
  <p>
  <%- n = topic.posts.count -%>
  <%= link_to h(topic.name), 
              forum_topic_path(@forum, topic, :comments => n),
              :class => "show-follow" %>
  <span class="meta">(<%= pluralize(n, "post") %>)</span>
  </p>
  <p class="meta">
    Created by <%= person_link topic.person %>
    <%= time_ago_in_words(topic.created_at) %> ago
    <%- if admin? -%>
      | <%= link_to "Edit",  edit_forum_topic_path(@forum, topic) %>
      | <%= link_to "Destroy",  forum_topic_path(@forum, topic),
                                :confirm => 'Are you sure?',
                                :method  => :delete %>
    <%- end -%>
  </p>
</li>