    <div class="title">
      <a name="topic_<%= topic.id %>"></a>
      <%- if admin_view? -%>
      <%= link_to topic.name, 
                  admin_forum_topic_path(@forum, topic) %>
      
      <%- else -%>
      <%= link_to topic.name, 
                  forum_topic_path(@forum, topic) %>
      <%- end -%>
      <div class="time">
        Created by <%= person_link topic.person %>
        <%= time_ago_in_words(topic.created_at) %> ago
        <%- if admin_view? -%>
          | <%= link_to "Destroy",
                   forum_topic_path(@forum, topic),
                   :confirm => 'Are you sure?',
                   :method  => :delete %>
        <%- end -%>
      </div>
    </div>