<%- column_div :type => :primary do -%>
  <table>
    <tr><th colspan="2">Discussion topics</th></tr>
    <%- @topics.each do |topic| -%>
    <tr>
      <td>
        <a name="topic_<%= topic.id %>"></a>
        <%- if admin_view? -%>
        <%= link_to topic.name, 
                    admin_forum_topic_posts_path(@forum, topic, 
                      :posts => topic.posts.count) %>
        
        <%- else -%>
        <%= link_to topic.name, 
                    forum_topic_posts_path(@forum, topic, 
                                           :posts => topic.posts.count) %>
        <%- end -%>
        <div class="time">
          Created by <%= link_to topic.person.name, topic.person %>
          <%= time_ago_in_words(topic.created_at) %> ago
          <%- if admin_view? -%>
            | <%= link_to "Destroy",
                     forum_topic_path(@forum, topic),
                     :confirm => 'Are you sure?',
                     :method  => :delete %>
          <%- end -%>
        </div>
      </td>
    </tr>
    <%- end -%>
  </table>

<%= will_paginate %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>