<%= will_paginate %>

<ul>
  <%- @topics.each do |topic| -%>
    <li>
      <%= link_to topic.name, forum_topic_posts_path(@forum, topic) %>
      | created <%= time_ago_in_words(topic.created_at) %> ago
    </li>
  <%- end -%>
</ul>

<%= will_paginate %>

<%= link_to 'Back', forum_topics_path(@forum) %>
