<h2><%= @topic.name %></h2>

<%= will_paginate(@posts) %>

<ul>
  <%- @posts.each do |post| -%>
    <li>
        Posted <%= time_ago_in_words(post.created_at) %> ago
        by <%= post.person.name %>
        <br />
        <%= sanitize post.body %>
    </li>
  <%- end -%>
</ul>

<%= will_paginate(@posts) %>

<%= link_to 'Edit', edit_forum_topic_path(@forum, @topic) %> |
<%= link_to 'Back', forum_topics_path(@forum) %>
