<%- column_div :type => :primary do -%>
  <h2><%= h @topic.name %></h2>
  <ul class="list topic full">
    <%= render :partial => 'forum_post', :collection => @posts %>
  </ul>


  <h3>Add new post</h3>

  <p><%= formatting_note %></p>

  <%= error_messages_for :post %>

  <% form_for :post,
              :url => forum_topic_posts_path(@forum, @topic)  do |f| %>
    <div class="form_row">
      <%= f.text_area :body, :rows => 10 %>
    </div>

    <div class="form_row">
      <%= f.submit "Submit", :class => "button" %>
    </div>
  <% end %>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
