<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%- if global_prefs.app_name.blank? -%>
      <title>Insoshi Open Source Social Networking Platform</title>
    <%- else -%>
      <title><%= global_prefs.app_name %></title>
    <%- end -%>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield :head %>    
  </head>
  <body class="<%= @body %>">
    <div id="header-wrap">
      <div id="header">
        <h1>
        <%= global_prefs.app_name %>
        </h1>
        <ul id="nav">
        </ul>
        
          <p class="welcome">
            <%- if logged_in? -%>
              Welcome, <%= h current_person.display_name %>!
              (<%= link_to "Sign out", logout_path %>)
              <%- if current_person.admin? -%>
                <br />
                <%= link_to("Refresh Blog Feed", '/refreshblog') %> | 
                <%= link_to("Standard view", home_path) %>
              <%- end -%>
            <%- else -%>
              <%= link_to "Sign in", login_path %> or
              <%= link_to "Sign up", signup_path %>
              <%- if global_prefs.can_send_email? -%>
              <br />
              <%= link_to "I forgot my password",
                           new_password_reminder_path %>
              <%- end -%>             
            <%- end -%>
          </p>
      </div>
    </div>
    
    <div id="wrap">
      <div id="content">
        <%- if global_prefs.demo? -%>
          <p class="error" style="font-weight: bold;">
            This is a demonstration site. 
            Data may be modified or removed without warning.
          </p>
        <%- end -%>
        <% flash.each do |key, msg| %>
          <%= content_tag :p, msg.html_safe, :class => "flash #{key}" %>
        <% end %>     
        <%= yield %>
        <div id="footer">
          <p>
		<%= render :partial => 'shared/powered_by' %>
          </p>
        </div>
      </div>
      <%- if Rails.env.development? -%>
        <div><%= render :partial => 'shared/debug' %></div>
      <%- end -%> 
    </div>
    <%= global_prefs.analytics %>
  </body>
</html>
