<% member = Membership.mem(exchange.worker,exchange.group) %>
<li>
  <div class="profile-image">
    <%= image_link exchange.worker, :link => member, :link_options => {:class => "show-follow"}, :image_options => {:class => "photo"}, :image => :thumbnail %>
    <%= image_tag "icons/switch.gif", :class => "icon", :alt => "Street Cred" %>
  </div>
  <p>
  <% unless exchange.group.nil? %>
    <%= membership_link member, :class => "url fn show-follow" %> <%= t('earned') + " " + exchange.amount.to_s + " " + exchange.group.unit + " " + t('for') %> <%= link_to h(exchange.metadata.name), exchange.metadata, :class => "show-follow" %>
  <%- end -%>
  </p>
  <p class="meta published">
    <%= t( 'ago_time', :date=> time_ago_in_words(exchange.created_at)).capitalize %> 
  </p>

</li>