<span id="membership_wrapper">
  <span class="membership_id"><span class="value"><%= @membership_id %></span></span>
  <li class="add_to_memberships <%= @add_membership_display %>">
  <%= link_to t('groups.show.join_group'),group_memberships_path(@group), {:id => 'join_group'} %>
  </li>
  <li class="add_to_memberships <%= @membership_display %>">
    <%= t('groups.show.you_are_a_member_of') %> <strong><%= h @group.name%></strong>
    <br />
    <% unless @group.default_group? %>
      (<%= link_to t('groups.show.leave_group'),membership_path(Membership.mem(current_person, @group)), {:id => 'leave_group'} %>) 
    <% end %>
  </li>
  <%= waiting_image %>
</span>
