<h2><%= t('.header') %></h2>
<div class="row">
  <div class="span6">

    <%= form_for(@group) do |f| %>
      <%= f.error_messages %>
      <fieldset>
        <legend><%= t('.group_data') %></legend>
        <div class="row">
          <div class="span3">
            <%= f.label :name, t('.name') %>
            <%= f.text_field :name, :class => "span3" %>
            <%= f.label :description, t('.description') %>
            <%= f.text_area :description, :class => "span3", :rows => 10 %>
          </div>
          <div class="span3">

            <%- if @group.adhoc_currency? -%>

              <%= f.label :unit, t('.currency_unit_plural') %>
              <%= f.text_field :unit, :class => "span3" %>

              <%= f.label :asset, t('.asset') %>
              <%= f.text_field :asset, :disabled => !@group.asset.nil?, :class => "span3" %>

              <%= f.label :default_credit_limit, t('.default_credit_limit') %>
              <%= f.text_field :default_credit_limit, :size => 5, :class => "span3" %>

              <%= f.label :private_txns, :class => "checkbox" do %>
                <%= f.check_box :private_txns %>
                <%= t('.private_txns') %>
              <% end -%>

            <%- end -%>

            <%= f.label :enable_forum, :class => "checkbox" do %>
              <%= f.check_box :enable_forum %>
              <%= t('.enable_forum') %>
            <% end -%>

            <%= f.label :mode, t('.mode') %>
            <%= f.select :mode, @group.get_groups_modes %>

          </div>
        </div>

        <%= f.submit t('button_update'), :class => "btn btn-success" %>
      </fieldset>
    <% end %>
  </div>
  <div class="span3">
    <legend><%= t('.photos') %></legend>
    
    <% if @group.photos.empty? %>
      <%= image_tag @group.thumbnail %>
    <% else %>
      <% @group.sorted_photos.each do |photo| %>
        <div>
          <%= image_tag photo.pic(:thumbnail), :style => "display: block;" %>
          <% if photo.primary? %>
              <%= t('.primary') %>
            <% else %>
              <%= link_to "select", photo_path(photo),
                                            :method => :put %>
            <% end %>
            |
            <a href="<%= delete_photo_group_path(@group, :photo_id => photo.id) %>", data-method="delete">
              <i class="icon-remove"></i>
            </a>
        </div>
      <% end -%>
    <% end %>
    <br />
      <%= button_to t('.add_a_photo'), new_photo_group_path(@group), :class => "btn btn-success" %>
  </div>

  <div class="span3">
    <% if @group.enable_forum %>
      <%= form_for(@group.forum, remote: true) do |f| %>
        <legend><%= t('.forum') %></legend>
        <%= f.error_messages %>
        <%= f.label :worldwritable, :class => "checkbox" do %>
          <%= f.check_box :worldwritable %>
          <%= t('forums.edit.world_writable') %>
        <% end -%>
        <%= f.submit t('button_update'), :class => "btn btn-success" %>
      <% end %>

    <% end %>
    <legend><%= t('.members') %></legend>
    <p><%= link_to "Edit Member Roles", members_group_path(@group) %></p>
  </div>
</div>