<%= column_div :type => :primary do -%>
  <h2><%= t('groups.edit.header') %></h2>
  <div id="profile_edit">

  <%= form_for(@group) do |f| %>
    <%= f.error_messages %>

    <div class="form_row">
      <label for="name"><%= t('groups.edit.name') %></label>
      <%= f.text_field :name %>
    </div>

<%- if @group.adhoc_currency? -%>
    <div class="form_row">
      <label for="unit"><%= t('groups.edit.currency_unit_plural') %></label>
      <%= f.text_field :unit %>
    </div>

    <div class="form_row">
      <label for="asset"><%= t('groups.edit.asset') %></label>
      <%= f.text_field :asset, :disabled => !@group.asset.nil? %>
    </div>

    <div class="form_row">
      <label for="default_credit_limit"><%= t('groups.edit.default_credit_limit') %></label>
      <%= f.text_field :default_credit_limit, :size => 5 %>
    </div>
<%- end -%>

    <div class="form_row">
      <label for="description"><%= t('groups.edit.description') %></label>
      <%= f.text_area :description %>
    </div>

    <div class="form_row">
      <label for="mode"><% t('groups.edit.mode') %></label>
      <%= f.select :mode, @group.get_groups_modes %>
    </div>  
    
    <div class="form_row">
      <%= f.submit t('button_update'), :class => "button" %>
    </div>
  <% end %>
  
  
  <h3><%= t('groups.edit.photos') %></h3>
  
    <% if @group.photos.empty? %>
      <%= image_tag @group.thumbnail %>
    <% else %>
    <table>
      <% @group.sorted_photos.collect_every(N_COLUMNS) do |row| %>
      <tr>
      <% row.each do |photo| %>
        <td  style="padding-left: 1em;">
          <%= image_tag photo.public_filename(:thumbnail) %>
        </td>
      <% end %>
      </tr>
      <tr>
        <% row.each do |photo| %>
        <td style="padding-left: 1em;">
          <% if photo.primary? %>
            <%= t('groups.edit.primary') %>
          <% else %>
            <%= link_to "select", photo_path(photo),
                                          :method => :put %>
          <% end %>
          |
          <%= link_to image_tag("icons/close.gif"), 
                      delete_photo_group_path(@group)+"?photo_id=#{photo.id}",
                      :method => :delete %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <% end %>
    <br />
    <%= button_to t('groups.edit.add_a_photo'), new_photo_group_path(@group), :class => "button" %>
  </div>

<%- end -%>
<%= column_div :type => :secondary do -%>
  <h2>Forum</h2>
  <p>
  <%= link_to "Edit Forum Preferences", edit_forum_path(@group.forum) %>
  </p>
  <h2>Members</h2>
  <p>
    <%= link_to "Edit Member Roles", members_group_path(@group) %>
  </p>
<%- end -%>
