<h2><%= t('.header') %></h2>
<div class="row">
  <div class="span6">

    <%= bootstrap_form_for(@group) do |f| %>
      <fieldset>
        <legend><%= t('.group_data') %></legend>
        <div class="row">
          <div class="span3">
            <%= f.text_field :name, label: t('.name'), class: "span3" %>
            <%= f.text_area :description, label: t('.description'), class: "span3", rows: 10 %>
            <%= t('.default_member_roles') %></br>
            <% for role in (Membership::ROLES - Membership::EXCLUDE_ROLES) %>
              <%= check_box_tag "group[default_roles][]", role, @group.default_roles.include?(role) %>
              <%=h role.humanize %><br />
            <% end %>
            <%= hidden_field_tag "group[default_roles][]", "" %>
          </div>
          <div class="span3">

            <%- if @group.adhoc_currency? -%>
              <%= f.text_field :unit, label: t('.currency_unit_plural'), class: "span3" %>
              <%= f.text_field :asset, disabled: !@group.asset.nil?, label: t('.asset'), class: "span3" %>
              <%= f.text_field :default_credit_limit, label: t('.default_credit_limit'), size: 5, class: "span3" %>

              <%= f.control_group :display_balance do %>
                <%= f.check_box :display_balance, label: t('.display_balance') %>
              <% end -%>
              <%= f.control_group :display_earned do %>
                <%= f.check_box :display_earned, label: t('.display_earned') %>
              <% end -%>
              <%= f.control_group :display_paid do %>
                <%= f.check_box :display_paid, label: t('.display_paid') %>
              <% end -%>
              <%= f.control_group :private_txns do %>
                <%= f.check_box :private_txns, label: t('.private_txns') %>
              <% end -%>

            <%- end -%>

            <%= f.control_group :enable_forum do %>
              <%= f.check_box :enable_forum, label: t('.enable_forum') %>
            <% end -%>

            <%= f.select :mode, @group.get_groups_modes, label: t('.mode') %>

          </div>
        </div>
        <%= f.actions do %>
          <%= f.primary t('button_update') %>
        <% end %>
      </fieldset>
    <% end %>
  </div>
  <div class="span3">
    <legend><%= t('.photos') %></legend>
    
    <% if @group.photos.empty? %>
      <%= image_tag @group.thumbnail %>
    <% else %>
      <% @group.sorted_photos.each do |photo| %>
        <div>
          <%= image_tag photo.picture_url(:thumbnail), :style => "display: block;" %>
          <% if photo.primary? %>
              <%= t('.primary') %>
            <% else %>
              <%= link_to "select", photo_path(photo),
                                            :method => :put %>
            <% end %>
            |
            <a href="<%= delete_photo_group_path(@group, :photo_id => photo.id) %>", data-method="delete">
              <i class="icon-remove"></i>
            </a>
        </div>
      <% end -%>
    <% end %>
    <br /><br />
      <%= button_to t('.add_a_photo'), new_photo_group_path(@group), :class => "btn btn-primary" %>
  </div>

  <div class="span3">
    <legend><%= t('.members') %></legend>
    <p><%= link_to "Edit Member Roles", members_group_path(@group) %></p>

    <%= bootstrap_form_for(@group.privacy_setting, remote: true) do |f| %>
      <legend><%= t('groups.edit.privacy') %></legend>
      <div id='privacy_setting_admin'></div>
      <%= f.control_group :viewable_reqs do %>
        <%= f.check_box :viewable_reqs, label: t('privacy_settings.edit.viewable_requests') %>
      <%- end -%>
      <%= f.control_group :viewable_offers do %>
        <%= f.check_box :viewable_offers, label: t('privacy_settings.edit.viewable_offers') %>
      <%- end -%>
      <%= f.control_group :viewable_forum do %>
        <%= f.check_box :viewable_forum, label: t('privacy_settings.edit.viewable_forum') %>
      <%- end -%>
      <%= f.control_group :viewable_members do %>
        <%= f.check_box :viewable_members, label: t('privacy_settings.edit.viewable_members') %>
      <%- end -%>
      <%= f.actions do %>
        <%= f.primary t('button_update') %>
      <% end %>
    <% end %>

    <% if @group.enable_forum and @group.privacy_setting.viewable_forum? %>
      <%= bootstrap_form_for(@group.forum, remote: true) do |f| %>
        <legend><%= t('.forum') %></legend>
        <div id='forum_admin'></div>
        <%= f.control_group :worldwritable do %>
          <%= f.check_box :worldwritable, label: t('forums.edit.world_writable') %>
        <% end -%>
        <%= f.actions do %>
          <%= f.primary t('button_update') %>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>
