<%= column_div :type => :primary do -%>
  <h2><%= t('groups.index.header') %></h2>
  <% unless @groups.empty? -%>
    <%= will_paginate %>
    <ul class="list people">
      <%= render :partial => @groups %>
    </ul>
    <%= will_paginate %>
  <% else %>
    <h3><%= t('groups.index.no_groups_yet') %></h3>
  <% end -%>

<%- end -%>

<%= column_div :type => :secondary do -%>
  <%= render :partial => 'shared/add_group_button' %>
<%- end -%>
