
<%= column_div :type => :primary do -%>
  <h2><%= link_to h(@group.name), group_path(@group) %></h2>
  
  <% unless @pending.empty? -%>
    <h3><%= t('groups.members.pending_request') %></h3>
    <%= will_paginate(@pending) %>
    <ul class="grid contacts medium">
      <%- @pending.each do |contact| -%>
        <li class="contact">
          <%= image_link contact, :image_options => { :class => "photo" },
                                  :link_options => { :class => "url" },
                                  :image => :bounded_icon %>
          <% if @group.owner?(current_person) %>
            <div class="accept_or_cancel_membership">
                <%= link_to image_tag("icons/remove.gif"), 
                  unsuscribe_membership_path(contact.memberships.find(:first, :conditions => ['group_id = ?',@group])), 
                  :method => "delete", :title => t('groups.members.cancel_membership'), 
                :confirm => t('groups.members.confirm')  %>
                <%= link_to image_tag("icons/add.gif"), 
                  suscribe_membership_path(contact.memberships.find(:first, :conditions => ['group_id = ?',@group])), 
                  :method => "post", :title => t('groups.members.accept_membership') %>
            </div>
          <% end %>
        </li>
      <%- end -%>

    </ul>
    <%= will_paginate(@pending) %>
  <% end -%>

  <h3><%= t('groups.members.header') %></h3>

  <% unless @memberships.empty? -%>
    <%= will_paginate(@memberships) %>
    <ul class="grid contacts medium">
      <%- @memberships.each do |membership| -%>
        <% contact = membership.person %>
        <li class="contact">
          <%= image_link contact, :image_options => { :class => "photo" },
                                  :link_options => { :class => "url" },
                                  :image => :bounded_icon %>
          <% if can? :unsuscribe, membership %>
            <div class="cancel_membership">
                <%= link_to image_tag("icons/remove.gif"), 
                  unsuscribe_membership_path(membership), 
                  :method => "delete",
                  :title => t('groups.members.cancel_membership'),
                  :confirm => t('groups.members.confirm') %>
            </div>
          <%- end -%>
          <% if can? :update, membership %>
            <div class="edit_roles">
              <%= link_to image_tag("icons/edit.gif"), edit_membership_path(membership), :title => 'Edit member roles' %>
            </div>
          <% end %>
        </li>
      <%- end -%>

    </ul>
    <%= will_paginate(@memberships) %>
  <% else %>
    <h3><%= t('groups.members.no_members_yet') %></h3>
  <% end -%>

  <h3><%= t('groups.members.admins') %></h3>
  <ul class="grid contacts medium">
    <%- @group.admins.each do |admin| -%>
      <li class="contact">
      <%= image_link admin, :image_options => { :class => "photo" },
                            :link_options => { :class => "url" },
                            :image => :bounded_icon %>
      </li>
    <%- end -%>
  </ul>

  <h3><%= t('groups.members.created_by') %></h3>
  <ul class="grid contacts medium">
    <li class="contact">
      <%= image_link @group.owner, :image_options => { :class => "photo" },
                              :link_options => { :class => "url" },
                              :image => :bounded_icon %>
    </li>
  </ul>

<%- end -%>

