<script type="text/javascript">
  function toggle_currency_unit(el) {
    unit_el = document.getElementById('group_unit');
    if (1 == el.getValue())
    {
      unit_el.disabled = false;
    }
    else
    {
      unit_el.value = '';
      unit_el.disabled = true;
    }
  }
</script>
<%- column_div :type => :primary do -%>
  <h2>New group</h2>

  <% form_for(@group) do |f| %>
    <%= f.error_messages %>

    <div class="form_row">
      <label for="name">Name</label>
      <%= f.text_field :name %>
    </div>

    <div class="form_row">
      <label for="adhoc_currency" class="checkbox">Create ad-hoc currency</label>
      <%= f.check_box :adhoc_currency, :onclick => "toggle_currency_unit(this);" %>
    </div>

    <div class="form_row">
      <label for="unit">Currency unit (plural)</label>
      <%= f.text_field :unit, :disabled => true %>
    </div>

    <div class="form_row">
      <label for="description">Description</label>
      <%= f.text_area :description %>
    </div>

    <div class="form_row">
      <label for="mode">Mode</label>
      <%= f.select :mode, get_groups_modes %>
    </div>
    
    <div class="form_row">
      <%= f.submit "Create", :class => "button" %>
    </div>
  <% end %>
<%- end -%>
