<script type="text/javascript">
  function toggle_currency_unit(el) {
    unit_el = document.getElementById('group_unit');
    asset_el = document.getElementById('group_asset');
    credit_limit_el = document.getElementById('group_default_credit_limit');
    if(el.checked)
    {
      unit_el.disabled = false;
      asset_el.disabled = false;
      credit_limit_el.disabled = false;
    }
    else
    {
      unit_el.value = '';
      unit_el.disabled = true;
      asset_el.value = '';
      asset_el.disabled = true;
      credit_limit_el.value = '';
      credit_limit_el.disabled = true;
    }
  }
</script>
<%= column_div :type => :primary do -%>
  <h2><%= t('groups.new.header') %></h2>

  <%= form_for(@group) do |f| %>
    <%= f.error_messages %>

    <div class="form_row">
      <label for="name"><%= t('groups.new.name') %></label>
      <%= f.text_field :name %>
    </div>

    <div class="form_row">
      <label for="adhoc_currency" class="checkbox"><%= t('groups.new.adhoc_currency') %></label>
      <%= f.check_box :adhoc_currency, :onclick => "toggle_currency_unit(this);" %>
    </div>
    <fieldset id="currency_fields">
    <div class="form_row">
      <label for="unit"><%= t('groups.new.currency_unit_plural') %></label>
      <%= f.text_field :unit, :disabled => true %>
    </div>

    <div class="form_row">
      <label for="asset"><%= t('groups.new.asset') %></label>
      <%= f.text_field :asset, :size => 8, :disabled => true %>
    </div>

    <div class="form_row">
      <label for="default_credit_limit"><%= t('groups.new.default_credit_limit') %></label>
      <%= f.text_field :default_credit_limit, :size => 5, :disabled => true %>
    </div>
    </fieldset>
    <div class="form_row">
      <label for="description"><%= t('groups.new.description') %></label>
      <%= f.text_area :description %>
    </div>

    <div class="form_row">
      <label for="mode"><%= t('groups.new.mode') %></label>
      <%= f.select :mode, @group.get_groups_modes %>
    </div>
    
    <div class="form_row">
      <%= f.submit t('button_create'), :class => "button" %>
    </div>
  <% end %>
<%- end -%>
