<script type="text/javascript">
  function toggle_currency_unit(el) {
    unit_el = document.getElementById('group_unit');
    asset_el = document.getElementById('group_asset');
    credit_limit_el = document.getElementById('group_default_credit_limit');
    if(el.checked)
    {
      unit_el.disabled = false;
      asset_el.disabled = false;
      credit_limit_el.disabled = false;
    }
    else
    {
      unit_el.value = '';
      unit_el.disabled = true;
      asset_el.value = '';
      asset_el.disabled = true;
      credit_limit_el.value = '';
      credit_limit_el.disabled = true;
    }
  }
</script>
  <h2><%= t('groups.new.header') %></h2>
  <div class="span5">
  <%= bootstrap_form_for(@group) do |f| %>
    <%= f.text_field :name, label: t('groups.new.name') %>

    <%= f.control_group :adhoc_currency do %>
      <%= f.check_box :adhoc_currency, label: t('groups.new.adhoc_currency'), onclick: "toggle_currency_unit(this);" %>
    <% end %>

    <fieldset id="currency_fields">
      <%= f.text_field :unit, label: t('groups.new.currency_unit_plural'), disabled: true %>
      <%= f.text_field :asset, label: t('groups.new.asset'), size: 8, disabled: true %>
      <%= f.text_field :default_credit_limit, label: t('groups.new.default_credit_limit'), size: 5, disabled: true %>
      <%= f.control_group :private_txns do %>
        <%= f.check_box :private_txns, label: t('groups.new.private_txns') %>
      <% end %>
    </fieldset>
    <%= f.text_area :description, label: t('groups.new.description') %>

    <%= f.select :mode, @group.get_groups_modes, label: t('groups.new.mode') %>

    <%= f.actions do %>
      <%= f.primary t('button_create') %>
    <% end %>
  <% end %>
  </div>
