<%= render :partial => 'shared/jscript', :locals => { :jscript_file_name => 'group' } %>

<div>
  <ul id="nav-js" class="nav nav-tabs">
    <li class="active"><a href="#tab_home" data-toggle="tab"><%= t("groups.show.home") %></a></li>
<%- if @group.adhoc_currency? and not @group.private_txns? -%>
    <li><a href="#tab_exchanges" data-toggle="tab"><%= t("groups.show.exchanges") %></a></li>
<%- end -%>
<%- if @group.enable_forum? -%>
    <li><a href="#tab_forum" data-toggle="tab"><%= t("groups.show.forum") %></a></li>
<%- end -%>
    <li><a href="#tab_requests" data-toggle="tab"><%= t("groups.show.requests") %></a></li>
    <li><a href="#tab_offers" data-toggle="tab"><%= t("groups.show.offers") %></a></li>
    <li><a href="#tab_people" data-toggle="tab"><%= t("groups.show.people") %></a></li>
  </ul>


  <div class="tab-content">
    <div class="tab-pane active" id="tab_home">
      <div id="home_canvas">
      <%= render 'home_canvas' %>
      </div>
    </div>
<%- if @group.adhoc_currency? and not @group.private_txns? -%>
    <div class="tab-pane" id="tab_exchanges">
      <div id="exchanges_canvas">
      <%= render 'exchanges_canvas' %>
      </div>
    </div>
<%- end -%>
<%- if @group.enable_forum? -%>
    <div class="tab-pane" id="tab_forum">
      <div id="forum_canvas">
      <%= render '/forums/forum_canvas' %>
      </div>
      <%= render 'forum_form' %>
    </div>
<%- end -%>
    <div class="tab-pane" id="tab_requests">
      
      <div id="requests_filter">

        <h2 style="display:inline;"><%= t('reqs.index.header') %> &nbsp;</h2><%= waiting_image %>
        
        <span class="pos-super">
          <%= t('view_by') %> 
          &nbsp;
        </span>

        <%= select_tag "filter_reqs_by", reqs_options %>
        
        <%= render :partial => '/shared/categories', :locals => {:filtered_obj => 'req', :selected_category => (@selected_category.nil? ? 0 : @selected_category.id)} %>
        
        <%= render :partial => '/shared/neighborhoods', :locals => {:filtered_obj => 'req', :selected_neighborhood => (@selected_neighborhood.nil? ? 0 : @selected_neighborhood.id)} %>
        
        <span class="pos-super">
          &nbsp;<%= t('or') %>&nbsp;&nbsp;
          <%= link_to t('button_new_req'), new_group_req_path(@group), {:class => 'show-follow btn btn-primary'} %>
        </span>
      
      </div>
      
      <div id="reqs_canvas">
        <%= render '/reqs/reqs_canvas' %>
      </div>

    </div>
    <div class="tab-pane" id="tab_offers">
      <div id="offers_filter">

        <h2 style="display:inline;"><%= t('groups.show.offers') %> &nbsp;</h2><%= waiting_image %>
          
        <span class='pos-super'>
          <%= t('view_by') %> 
          &nbsp;
        </span>
        
        <%= select_tag "filter_offers_by", offers_options %>
        
        <%= render :partial => '/shared/categories', :locals => {:filtered_obj => 'offer', :selected_category => (@selected_category.nil? ? 0 : @selected_category.id)} %>
        
        <%= render :partial => '/shared/neighborhoods', :locals => {:filtered_obj => 'offer', :selected_neighborhood => (@selected_neighborhood.nil? ? 0 : @selected_neighborhood.id)} %>
      
        <span class='pos-super'>
          &nbsp;<%= t('or') %>&nbsp;&nbsp;
          <%= link_to t('button_new_offer'), new_group_offer_path(@group), {:class => 'show-follow btn btn-primary'} %>
        </span>
        
      </div>
      <div id="offers_canvas">
      <%= render '/offers/offers_canvas' %>
      </div>
    </div>
    
    <div class="tab-pane" id="tab_people">
      <div id="people_filter">
        <h2 style="display:inline;"><%= t('groups.show.people') %><%= waiting_image %></h2>
        <%= t('view_by') %> <%= select_tag "filter_memberships_by", memberships_options %>
        <%= render :partial => '/shared/categories', :locals => {:filtered_obj => 'person', :selected_category => (@selected_category.nil? ? 0 : @selected_category.id)} %>
        <%= render :partial => '/shared/neighborhoods', :locals => {:filtered_obj => 'person', :selected_neighborhood => (@selected_neighborhood.nil? ? 0 : @selected_neighborhood.id)} %>
      </div>
      <div id="people_canvas">
      <%= render '/memberships/members_canvas' %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

</div>
