<%= render :partial => 'shared/jscript', :locals => { :jscript_file_name => 'group' } %>
<%- column_div :type => :primary do -%>
  <h2><%= t('groups.show.header') %> <span class="fn n"><%= h @group.name %></span></h2>
  <% tabs_for do |tab| %>
    <% tab.create('tab_one', t('groups.show.home')) do %>
      <div class="profile vcard">
        <%- if group_owner?(current_person,@group) -%>
          <%- if @group.description.blank? -%>
            <div class="error">
              <%= t('groups.show.blank_description') %>
              <%= link_to t('groups.show.add_description'),
                      edit_group_path(@group) %>
            </div>
          <%- else -%>
            <div class="notice">
              <%= t('groups.show.you_are_viewing_your_group') %>
              <%= link_to t('groups.show.click_here_to_edit_it'), edit_group_path(@group) %>
            </div>
          <%- end -%>
        <%- end -%>
        <%= render :partial => 'toolbox' %>
        <%= display @group.description %>
      </div>
    <% end %>
    <% tab.create('exchanges', t('groups.show.exchanges')) do %>
      <h2><%= t('groups.show.recent_exchanges') %></h2>
      <ul class="list activity full">
        <%= render :partial => 'exchange', :collection => @group.exchanges %>
      </ul>
    <% end if @group.adhoc_currency? %>
    <% tab.create('forum', t('groups.show.forum')) do %>
      <%= render :partial => 'forum_canvas' %>
      <%= render :partial => 'forum_form' %>
    <% end %>
    <% tab.create('requests', t('groups.show.requests')) do %>
      <%= render :partial => 'reqs_canvas' %>
    <% end if @group.adhoc_currency? %>
  <% end %>
  
<%- end -%>


<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/group_membership', :locals => {:group => @group} %>
<%- end -%>
