<%# The activity shouldn't be nil, but we're wearing a belt and suspenders. %>
<%- unless activity.item.nil? -%>
  <div class="activity element clearfix">
    <div class="icon column first span-1">
      <%# This will probably be a feed icon instead of a person icon %>
      <%= image_link activity.person %>
    </div>
    <div class="wrapper column span-<%= LARGER_COLUMN-1 %> last">
      <div class="activity_body">
        <%= feed_message activity %>
        <div class="time">
          <%= time_ago_in_words(activity.created_at).capitalize %> ago
          <% destroy ||= nil #This makes this parameter optional -%>
          <%= link_to("destroy", activity_path(activity), :method => :delete, :confirm => "Are you sure you want to delete this activity from your profile?") if destroy %>
        </div>
      </div>
    </div>
  </div>
<%- end -%>
