<li>
  <div class="profile-image">
    <%= image_link(comment.commenter, :image => :thumbnail) %>
    <%= image_tag "icons/comment.gif", :class => "icon" %>
  </div>
  <p class="meta published">
    <%= person_link comment.commenter %> <%= t('said') %>
    <%= time_ago_in_words(comment.created_at) %> <%= t('ago') %>
  </p>
  <%= markdown(comment.body) %>

  <%- if(current_person?(comment.commentable)) -%>
  <%= link_to t('reply_on') + " #{comment.commenter.name}'s " + t('wall'), person_path(comment.commenter, :anchor => 'wall'), :class => "small" %>
  <%- end -%>

  <%- if (current_person?(comment.commentable) or
          current_person?(comment.commenter)) -%>
  <br />
  <%= link_to t('button_delete'), person_comment_path(@person, comment),
    :method => :delete, :class => "small" %>
  <%- end -%>  
</li>
