<li>
  <div class="profile-image">
    <%= image_link exchange.customer, :image => :thumbnail %>
    <%= image_tag "icons/switch.gif", :class => "icon", :alt => "Street Cred" %>
  </div>
  <p>
  <% if exchange.group.nil? %>
    <%= person_link exchange.customer %><%= " paid #{exchange.amount.to_s} hours for " %><%= link_to h(exchange.metadata.name), exchange.metadata %>
  <% else %>
    <%= person_link exchange.customer %><%= " paid #{exchange.amount.to_s} #{exchange.group.unit} for " %><%= link_to h(exchange.metadata.name), exchange.metadata %>
  <%- end -%>
  </p>
  <p class="meta published">
    <%= ( t 'ago_time', :date => time_ago_in_words(exchange.created_at)).capitalize %>
  </p>

</li>
