<% flash.each do |key, msg| %>
  $('#<%= canvas_id %>').before("<div id='flash_<%= key %>' class="alert alert-<%= key %>"><%= escape_javascript(flash.discard(key)) %></div>");
  $('#flash_<%= key %>').fadeOut(OSCURRENCY.notice_fadeout_time,function() { $(this).remove(); });
<% end %>     
