<div id="header-wrap">
  <%- if logged_in? -%>
    <%- if current_person.admin? -%>
      <div class="adminMsgLink">
        <%= email_link @person, :use_image => false, :to_all => true %><br />
        <hr />
        <%= link_to_if(admin_view?, "Standard View", home_path) do
            link_to("Admin View", admin_preferences_path) 
          end -%>
      </div>
    <%- end -%>
  <%- end -%>

  <div id="header">
	  <h1><%= link_to image_tag("logo-insoshi.png"), home_url, :title => "Homepage" %></h1>
    <ul id="nav">
      <%- menu.each do |link| -%>
        <%= menu_li link %>
      <%- end -%>
    </ul>
	  <p class="welcome">
	    <% if !global_prefs.about.blank? %>
	      <%= link_to "About", about_path -%> /
	    <% end %>
	    <%= link_to_if logged_in?, "Sign out", logout_path do
	        login_block
	      end %>
	  </p>

  </div>
</div>