<div id="header-wrap">
    <%- if logged_in? -%>
	  <%- if current_person.admin? -%>
        <div class="adminMsgLink">
          <%= email_link @person, :use_image => false, :to_all => true %>
        </div>
      <%- end -%>
    <%- end -%>
  <div id="header">
    <h1><a href="/" title="Homepage"><%= image_tag "logo-insoshi-2.png" %></a></h1>
    <ul id="nav">
      <%- menu.each do |link| -%>
        <%= menu_li link %>
      <%- end -%>
    </ul>
    
    <p class="welcome">
      <%- if logged_in? -%>
        <span>Welcome, <%= h current_person.name %>!</span>
        (<%= link_to "Sign out", logout_path %>)
        <%- if current_person.admin? -%>
          <%- if admin_view? -%>
            <%= link_to("Standard view", home_path) %>
          <%- else -%>
            <%= link_to("Admin view", admin_preferences_path) %>
          <%- end -%>
        <%- end -%>
      <%- else -%>
        <%= link_to "Sign in", login_path %> or
        <%= link_to "Sign up", signup_path %>
        <%- if global_prefs.can_send_mail? -%>
          <br />
          <%= link_to "I forgot my password",
                       new_password_reminder_path %>
        <%- end -%>             
      <%- end -%>
    </p>
  </div>
</div>
