<%- column_div :type => :primary do -%>
  <h2>Edit Personal Info</h2>

  <%= error_messages_for :personal_details %>

  <% form_for personal_details do |f| -%>

  <div class="form_row">
    <label for="email">
      Email address <span class="small">(never made
      public<%= ", will be verified" if global_prefs.email_verifications? %>)
      </span>
    </label>
    <%= f.text_field :email, :maxlength => Person::MAX_EMAIL %>
    <%= set_focus_to "person_email" %>  
  </div>

  <div class="form_row">
    <label for="name">Name 
      <span class="small">(will be displayed)</span></label>
    <%= f.text_field :name, :maxlength => Person::MAX_NAME %>
  </div>

  <div class="form_row">
    <%= submit_tag 'Sign up', :class => "button" %>
  </div>
  <% end %>
<%- end -%>
