  <h3><%= t('topics.show.add_a_new_post').capitalize %></h3>
  <a name="forum_post">

  <%= bootstrap_form_for @post, :url => forum_topic_posts_path(@forum, @topic), :html => {:id => 'new_post', :class => 'form-horizontal'}  do |f| %>
    <%= f.text_area :body, :label => :none, :rows => 10 %>

    <%= f.actions do %>
      <%= f.primary t('button_submit') %>
    <% end %>
  <% end %>
