<%- unless @person.recent_activity.empty? -%>
  <h2><%= t('people._recent_activity.header') %></h2>
  

  <%- unless @person.last_logged_in_at.nil? or current_person?(@person) -%>
    <p class="meta">
    <%= h @person.display_name %> <%= t('last_logged_in') %>
    <%= time_ago_in_words(@person.last_logged_in_at) %> <%= t('ago') %>
    </p>    
  <%- end -%>
  
  <ul class="list activity full">
     <%= render :partial => 'shared/activity',
                :collection => @person.recent_activity,
                :locals => { :destroy => (current_person? @person) } %>
  </ul>
<%- end -%>
