<li>
  <div class="profile-image">
    <%= image_link sent_exchange.worker, :image => :thumbnail %>
    <%= image_tag "icons/switch.gif", :class => "icon", :alt => "Payment" %>
  </div>
  <p>
  <%= person_link sent_exchange.worker %><%= " received #{sent_exchange.amount.to_s} hours for " %><%= link_to h(sent_exchange.metadata.name), sent_exchange.metadata %>
  </p>
  <p class="meta published">
  <%= ( t 'ago_time', :date => time_ago_in_words(sent_exchange.created_at)).capitalize %>
  <% unless sent_exchange.created_at + MAX_DAYS_SUSPEND_PAYMENT.days < Time.now %>
  | <%= link_to "Suspend Payment", person_exchange_path( sent_exchange.worker, sent_exchange ), :confirm => 'Are you sure?', :method => :delete %>
  <% end -%>
  </p>

</li>
