<li>
  <div class="profile-image">
    <%= image_link sent_exchange.worker, :image => :thumbnail %>
    <%= image_tag "icons/switch.gif", :class => "icon", :alt => "Payment" %>
  </div>
  <p>
  <%= person_link sent_exchange.worker %><%= " received #{sent_exchange.amount.to_s} hours for " %><%= link_to h(sent_exchange.req.name), sent_exchange.req %>
  </p>
  <p class="meta published">
    <%= time_ago_in_words(sent_exchange.created_at).capitalize %> ago
  </p>

</li>
