<li>
<div class="profile-image">
  <% cp = counterparty(transact) %>
  <% if defined? ajaxified %>
    <%= image_link cp, :image => :thumbnail, :link => Membership.mem(cp,@group), :link_options => {:class => "show-follow"} %>
  <% else %>
    <%= image_link cp, :image => :thumbnail %>
  <% end %>
  <%= image_tag "icons/switch.gif", :class => "icon", :alt => "Transaction" %>
</div>
  <p>
  	<%= counterparty_action(transact) %><%= counterparty_link(cp, @group, defined? ajaxified) %>) <%= t('shared.transact.for')%> <%= link_to h(transact.metadata.name), transact.metadata %>
  </p>
  <p>
  	<%= paid_fees(transact) %>
  </p>
  <p class="meta published">
    <%= transact.created_at.strftime(current_datetime_format) %>
  </p>
</li>
