<li>
<div class="profile-image">
    <%= image_link counterparty(transact), :image => :thumbnail %>
    <%= image_tag "icons/switch.gif", :class => "icon", :alt => "Transaction" %>
</div>
  <p>
  <%= counterparty_action(transact) %><%= person_link counterparty(transact) %>) <%= t('shared.transact.for')%> <%= link_to h(transact.metadata.name), transact.metadata %>
  </p>
  <p class="meta published">
    <%= (t 'ago_time', :date => time_ago_in_words(transact.created_at)).capitalize %>
  </p>
</li>
