<li>
  <% cp = counterparty(transact) %>
  <p>
  	<%= counterparty_action(transact) %><%= counterparty_link(cp, @group, defined? ajaxified) %>) <%= t('shared.transact.for')%> <%= txn_link transact.metadata %>
  </p>
  <p>
  	<%= paid_fees(transact) %>
  </p>
  <p class="meta published">
    <%= transact.created_at.strftime(current_datetime_format) %>
  </p>
</li>
