<%- if logged_in? -%>
  <div class="wall">
    <a name="wall"></a>
    <h2><%= @person.name %>'s <%= t('wall').capitalize %></h2>
    <%- unless current_person?(@person) -%>    
    <p><%= formatting_note %></p>
    
      <% form_for :comment, :url => person_comments_path(@person), :html => {:id => 'new_wall_post'} do |f| %>
        <div class="form_row">
          <%= f.text_area :body, :rows => 2 %>
        </div>
  
        <div class="form_row">
          <%= submit_tag t('button_submit'), :class => "button" %>
        </div>
      <% end %>
    <%- end -%>
    <%- unless @person.comments.empty? -%>
      <ul class="list comments full">
        <%= render :partial => '/shared/comment', :collection => @person.comments %>
      </ul>
    <%- end -%>
  </div>
<%- end -%>
