<%- unless global_prefs.app_name.blank? -%>
  <h2><%= global_prefs.app_name %> <%= t('home._blog.header') %></h2>
<%- else -%>
  <h2><%= t('home._blog.header').capitalize %></h2>
<%- end -%>
<%- cache(:action_suffix => (params[:page] || 1),:expires_in => 24.hours) do %>
<%- posts = FeedPost.posts(params[:page]) %>
<%- if posts.empty? -%>
  <h3 class="blankslate">
    No posts yet!
  </h3>
<%- else -%>
  <ul class="list blog full">
    <%= render :partial => 'posts/blog_post', :collection => posts %>
  </ul>
  <%= will_paginate(posts) %>
<%- end -%>

<% end %>
<script type="text/javascript">
//<![CDATA[
(function() {
	var links = document.getElementsByTagName('a');
	var query = '?';
	for(var i = 0; i < links.length; i++) {
	if(links[i].href.indexOf('#disqus_thread') >= 0) {
		query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
	}
	}
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/<%= global_prefs.disqus_shortname %>/get_num_replies.js' + query + '"></' + 'script>');
})();
//]]>
</script>
