<%- unless current_person.requested_contacts.empty? -%>
<table>
  <tr><th colspan="4">Requested Connections</th></tr>
  <%- current_person.requested_contacts[(0...8)].collect_every(4) do |row| -%>
  <tr>
    <%- row.each do |contact| -%>
      <td><%= link_to image_tag(contact.icon), contact %></td>
    <%- end -%>
  </tr>
  <%- end -%>
</table>
<%- end -%>

<%- unless current_person.new_messages.empty? -%>
<table>
  <tr><th colspan="2">New Messages</th></tr>
  <%- current_person.new_messages.each do |message| -%>
  <tr>
    <td class="column first span-1">
      <%= link_to image_tag(message.sender.icon), message.sender %>
    </td>
    <td class="column span-5 last">
    <span class="small">
      From <%= link_to message.sender.name, message.sender %>
      <%= time_ago_in_words message.created_at %> ago
      <br />
      <%= link_to message.subject, message %>
    </span>
    </td>
  </tr>
  <%- end -%>
</table>
<%- end -%>

<table>
  <tr><th colspan="4">My Connections</th></tr>
  <%- current_person.contacts[(0...11)].collect_every(4) do |row| -%>
  <tr>
    <%- row.each do |contact| -%>
      <td><%= link_to image_tag(contact.icon), contact %></td>
    <%- end -%>
  </tr>
  <%- end -%>
</table>