<h2><%= t('home._dashboard.bids') %></h2>
<%- if @bids.empty? -%>
  <h3 class="blankslate"><%= t('home._dashboard.no_active_bids') %></h3>
<%- else -%>
  <ul class="list full">
    <%= render :partial => '/shared/bid', :collection => @bids %>
  </ul>
<%- end -%>
<h2><%= t('home._dashboard.offers') %></h2>
<%- if @offers.empty? -%>
  <h3 class="blankslate"><%= t('home._dashboard.no_active_offers') %></h3>
<%- else -%>
<ul class="list full">
    <%= render :partial => '/offers/offer', :collection => @offers %>
  </ul>
<%- end -%>
<h2><%= t('home._dashboard.requests') %></h2>
<%- if @reqs.empty? -%>
  <h3 class="blankslate"><%= t('home._dashboard.no_active_requests') %></h3>
<%- else -%>
<ul class="list full">
    <%= render :partial => '/reqs/req', :collection => @reqs %>
  </ul>
  <%- end -%>
  <%= render :partial => 'shared/recent_sent_exchanges' %>
