<table>
  <tr><th colspan="3">Activity Feed</th></tr>
  
  <%- @feed.each do |event| -%>
  <tr>
    <td><%= feed_message event %></td>
  </tr>
  <%- end -%>
  
  <tr>
      <td><%= image_tag @mary.icon %></td>
      <td>
        <%= @mary.name %> made a <a href="#">new blog post</a>.
        <a href="#">View <%= @mary.name %>'s blog</a>
        <br />
        <span class="quiet small">Ten minutes ago</span>
      </td>
  </tr>
  <tr>
    <td><%= image_tag @michael.icon %></td>
    <td><%= @michael.name %> posted to forum 
        topic <%= link_to Topic.find(10).name, forum_topic_posts_path(1, 10) %>
        <br />
        <span class="quiet small">Four hours ago</span>
    </td>
  </tr>
  <tr>
    <td><%= image_tag @linda.icon %></td>
    <td>
      <%= @linda.name %> added a new photo. <a href="#">View 
      <%= @linda.name %>'s photos</a>
      <br />
      <span class="quiet small">Two days ago</span>
    </td>
  </tr>
  <tr>
      <td><%= image_tag @mary.icon %></td>
      <td>
        <%= @mary.name %> made a <a href="#">new blog post</a>.
        <a href="#">View <%= @mary.name %>'s blog</a>
        <br />
        <span class="quiet small">Ten minutes ago</span>
      </td>
  </tr>
  <tr>
    <td><%= image_tag @michael.icon %></td>
    <td><%= @michael.name %> posted to forum <a href="#">Topic 23</a>
        <br />
        <span class="quiet small">Four hours ago</span>
    </td>
  </tr>
  <tr>
    <td><%= image_tag @linda.icon %></td>
    <td>
      <%= @linda.name %> added a new photo. <a href="#">View 
      <%= @linda.name %>'s photos</a>
      <br />
      <span class="quiet small">Two days ago</span>
    </td>
  </tr>
</table>