<table>
  <tr><th>Discussion Forum</th></tr>
  <%- @topics.each do |topic| -%>
  <%- last_post = topic.posts.reverse.first -%>
  <tr class=<%= cycle("odd", "even") %>>
    <td>
      <%= topic_link topic %>
      <br />
      <span class="quiet small">
      Last post
      <%= time_ago_in_words(last_post.created_at) %> ago
      by <%= person_link last_post.person %>
      </span>
    </td>
  </tr>
  <%- end -%>
</table>

<div class="more">
<%= link_to "Go to discussion forum &raquo;", forum_path(topic.forum) %>
</div>