<%- unless current_person.recent_messages.empty? -%>
<table>
  <tr><th colspan="2">Messages</th></tr>
  <%- current_person.recent_messages.each do |message| -%>
  <tr>
    <td class="column first span-1">
      <%= link_to image_tag(message.sender.icon), message.sender %>
    </td>
    <td class="column span-5 last">
    <span class="small">
      From <%= link_to message.sender.name, message.sender %>
      <%= time_ago_in_words message.created_at %> ago
      <br />
      <%= link_to message.subject, message %>
    </span>
    </td>
  </tr>
  <%- end -%>
</table>

<div class="see_all">
  <%= link_to "All messages &raquo;", messages_path %>
</div>
<%- end -%>