<div class="message_preview element clearfix">
  <div class="column first span-1">
    <%= image_link message.sender %>
  </div>
  <div class="column span-<%= SMALLER_COLUMN-1 %> last">
    <div class="from">
      From <%= person_link message.sender %>
      <%= time_ago_in_words message.created_at %> ago
    </div>
    <div class="subject">
      <%= link_to sanitize(truncate(message.subject, 30)), message %>
    </div>
  </div>
</div>