<li>
  <div class="profile-image">
    <%= image_link message.sender %>
    
    <%- if not message.read? and not current_person?(message.sender) -%>
      <%= link_to image_tag("icons/email_add.png", :class => "icon"),
                  @message %>
    <%- elsif message.replied_to? -%>
      <%= link_to image_tag("icons/email_go.png", :class => "icon" ),
                  @message %>
    <%- end -%>    
  </div>
  <p><span class="field">From:</span> <%= person_link message.sender %></p>
  <p class="meta published">
    <%= time_ago_in_words message.created_at %> ago
  </p>
  <p title="Subject">
    <%= link_to sanitize(truncate(message.subject, :length => 30)),
                message_path(message, :anchor => message_anchor(message)) %>
  </p>
</li>