<%- column_div :type => :primary do -%>
  <%- if logged_in? -%>
    <%= render :partial => 'feed' %>
  <%- else -%>
    <%- cache(:part => "feed") do -%>
      <%= render :partial => 'feed' %>
    <%- end -%>
  <%- end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => "searches/box" %>
  <%- if logged_in? -%>
    <%= render :partial => 'requested_contacts' %>
    <%= render :partial => 'messages_preview' %>
    <%= render :partial => 'shared/contacts_preview',
               :locals => { :person => current_person } %>
  <%- else -%>
    <h2>About Insoshi</h2>
    
    <p>Insoshi is an open-source project dedicated to making the best
      social networking platform.</p>
      
      <p>This is the 
      developer community site for the Insoshi project.
      </p>
      
    <div style="text-align: center;">
      <%= link_to image_tag("button_signup.png"), signup_path %>
    </div>
      
  <%- end -%>
<%- end -%>