<%- column_div :type => :primary do -%>
  <%- if logged_in? && current_person.has_unread_messages? -%>
    <div class="notice">
      You have unread messages in your mailbox.
      <%= link_to "Click here to see your messages",
                  messages_path %>
    </div>
    <%- end -%>
<%- if logged_in? -%>
    <h2>Your Active Bids/Work</h2>
<%- if @bids.empty? -%>
    <h3 class="blankslate">No active bids</h3>
<%- else -%>
<ul class="list full">
    <%= render :partial => '/shared/bid', :collection => @bids %>
  </ul>
<%- end -%>
    <h2>Your Active Requests</h2>
<%- if @reqs.empty? -%>
    <h3 class="blankslate">No active requests</h3>
<%- else -%>
<ul class="list full">
    <%= render :partial => '/reqs/req', :collection => @reqs %>
  </ul>
  <%- end -%>
<%- else -%>
  <%- unless global_prefs.app_name.blank? -%>
  <h2><%= global_prefs.app_name %> blog</h2>
  <%- else -%>
  <h2><%= Blog %></h2>
<%- end -%>
  <%- if @posts.empty? -%>
    <h3 class="blankslate">
      No posts yet!
      <%- if current_person?(@blog.person) -%>
        <%= link_to "Write a post", new_blog_post_path(@blog) %>
      <%- end -%>
    </h3>
  <%- else -%>
    <ul class="list blog full">
      <%= render :partial => 'posts/blog_post', :collection => @posts %>
    </ul>
  <%- end -%>
  
  <%= will_paginate(@posts) %>
<%- end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%- if logged_in? -%>
    <%= render :partial => 'requested_memberships' %>
    <%= render :partial => 'messages_preview' %>
    <% if global_prefs.group_option? %>
    <%= render :partial => 'requested_memberships' %>
    <%= render :partial => 'invitations' %>
    <%= render :partial => 'people/groups', 
               :locals => {:groups => current_person.own_groups,
               :title => "Admin Groups", :link => "admin"} %>
    <%= render :partial => 'people/groups',
               :locals => {:groups => current_person.groups,
                 :title => "Groups", :link => "groups"} %>
    <%- end -%>
  <%- else -%>
  <% unless global_prefs.gmail.blank? -%>
  <%= render :partial => 'shared/calendar', :object => global_prefs.gmail %>
  <%- end -%>
  <%- end -%>
<%- end -%>
