<div class="module column first span-14">
  <%= render :partial => 'feed' %>


  <table>
    <tr><th colspan="2" style="border-bottom: 2px solid white;">Discussion Forum</th></tr>
    <%- @topics = Topic.find(:all, :order => "created_at DESC", :limit => 5) -%>
    <%- @topics.each do |topic| -%>
    <%- last_post = topic.posts.reverse.first -%>
    <tr class=<%= cycle("odd", "even") %>>
      <td>
        <%= link_to topic.name,
                    forum_topic_posts_path(topic.forum, topic) %>
        <br />
        <span class="quiet small">
        Last post
        <%= time_ago_in_words(last_post.created_at) %> ago
        by <%= link_to last_post.person.name, last_post.person %>
        </span>
      </td>
      <td>
      </td>
    <%- end -%>
    </tr>
  </table>
  
  <%= raster(Person.find(:all, :limit => 8),
             :title => "Network Members",
             :image => :thumbnail) %>
  
  <table>
  <tr><th colspan="4">Network Members</th></tr>
  <%- Person.find(:all, :limit => 8).collect_every(4) do |row| -%>
  <tr>
    <%- row.each do |person| -%>
      <td><%= link_to image_tag(person.thumbnail), person %></td>
    <%- end -%>
  </tr>
  <%- end -%>
</table>
  
</div>

<div class="module column last span-6">
  <%= render :partial => 'contacts' %>
</div>