<%- column_div :type => :primary do -%>
  <%- if logged_in? and current_person.has_unread_messages? -%>
    <div class="notice">
      You have unread messages in your mailbox.
      <%= link_to "Click here to see your messages",
                  messages_path %>
    </div>
  <%- end -%>
  <%= render :partial => 'feed' %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => "searches/box" %>
  <%- if logged_in? -%>
    <%= render :partial => 'requested_contacts' %>
    <%= render :partial => 'messages_preview' %>
    <%= render :partial => 'shared/contacts_preview',
               :locals => { :person => current_person } %>
  <%- else -%>
    <%- unless global_prefs.app_name.blank? -%>
      <h2>About <%= global_prefs.app_name %></h2>
    
      <p>
        <%= link_to "Click here", about_path %>
        to learn more about us.
      </p>
    <%- end -%>
    
    <h2>Join
      <%= global_prefs.app_name.blank? ? "the site" : global_prefs.app_name %>
    </h2>
    
    <div style="text-align: center;">
      <%= link_to image_tag("button_signup.png"), signup_path %>
    </div>
      
  <%- end -%>
<%- end -%>
