<%- column_div :type => :primary do -%>
  <%- if logged_in? -%>
  <h2><%= t('home.index.header') %></h2>
    <ul id="message-nav">
      <%= list_link_with_active t('home.index.tab_exchanges'), home_path %>
      <%= list_link_with_active t('home.index.tab_your_activity'), home_path(:mode => 'dashboard') %>
    </ul>
  <%- if logged_in? && current_person.has_unread_messages? -%>
    <div class="notice">
      <%= t('home.index.unread_messages') %>
      <%= link_to t('home.index.see_your_messages'),
                  messages_path %>
    </div>
  <%- end -%>
    <% if current_page?(home_path) %>
      <%= render :partial => 'feed' %>
    <% else %>
      <%= render :partial => 'dashboard' %>
    <% end %>
  <%- else -%>
    <%= render :partial => 'blog' %>
  <%- end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'secondary_column' %>
<%- end -%>
