<%= render :partial => 'shared/jscript', :locals => { :jscript_file_name => 'home' } %>

<div class="row">
  <div class="span9">
    <% pages = %w[about practice steps contact faq].select {|p| global_prefs.send(p).present?} %>
    <ul class="nav nav-tabs">
      <li><a href="#skillbank" data-toggle="tab"><%= t("home.menu.skillbank") %></a></li>
      <% pages.each do |page| %>
        <li><a href="#<%= page %>" data-toggle="tab"><%= t("home.menu.#{page}") %></a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div id='#skillbank'>
        <%= render :partial => 'categories' %>
      </div>
      <% pages.each do |page| %>
        <div id="#<%= page %>">
          <%= render :partial => page %>
        </div>
      <% end %>
    </div>

  </div>
  <div class="span3">
    <%= render :partial => 'secondary_column' %>
  </div>
</div>
