<%= column_div :type => :primary do -%>
  <%- unless global_prefs.app_name.blank? -%>
  <h2><%= global_prefs.app_name %> <%= t('home.show.header') %></h2>
  <%- else -%>
  <h2><%= t('home.show.header').capitalize %></h2>
  <%- end -%>
<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://<%= global_prefs.disqus_shortname %>.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=<%= global_prefs.disqus_shortname %>">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
<%- end -%>

<%= column_div :type => :secondary do -%>
  <%= render :partial => 'secondary_column' %>
<%- end -%>
