<h1>Insoshi site map</h1>

<% michael = Person.find_by_email("michael@example.com") %>

<p>These are all the pages that need styling.</p>

<ul>
  
  <li>Registration &amp; login
    <ul>
      <li><%= link_to "Registration", signup_path %></li>
      <li><%= link_to "Login", login_path %></li>
    </ul>
  </li>
  <li>Profiles
    <ul>
      <li>
        <%= link_to "Profile for other person", michael %>
        <br />
        list of links/actions (mail, blog, contact link
        or contact status&mdash;should be extensible), image, description,
        activity feed
      </li>
      <li>
        <%= link_to "Profile for current person", current_person %>
        <br />
        notice of "own profile"
      </li>
      <li>
        <%= link_to "Profile edit", edit_person_path(current_person) %>
      </li>
    </ul>
  </li>
  <li>
    <%= link_to "Contacts", person_connections_path(current_person) %>
    <br />
    people links, pagination
  </li>
  <li>
    <%= link_to "Messages", messages_path %>
    <br />
    small menu (Inbox | Sent | Trash); for each message: space for an icon (new/returned), person image, sent by name, time ago, reply link, subject, delete/trash icon
  </li>
  <li>
    Blog
    <ul>
      <li>
        <%= link_to "Other blog", michael.blog %>
        <br />
        Title link, posted time ago by name, body, comments link
      </li>
      <li>
        <%= link_to "Own blog", current_person.blog %>
        <br />
        edit &amp; delete links, add a new post
      </li>
    </ul>
  </li>
  <li>
    <%= link_to "People", people_path %>
    <br />
   linked person icon, linked name, description preview
  </li>
  <li>
    <%= link_to "Forum", forum_path(1) %>
    <br />
    linked topic titles, created by name at time ago, add new topic
  </li>
  <li>
    <%= link_to "Topic", forum_topic_path(1, 1) %>
    <br />
    topic name; for each post: posted time ago by name, body; add new post
  </li>
  <li>
    <%= link_to "Home", home_path %>
    <br />
    Activity feed, messages preview, contacts preview, network members preview
    <br />
    Would be useful to have a generic way of making smaller versions of
    everything, like a widget: blog posts widget, forum topics widget, etc.
  </li>
</ul>  


global: logo, top links (about | help | sign in/out), navigation, headings (h1), pagination links, search box, minifeed