<h1>Listing events</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Instance</th>
    <th>Type</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%=h event.person_id %></td>
    <td><%=h event.instance_id %></td>
    <td><%=h event.type %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_event_path %>
