<p>
  <b>Name:</b>
  <%=h @request.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @request.description %>
</p>

<p>
  <b>Estimated hours:</b>
  <%=h @request.estimated_hours %>
</p>

<p>
  <b>Due date:</b>
  <%=h @request.due_date %>
</p>

<p>
  <b>Person:</b>
  <%=h @request.person_id %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
