<p>
  <b>Email domain:</b>
  <%=h @preference.email_domain %>
</p>

<p>
  <b>Smtp server:</b>
  <%=h @preference.smtp_server %>
</p>

<p>
  <b>Email notifications:</b>
  <%=h @preference.email_notifications %>
</p>


<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
