<li class="req">
  <a name="req_<%= req.id %>"></a>
  <div class="profile-image">
    <%= image_link req.person, :image => :thumbnail %>
    <%= image_tag "icons/new.gif", :class => "icon", :alt => "Request" %>
  </div>
  <p>
  <%= link_to h(req.name), req, :class => "show-follow" %> (<%= h req.estimated_hours %> hrs)
    Due: in <%= time_ago_in_words(req.due_date) %>
  </p>
  <p class="meta">
    <%= h req.categories[0].long_name unless req.categories.empty? %>
  </p>
  <p>
    <%= h req.description %>
  </p>
  <p class="meta">
    <% if req.has_approved? %><%= approved_message(req) %><br><% end -%>
    <% if req.has_completed? %><%= completed_message(req) %><br><% end -%>
    <% if req.has_commitment? %><%= commitment_message(req) %><br><% end -%>
    <% if req.has_accepted_bid? %><%= accepted_message(req) %><br><% end -%>
    Created by <%= person_link req.person %>
    <%= time_ago_in_words(req.created_at) %> ago
  </p>
</li>
