    <h2><%= t('reqs.show.bids') %>:</h2>
    <ul class="list full bids">
      <% if @req.bids.empty? -%>
        <h3 class="blankslate"><%= t('reqs.show.nobids') %></h3>
      <% else %>
        <%= render :partial => "/bids/bid", :collection => @req.bids %>
      <%- end -%>
    </ul>
    <% unless current_person?(@req.person) -%>
      <h2><%= t('reqs.show.newbid') %></h2>

      <%= form_for :bid, :url => req_bids_path(@req), :html => {:id => 'new_bid'} do |f| %>
        <div class="form_row">
          <%= f.label t('estimate') %>
          <%= f.text_field :estimated_hours, :size => 2 %>&nbsp;<span class="small"><%= @req.unit %>
        </div>
        <div class="form_row">
          <%= f.label t('expiration_date') %>
          <%= f.text_field :expiration_date, :size => 8 %>
        </div>
        <div class="form_row">
          <%= f.label t('reqs.show.private_message_to_requestor') %>
          <%= f.text_area :private_message_to_requestor, :rows => 5 %>
        </div>
        <div class="form_row">
          <%= f.submit t('button_submit') %><%= waiting_image %>
        </div>
      <% end %>
    <%- end -%>
