<h2><%= t('reqs.edit.header') %></h2>
<%= form_for @req, :html => {:id => 'edit_req'} do |f| %>
  <%= render :partial => 'form_fields', :locals => {:f => f, :estimate_disabled => true} %>
  <div class="form_row">
    <%= f.submit t('button_update') %><%= waiting_image %>
  </div>
<% end %>
