  <div class="form_row">
    <%= f.label t('title') %>
    <%= f.text_field :name, :size => 40, :maxlength => 255 %>
  </div>
  <div class="form_row">
    <%= f.label t('estimated') + ' ' + t('payment') %>
    <%= f.text_field :estimated_hours, :size => 5, :disabled => estimate_disabled %>&nbsp;<span><%= @group.unit %></span>
  </div>
  <div class="form_row">
    <%= f.label t('due_date') %>
    <%= f.text_field :due_date, :size => 7 %>
  </div>
  <div class="form_row full">
    <%= f.label t('description') %>
    <p class='formatting'><%= t('offers.new.description_label') %></p>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="form_row full">
    <%= render :partial => "shared/select_categories", :locals => { :model_name => 'req' } %>
  </div>
  <div class="form_row full">
    <%= render :partial => "shared/select_neighborhoods", :locals => { :model_name => 'req' } %>
  </div>
