<div class="req req_id_<%= req.id %>">
  <a name="req_<%= req.id %>"></a>
  <div class="profile-image">
    <%= offer_image_link req, :image => :thumbnail %>
  </div>
  <p>
    <h4 style="display: inline-block;"><%= link_to h(req.name), req, :class => "show-follow" %></h4> ( <%= req_estimate_value(req) %> )
  </p>
  <p>
    <%= markdown((full rescue false) ? req.description.to_s : first_n_words(req.description)) %>
  </p>
  <p class="meta">
    <%= render :partial => "shared/bid_message", :collection => approved_messages(req) %>
    <%= render :partial => "shared/bid_message", :collection => completed_messages(req) %>
    <%= render :partial => "shared/bid_message", :collection => commitment_messages(req) %>
    <%= render :partial => "shared/bid_message", :collection => accepted_messages(req) %>
    <%= t('reqs.partial.createdby') %> <%= person_link req.person %>
    <% if can?(:update, req) -%>
      <%= link_to t('button_edit'), edit_req_path(req), :class => 'show-follow' %>
    <% end -%>
    <% if req.biddable? %>
      <% if can?(:destroy, req) -%>
        | <%= link_to t('button_delete'), req, :class => 'delete_req' %>
      <% end -%>
      <% if can?(:deactivate, req) && req.considered_active? -%>
        | <%= link_to t('button_deactivate'), deactivate_req_path(req), :class => 'deactivate_req' %>
      <% end -%>
    <% end -%>
  </p>
</div>
