<li class="req">
  <a name="req_<%= req.id %>"></a>
  <div class="profile-image">
    <%= image_link req.person, :image => :thumbnail %>
    <%= image_tag "icons/new.gif", :class => "icon", :alt => "Request" %>
  </div>
  <% if req.has_accepted_bid? %>
    <%= render :partial => "accepted_bid", :object => req.accepted_bid %>
  <% end -%>
  <p>
    <%= link_to h(req.name), req, :class => "show-follow" %>
    Due at: <%= req.due_date.to_s :short %>
  </p>
  <p>
    Estimated hours: <%= h req.estimated_hours %>
  </p>
  <p>
    <%= h req.description %>
  </p>
  <p class="meta">
    <% if req.has_approved? %><%= approved_message(req) %><br><% end -%>
    <% if req.has_completed? %><%= completed_message(req) %><br><% end -%>
    <% if req.has_commitment? %><%= commitment_message(req) %><br><% end -%>
    <% if req.has_accepted_bid? %><%= accepted_message(req) %><br><% end -%>
    Created by <%= person_link req.person %>
    <%= time_ago_in_words(req.created_at) %> ago
    <% if current_person?(req.person) -%>
    | <%= link_to "Edit", edit_req_path(req) unless req.has_accepted_bid? %>
    <% end -%>
    <% if admin? || current_person?(req.person) -%>
    | <%= link_to "Delete", req, :confirm => 'Are you sure?', :method => :delete unless (req.has_commitment? || req.has_approved?) %>
    <% end -%>
  </p>
</li>
