<div class="req req_id_<%= req.id %>">
  <a name="req_<%= req.id %>"></a>
  <div class="profile-image">
    <%= offer_image_link req, :image => :thumbnail %>
  </div>
  <p>
    <span class="btn btn-info btn-mini">#<%= req.id %></span>
  <%= link_to h(req.name), req, :class => "show-follow" %> (<%= h  nice_decimal(req.estimated_hours)  %> <%= h req.unit %>)
  <%= t('reqs.partial.due') %>: <%= relative_time_ago_in_words(req.due_date) %>
  </p>
  <p>
    <%= markdown((full rescue false) ? req.description.to_s : first_n_words(req.description)) %>
  </p>
  <p class="meta">
    <%= render :partial => "shared/bid_message", :collection => approved_messages(req) %>
    <%= render :partial => "shared/bid_message", :collection => completed_messages(req) %>
    <%= render :partial => "shared/bid_message", :collection => commitment_messages(req) %>
    <%= render :partial => "shared/bid_message", :collection => accepted_messages(req) %>
    <%= t('reqs.partial.createdby') %> <%= person_link req.person %>
    <%= t 'ago_time', :date => time_ago_in_words(req.created_at) %>
    <% if can?(:update, req) -%>
      | <%= link_to t('button_edit'), edit_req_path(req), :class => 'show-follow' %>
    <% end -%>
    <% if req.biddable? %>
      <% if can?(:destroy, req) -%>
        | <%= link_to t('button_delete'), req, :class => 'delete_req' %>
      <% end -%>
      <% if can?(:deactivate, req) && req.considered_active? -%>
        | <%= link_to t('button_deactivate'), deactivate_req_path(req), :class => 'deactivate_req' %>
      <% end -%>
    <% end -%>
    <br>
    <% if !current_person.address.nil? && !req.person.address.nil? && !current_person?(req.person) -%>
      <%= number_with_precision(req.person.address.distance_to(current_person.address), :precision => 1).to_s %> <%= t('miles_away') %>
    <% end -%>
  </p>
  <div class="bottom-req-category-list">
    <%== horizontal_formatted_req_categories(req.long_categories) %>
  </div>
</div>
