<!-- Request Tags -->

<div class="req req_id_<%= @req.id %>">
  
  <a name="req_<%= @req.id %>"></a>

  <!-- Categories on top of the title -->
  <%== horizontal_formatted_offer_categories @req.long_categories %>
  
  <h2>
    <%= h @req.name %><%#= waiting_image %>
  </h2>

  <!-- Fluid container - for two rows -->
  <div class="row-fluid">

    <div class="span6">
      
      <div class="profile-image">
        <%= image_link @req.person, :image => :thumbnail %>
        <%= image_tag "icons/new.gif", :class => "icon", :alt => "Request" %>
      </div>

    </div>

    <div class="span6">
      <!-- Request - bids -->
      <% if @req.active? %>
        <%= render :partial => '/reqs/bids' %>
      <%- end -%>
    
    </div>

  </div>
    
  <ul class="list full">
    <%# render :partial => 'req/req_large', :locals => {:full => true, :req => @req } %>
    <% render :partial => @req, :locals => {:full => true} %>
  </ul>

  <div class="list full">

  </div>  

  

</div<>