<div><%= link_to t('filter_categories'), home_path, :class => "toggle-category filter_selected" %> | <%= link_to t('filter_neighborhoods'), home_path, :class => "toggle-neighborhood" %></div>
<% cache('reqs_filters', :expires_in => 24.hours) do %>
<%= render :partial => '/shared/categories', :locals => {:filtered_obj => 'req', :selected_category => (@selected_category.nil? ? 0 : @selected_category.id)} %>
<%= render :partial => '/reqs/neighborhoods', :locals => {:selected_neighborhood => (@selected_neighborhood.nil? ? 0 : @selected_neighborhood.id)} %>
<% end %>
<span class='req' style='float:right;'><%= link_to "New request", new_group_req_path(@group), {:class => 'show-follow button'} %></span>
<% form_tag group_reqs_path(@group), :method => :get, :class => 'search_form' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t('button_search'), :name => nil %>
  </p>
<% end %>
      <h2><%= t('reqs.index.header') %><%= waiting_image %></h2>
      <%= will_paginate(@reqs) %>
      <ul class="list activity full">
        <%= render :partial => '/reqs/req', :collection => @reqs %>
      </ul>
      <%= will_paginate(@reqs) %>
