<h1>Editing req</h1>

<% form_for(@req) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :estimated_hours %><br />
    <%= f.text_field :estimated_hours %>
  </p>
  <p>
    <%= f.label :due_date %><br />
    <%= f.datetime_select :due_date %>
  </p>
  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @req %> |
<%= link_to 'Back', reqs_path %>
