<%= column_div :type => :primary do -%>
  <h2><%= t('reqs.index.header') %></h2>
  <ul id="message-nav">
  <%= list_link_with_active t('reqs.index.current'), reqs_path %>
  <%= list_link_with_active t('reqs.index.all'), reqs_path(:filter => 'all') %>
  </ul>
<%- if @reqs.empty? -%>
  <h3 class="blankslate"><%= t('reqs.index.noreqs') %></h3>
<%- else -%>
<ul class="list full">
    <%= will_paginate %>
    <%= render :partial => 'req', :collection => @reqs %>
    <%= will_paginate %>
  </ul>
<%- end -%>
<%- end -%>

<%= column_div :type => :secondary do -%>
  <%= render :partial => 'shared/add_req_button' %>
  <%= render :partial => 'searches/box' %>
<%- end -%>
