<%= render :partial => 'shared/jscript', :locals => { :jscript_file_name => 'req_form' } %>
<% if global_prefs.group_option? %>
<script type="text/javascript">
  function update_currency_units(i) {
    var group_units = {
      <%- @groups.each do |g| -%>
        <%= "'#{g.id}': '#{h g.unit}'," %> 
      <%- end -%>
    };
    elem = document.getElementById('units');
    if(!i)
      elem.innerHTML = "<%= t('currency_unit_plural') %>";
    else
      elem.innerHTML = group_units[i];
}
</script>
<%- end  -%>
<%- column_div :type => :primary do -%>

  <h2><%= t('reqs.new.header') %></h2>

<%= error_messages_for :req %>

<% form_for(@req) do |f| %>
  <div class="form_row">
    <%= f.label t('title') %>
    <%= f.text_field :name %>
  </div>
  <div class="form_row">
    <%= f.label t('estimated') + ' ' + t('payment') %>
    <%= f.text_field :estimated_hours, :size => 5 %>&nbsp;<span id="units" class="small"><%= t('currency_unit_plural') %></span>
  </div>
  <% if global_prefs.group_option? and !@groups.empty? %>
    <div class="form_row">
      <label for="group_id"><%= t('group') %></label>
      <%= collection_select( 'req', 'group_id', @groups, :id, :name, { :include_blank => true }, { :onchange => "update_currency_units(this.value);"} ) %>
    </div>
  <%- end -%>
  <div class="form_row">
    <%= f.label t('due_date') %>
    <%= f.text_field :due_date, :size => 7 %>
  </div>
  <div class="form_row">
    <%= f.label t('description') %>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="form_row full">
    <%= render :partial => "shared/select_categories", :locals => { :model_name => 'req' } %>
  </div>
  <div id="providersDisplay" style="height: 95px;" class="form_row full"><label><%= t('reqs.new.people_to_be_notified') %>:</label><div id="followMe"></div></div>
  <div class="form_row">
    <label for="notifications" class="checkbox"><%= t('reqs.new.notify_members_email') %></label>
    <%= check_box_tag 'req[notifications]', '1', true %>
  </div>
  <div class="form_row">
    <%= f.submit t('button_create') %>
  </div>
<% end %>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
