<%- column_div :type => :primary do -%>

<h2>New request</h2>

<%= error_messages_for :req %>

<% form_for(@req) do |f| %>
  <div class="form_row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form_row full">
    <%= render :partial => "select_categories" %>
  </div>
  <div class="form_row">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form_row">
    <%= f.label :estimated_hours %>
    <%= f.text_field :estimated_hours %>
  </div>
  <div class="form_row">
    <%= f.label :due_date %>
    <%= f.datetime_select :due_date %>
  </div>
  <div class="form_row">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%- end -%>
