<% column_div :type => :primary do -%>
  <h2>Request</h2>
  <ul class="list full">
    <%= render :partial => @req %>
  </ul>
  <h2>Bids:</h2>
  <ul class="list full">
  <% unless @req.bids.empty? -%>
    <%= render :partial => "/bids/bid", :collection => @req.bids %>
    <%- end -%>
  </ul>

    <% unless current_person?(@req.person) -%>
      <h2>New bid</h2>

      <%= error_messages_for :req %>

      <% form_for :bid, :url => req_bids_path(@req) do |f| %>
        <div class="form_row">
          <%= f.label :hours %>
          <%= f.text_field :estimated_hours, :size => 2 %>
        </div>
        <div class="form_row">
          <%= f.label :expiration_date %>
          <%= f.datetime_select :expiration_date %>
        </div>
        <div class="form_row">
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    <%- end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/add_req_button' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
