<div class="control-group">
  <%= form.label :address_privacy, :class => 'checkbox' do %>
    <% if @address.new_record? %>
      <%= form.check_box :address_privacy, :checked => @current_person.org ? true : false %>
    <% else %>
      <%= form.check_box :address_privacy%>
    <% end %>
    <%= t('addresses.form.share_address') %>
  <% end %>
</div>
<div class="control-group">
  <%= form.label t('addresses.form.address_line_1'), :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :address_line_1 %>
  </div>
</div>
<div class="control-group">
  <%= form.label t('addresses.form.address_line_2'), :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :address_line_2 %>
  </div>
</div>
<div class="control-group">
  <%= form.label t('addresses.form.address_line_3'), :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :address_line_3 %>
  </div>
</div>
<div class="control-group">
  <%= form.label t('addresses.form.city'), :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :city %>
  </div>
</div>
<div class="control-group">
  <%= form.label t('addresses.form.state'), :class => 'control-label' %>
  <div class="controls">
    <%= form.select :state_id, @states %>
  </div>
</div>
<div class="control-group">
  <%= form.label t('addresses.form.zipcode'), :class => 'control-label' %>
  <div class="controls">
    <%= form.text_field :zipcode_plus_4, :size => 10 %>
  </div>
</div>
