<%= column_div :type => :primary do -%>
  <h2><%= t('addresses.edit.header') %></h2>

  <%= bootstrap_form_for @address, :url => person_address_path(current_person,@address), :html => {:method => :put} do |form| %>
    <%= render :partial => 'form', :object => form %>
    <%= form.actions do %>
      <%= form.primary t('button_update') %>
    <% end %>
  <% end %>
<% end %>

<%= column_div :type => :secondary do -%>
<% end %>
