<h2><%= t('searches.search_results') %></h2>
<div class="span10">
  <%= will_paginate(@page_results, :renderer => BootstrapPaginationHelper::LinkRenderer) %>
  <%- if @page_results.empty? -%>
    <h3><%= t('searches.no_result') %></h3>
  <%- else -%>
    <ul class="list people">
      <%= render :partial => partial(@page_results), :collection => @results %>
    </ul>
  <%- end -%>
  <%= will_paginate(@page_results, :renderer => BootstrapPaginationHelper::LinkRenderer) %>
</div>
