<% column_div :type => :primary do %>

  <%= will_paginate(@results) %>

  <ul class="search">
    <%- @results.each do |result| -%>
      <li>
        <span><%= image_link result %></span>
        <span><%= person_link result %></span>
        <span><%= link_to sanitize(truncate(result.description, 20)), result %></span>
      </li>
    <%- end -%>
  </ul>
    
  <%= will_paginate(@results) %>
<%- end -%>

<% column_div :type => :secondary do %>
  <%= render :partial => 'searches/box' %>
<%- end -%>