<div class="span5">
  <%= f.text_field :name, :label => t("title"), :size => 40, :maxlength => 255 %>
  <%= f.text_area :description, :label => t("description"), :help => t('offers.new.description_label'), :rows => 5 %>
  <div class="control-group">
    <%= f.label t('filter_categories'), :class => 'control-label' %>
    <div class="controls">
      <%= render :partial => "shared/select_categories", :locals => { :model_name => 'offer' } %>
    </div>
  </div>
</div>
<div class="span5">
  <%= f.text_field :price, :label => t('estimate'), :help => @group.unit, :size => 5 %>
  <%= f.text_field :expiration_date, :label => t('expiration_date'), :size => 7 %>
  <%= f.text_field :total_available, :label => t('offers.new.total_available'), :size => 2, :value => 1 %>
  <%= f.fields_for :photos do |i| %> 
    <%= i.file_field :picture, label: t('groups.new_photo.upload_a_photo') %> 
  <% end %>
  <div class="control-group">
    <%= f.label t('filter_neighborhoods'), :class => 'control-label' %>
    <div class="controls">
      <%= render :partial => "shared/select_neighborhoods", :locals => { :model_name => 'offer' } %>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.primary submit_text %><%= waiting_image %>
  <% end %>
</div>
