<div class="span5">
  <div class="control-group">
    <%= f.label t('title'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :size => 40, :maxlength => 255 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t('description'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :rows => 5 %>
    <span class='help-block'><%= t('offers.new.description_label') %></span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t('filter_categories'), :class => 'control-label' %>
    <div class="controls">
      <%= render :partial => "shared/select_categories", :locals => { :model_name => 'offer' } %>
    </div>
  </div>
</div>
<div class="span5">
  <div class="control-group">
    <%= f.label t('estimate'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :size => 5 %>&nbsp;<span class='small'><%= @group.unit %></span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t('expiration_date'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :expiration_date, :size => 7 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t('offers.new.total_available'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total_available, :size => 2, :value => 1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label t('filter_neighborhoods'), :class => 'control-label' %>
    <div class="controls">
      <%= render :partial => "shared/select_neighborhoods", :locals => { :model_name => 'offer' } %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit submit_text, :class => 'btn btn-primary' %><%= waiting_image %>
  </div>
</div>
