<div class="offer offer_id_<%= offer.id %>">

  <a name="offer_<%= offer.id %>"></a>

  <div class="profile-image">
    <%= offer_image_link offer, :image => :thumbnail %>
  </div>

  <p>
    <h4 style="display: inline-block"><%= link_to h(offer.name), offer, :class => "show-follow" %></h4> ( <%= offer_value(offer) %> )
    <% if offer.available_count > 0 && offer.expiration_date > Time.now && !current_person?(offer.person) %>
      <%= link_to t('offers.partial.accept_offer'), new_person_exchange_path(offer.person, :offer => offer.id), {:class => 'pay_now'} %>
    <% end %>
  </p>
  <p>
    <%= markdown(first_n_words(offer.description)) %>
  </p>

  <p class="meta">
    <%= t('offers.partial.created_by') %> <%= person_link offer.person %>

    <%= render partial: '/offers/offer_edit_buttons', locals: {offer: offer} %>
  </p>
</div>
