<div class="offer offer_id_<%= offer.id %> ">

  <a name="offer_<%= offer.id %>"></a>

  <!-- Content to be displayed in two rows -->
  <div class="row-fluid">

    <div class="span12">
      <div class="border-right">
        <%= offer_image_link offer, :image => :main_photo %>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h2><%= " #{offer.name}" %><%= waiting_image %></h2>

      <div class="padded-top" data-links-new-window="true">
        <%= markdown offer.description.to_s %>
      <div>
      <br/>

      <p>
        <%= t('exchanges.new.amount') %>: <%= h nice_decimal(offer.price) %> <%= offer.unit %>
      </p>

      <p class="meta">
        <br/>
        <%= t('offers.partial.available_count') %>: <%= offer.available_count %>

        <br/>
        <br/>

        <%= render partial: 'offer_edit_buttons', locals: {offer: offer} %>
      </p>
    </div>
  </div>
  <!-- end of content to be displayed in two rows -->

  <div class="profile-image" style="display:none;">
    <%= offer_image_link offer, :image => :main_photo %>
  </div>

  <% if offer.available_count > 0 && offer.expiration_date > Time.now && !current_person?(offer.person) %>
  <hr/>

  <% if offer.price > 0 %>
    <%= link_to t('offers.partial.accept_offer'), new_person_exchange_path(offer.person, :offer => offer.id), {:class => 'btn btn-large btn-success pay_now'} %>
  <% end %>

  <hr/>
  <% end %>
</div>
