<div class="offer offer_id_<%= offer.id %>">
  <a name="offer_<%= offer.id %>"></a>
  <div class="profile-image">
    <%= image_link offer.person, :image => :thumbnail %>
    <%= image_tag "icons/new.gif", :class => "icon", :alt => "Offer" %>
  </div>
  <p>
  <%= link_to h(offer.name), offer, :class => "show-follow" %> (<%= h offer.price %> <%= offer.unit %>)
  <% if offer.available_count > 0 && offer.expiration_date > Time.now && !current_person?(offer.person) %>
    <%= link_to t('offers.partial.accept_offer'), new_person_exchange_path(offer.person, :offer => offer.id), {:class => 'pay_now'} %>
<% end %>
<%= t('offers.partial.expires') %> <%= offer.expiration_date.nil? ? '' : relative_time_ago_in_words(offer.expiration_date) %>
  </p>
    <%= display formatted_offer_categories(offer.long_categories), :class => "meta" %>
  <p>
    <%= markdown((full rescue false) ? offer.description : first_n_words(offer.description)) %>
  </p>
  <p class="meta">
  <%= t('offers.partial.available_count') %>: <%= offer.available_count %>
    <br>
    <%= t('offers.partial.created_by') %> <%= person_link offer.person %>
    <%= time_ago_in_words(offer.created_at) %> <%= t('ago') %>
    <% if can?(:update, offer) -%>
      | <%= link_to t('button_edit'), edit_offer_path(offer), :class => 'show-follow' %>
    <% end -%>
    <% if can?(:destroy, offer) -%>
      | <%= link_to t('button_delete'), offer, :class => "delete_offer" %>
    <% end -%>
    <br>
    <% if !current_person.address.nil? && !offer.person.address.nil? && !current_person?(offer.person) -%>
      <%= number_with_precision(offer.person.address.distance_to(current_person.address), :precision => 1).to_s %> <%= t('miles_away') %>
    <% end -%>
  </p>
</div>
