<%= render :partial => 'shared/jscript', :locals => { :jscript_file_name => 'offer_form' } %>
<%= column_div :type => :primary do -%>
<h2><%= t('offers.edit.header') %></h2>

<%= error_messages_for :offer %>
<%= form_for(@offer) do |f| %>

  <div class="form_row">
    <%= f.label t('title') %>
    <%= f.text_field :name %>
  </div>

  <div class="form_row">
    <%= f.label t('price') %>
    <%= f.text_field :price, :size => 5 %>
  </div>
  <div class="form_row">
    <%= f.label t('expiration_date') %>
    <%= f.text_field :expiration_date, :size => 7 %>
  </div>

  <div class="form_row">
    <%= f.label t('description') %>
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="form_row full">
    <%= render :partial => "shared/select_categories", :locals => { :model_name => 'offer' } %>
  </div>
    <%= f.submit t('button_update') %>
<% end %>

<%- end -%>

<%= column_div :type => :secondary do -%>
<%- end -%>
