<%= column_div :type => :primary do -%>
  <h2><%= t('offers.index.header') %></h2>
  <%- if @offers.empty? -%> 
  <h3 class="blankslate"><%= t('offers.index.nooffers') %></h3>
  <%- else -%>
  <ul class="list full">
    <%= will_paginate %>
    <%= render :partial => 'offer', :collection => @offers %>
    <%= will_paginate %>
  </ul>
  <%- end -%>
<%- end -%>
<%= column_div :type => :secondary do -%>
  <%= render :partial => 'shared/add_button', :locals => { :button_text => "Add Offer", :new_resource_path => new_offer_path } %>
  <%= render :partial => 'searches/box' %>
<%- end -%>
