<h2>Editing preferences</h2>

<%= error_messages_for :preferences %>

<% form_for :preferences,
            :url => admin_preference_path(@preferences),
            :html => { :method => :put } do |f| %>
  <div class="form_row">
    <b>Email domain</b><br />
    <%= f.text_field :domain %>
  </div>

  <div class="form_row">
    <b>Smtp server</b><br />
    <%= f.text_field :smtp_server %>
  </div>

  <div class="form_row">
    <b>Email notifications</b><br />
    <%= f.check_box :email_notifications %>
  </div>

  <div class="form_row">
    <b>Email verifications</b><br />
    <%= f.check_box :email_verifications %>
  </div>

  <div class="form_row">
    <b>Analytics (will be inserted 
       just before the <%= h("</body>") %> tag)</b><br />
    <%= f.text_area :analytics, :rows => 10 %>
  </div>

  <div class="form_row">
    <%= f.submit "Update", :class => "button" %>
  </div>
<% end %>

<%= link_to 'Back', admin_preferences_path %>
