<%- column_div :type => :primary do -%>
<h2>Global Preferences</h2>
<div class="button"><%= link_to 'Edit', edit_admin_preference_path(@preferences) %></div>
<div class="prefItem">
  <div class="prefLabel">Application name</div>
  <div class="prefValue"><%= h @preferences.app_name %></div>
</div>

<div class="prefItem">
  <div class="prefLabel">Email domain</div>
  <div class="prefValue"><%=h @preferences.domain %></div>
</div>

<div class="prefItem">
  <div class="prefLabel">Server name</div>
  <div class="prefValue"><%=h @preferences.server_name %></div>
</div>

<div class="prefItem">
  <div class="prefLabel">Smtp server</div>
  <div class="prefValue"><%=h @preferences.smtp_server %></div>
</div>

<div class="prefItem">
  <div class="prefLabel">Email notifications</div>
  <div class="prefValue"><%=h @preferences.email_notifications %></div>
</div>

<div class="prefItem">
  <div class="prefLabel">Email verifications</div>
  <div class="prefValue"><%=h @preferences.email_verifications %></div>
</div>

<div class="prefItem">
  <div class="prefLabel">Demo site</div>
  <div class="prefValue"><%=h @preferences.demo %></div>
</div>

<div class="prefItem">
  <div class="prefLabel">Whitelist</div>
  <div class="prefValue"><%=h @preferences.whitelist %></div>
</div>

<div class="prefItem">
  <b>About text (nonblank text will lead to an 'about' link)</b>
  <div class="prefAbout"><%= display @preferences.about %></div>
</div>

<div class="prefItem">
  <b>Analytics (will be inserted just before the <%= h("</body>") %> tag)</b>
  <%- unless @preferences.analytics.blank? -%>
    <pre><%=h @preferences.analytics %></pre>
  <%- end -%>
</div>
<% end %>
