<h2>Global preferences</h2>

<p>
  <b>Application name:</b>
  <%=h @preferences.app_name %>
</p>

<p>
  <b>Email domain:</b>
  <%=h @preferences.domain %>
</p>

<p>
  <b>Server name:</b>
  <%=h @preferences.server_name %>
</p>

<p>
  <b>Smtp server:</b>
  <%=h @preferences.smtp_server %>
</p>

<p>
  <b>Email notifications:</b>
  <%=h @preferences.email_notifications %>
</p>

<p>
  <b>Email verifications:</b>
  <%=h @preferences.email_verifications %>
</p>

<p>
  <b>Demo site:</b>
  <%=h @preferences.demo %>
</p>

<p>
  <b>Whitelist:</b>
  <%=h @preferences.whitelist %>
</p>

<p>
  <b>About text (nonblank text will lead to an 'about' link):</b>
</p>
<%= display @preferences.about %>


<p>
  <b>Analytics (will be inserted 
     just before the <%= h("</body>") %> tag):</b>
</p>
  <pre>
<%=h @preferences.analytics %>
  </pre>


<%= link_to 'Edit', edit_admin_preference_path(@preferences) %>
