<h2>Global preferences</h2>

<p>
  <b>Application name:</b>
  <%=h @preferences.app_name %>
</p>

<p>
  <b>Email domain:</b>
  <%=h @preferences.domain %>
</p>

<p>
  <b>Server name:</b>
  <%=h @preferences.server_name %>
</p>

<p>
  <b>Smtp server:</b>
  <%=h @preferences.smtp_server %>
</p>

<p>
  <b>Twitter name:</b>
  <%=h @preferences.twitter_name %>
</p>

<p>
  <b>Twitter oauth consumer key:</b>
  <%=h @preferences.twitter_oauth_consumer_key %>
</p>

<p>
  <b>Twitter api:</b>
  <%=h @preferences.twitter_api %>
</p>

<p>
  <b>Exception notify emails (space separated):</b>
  <%=h @preferences.exception_notification %>
</p>

<p>
  <b>Gmail Account name:</b>
  <%=h @preferences.gmail %>
</p>

<p>
  <b>Email notifications:</b>
  <%=h @preferences.email_notifications %>
</p>

<p>
  <b>Email verifications:</b>
  <%=h @preferences.email_verifications %>
</p>

<p>
  <b>Enable Groups:</b>
  <%=h @preferences.group_option %>
</p>

<p>
  <b>Enable Zipcode Browing:</b>
  <%=h @preferences.zipcode_browsing %>
</p>

<p>
  <b>Notify first admin of registrations:</b>
  <%=h @preferences.registration_notification %>
</p>

<p>
  <b>Demo site:</b>
  <%=h @preferences.demo %>
</p>

<p>
  <b>Whitelist:</b>
  <%=h @preferences.whitelist %>
</p>

<p>
  <b>About text (nonblank text will lead to an 'about' link):</b>
</p>
<%= display @preferences.about %>

<p>
  <b>Practice text (nonblank text will lead to an 'practice' link):</b>
</p>
<%= display @preferences.practice %>

<p>
  <b>Steps text (nonblank text will lead to an 'steps' link):</b>
</p>
<%= display @preferences.steps %>

<p>
  <b>Questions text (nonblank text will lead to an 'questions' link):</b>
</p>
<%= display @preferences.questions %>

<p>
  <b>Memberships text (nonblank text will lead to an 'memberships' link):</b>
</p>
<%= display @preferences.memberships %>

<p>
  <b>Contact text (nonblank text will lead to an 'contact' link):</b>
</p>
<%= display @preferences.contact %>


<p>
  <b>Analytics (will be inserted 
     just before the <%= h("</body>") %> tag):</b>
</p>
  <pre>
<%=h @preferences.analytics %>
  </pre>


<%= link_to 'Edit', edit_admin_preference_path(@preferences) %>
