<%= error_messages_for :photo %>

<%= form_for @photo, :html => { :multipart => true } do |f| -%>
  <div class="form_field">
    <%= image_tag(@display_photo.picture_url(:thumbnail)) %><br />
    <label for="photo">Update your photo:</label><br />
    <%= f.file_field :picture %>
  </div>
  <div class="form_field">
    <%= submit_tag 'Update' %>
    <%= f.submit "Cancel", :id => "cancel" %>
  </div>
<% end -%>
