<%- column_div :type => :primary, :id => 'photos' do -%>
  <% unless @photos.empty? %>
	  <h2><%= current_person.name %>'s Photos</h2>
	  <div class="button_container">
		    <div class="button"><%= link_to "Add Photo", new_photo_path() %></div>
		    <div class="clear"></div>
	  </div>
	  <ul class="">
		<% @photos.each do |photo| %>
		  <li>
			<p class="gallPhotoTitle">
			  <%= link_to photo.label, '#gpu' + photo_id(photo), :rel => 'facebox' %>
			  <div style="display: none;" id="gpu<%= photo_id(photo) -%>"><%= image_tag photo.public_filename -%> <div class="gpuTitle"><%= photo_title(photo.filename) -%> </div></div>
			</p>
			<p class='gallPhoto'>
			  <%= image_tag(photo.public_filename(:thumbnail)) %>
		    <%= link_to image_tag("icons/picture_edit.png", :class => 'actioner'), edit_photo_path(photo) %>
		    <%= link_to image_tag("icons/picture_delete.png", :class => 'actioner'), photo_path(photo), :method => :delete %>
			</p>
		  </li>
		<% end %>
	  </ul>
	</div>
  <% end %>
<% end %>