<h2><%= t('people.edit.add_a_photo') %></h2>

<%= bootstrap_form_for @photo, :html => { :multipart => true } do |f| -%>

  <%= f.file_field :picture, label: t('groups.new_photo.upload_a_photo') %>
  <%= f.actions do %>
    <%= f.primary "Upload" %>
    <%= f.submit "Cancel", :id => "cancel", :class => "btn" %>
  <% end %>
<% end -%>
