<% form_for :post, 
      :url => url, 
      :html => { :method => method, :id => "blogpost" }  do |f| %>

  <div class="form_row">
    <%= f.label :title %>
    <%= f.text_field :title, :id => 'post_title' %>
  </div>

  <div class="form_row">
  <%= f.label :body, "Post" %>
    <%# f.text_area :body, :rows => 20 %>
    <%= fckeditor_textarea("post", :body, :toolbarSet => 'Basic', 
			:width => '98%', :height => RICH_TEXT_HEIGHT) %>
  </div>

  <div class="form_row" id="post_submit">
    <%= f.submit "Save", :class => "button" %>
  </div>
<% end %>
