<tr>
  <td><%= link_to image_tag(comment.commenter.thumbnail), 
                            comment.commenter %></td>
  <td class="content">
    <div class="header">
      <%= time_ago_in_words(comment.created_at) %> ago
      <%= link_to comment.commenter.name, comment.commenter %> said
    </div>
    <div class="body">
      <%= sanitize comment.body %>
      <%- if current_person?(comment.post.blog.person) -%>
      <br />
      <%= link_to "delete", blog_post_comment_path(@blog, @post, comment),
                            :method => :delete %>
      <%- end -%>
    </div>
  </td>
</tr>