<li>
  <p class="meta">
    <%= image_tag "icons/comment.png", :class => "icon", :alt => "Comment" %>
    <%= person_link comment.commenter %> posted a comment
    <%= time_ago_in_words(comment.created_at) %> ago:
  </p>
  <%= display comment.body %>
  <%- if current_person?(comment.commentable.blog.person) -%>
  <div>
    <%= link_to "delete", blog_post_comment_path(@blog, @post, comment),
                          :method => :delete %>
  </div>
  <%- end -%>
</li>