<div class="comment element clearfix">
  <div class="column first span-3">
    <%= image_link comment.commenter, :image => :thumbnail %>
  </div>
  <div class="wrapper column span-<%= LARGER_COLUMN-3 %> last">
    <div class="header">
      <%= time_ago_in_words(comment.created_at) %> ago
      <%= person_link comment.commenter %> said
    </div>
    <div class="content">
      <%= sanitize comment.body %>
      <%- if current_person?(comment.post.blog.person) -%>
      <br />
      <%= link_to "delete", blog_post_comment_path(@blog, @post, comment),
                            :method => :delete %>
      <%- end -%>
    </div>
  </div>
</div>