<h1>Editing post</h1>

<%= error_messages_for :post %>

<% form_for :post, :url => blog_post_path(@blog, @post),
                   :html => { :method => :put } do |f| %>
  <p>
    <b>Blog</b><br />
    <%= f.text_field :blog_id %>
  </p>

  <p>
    <b>Topic</b><br />
    <%= f.text_field :topic_id %>
  </p>

  <p>
    <b>Person</b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
