<div class="column first span-14">
  <table>
    <tr><th><%= @topic.name %></th></tr>
    <%- @posts.each do |post| -%>
      <tr>
        <td class="time">
          Posted <%= time_ago_in_words(post.created_at) %> ago
          by <%= link_to post.person.name, post.person %>
          <%- if current_person?(post.person) -%>
            | <%= link_to "Edit",
                          edit_forum_topic_post_path(@forum, @topic, post) %>
          <%- end -%>   
        </td>
      </tr>
      <tr><td><%= sanitize post.body %></td></tr>
    <%- end -%>
  </table>

<h3>Add new post</h3>

<%= error_messages_for :post %>

<% form_for :post,
            :url => forum_topic_post_path(@forum, @topic, @post)  do |f| %>
  <div class="form_row">
    <%= f.text_area :body %>
  </div>

  <div class="form_row">
    <%= f.submit "Submit" %>
  </div>
<% end %>

</div>

<%= render :partial => 'shared/minifeed' %>
