<%- column_div :type => :primary do -%>
  <h1><%= @topic.name %></h1>
  <div class="forum section clear">
    <%= render :partial => 'forum_post', :collection => @posts %>
  </div>


  <h3>Add new post</h3>

  <%= error_messages_for :post %>

  <% form_for :post,
              :url => forum_topic_post_path(@forum, @topic, @post)  do |f| %>
    <div class="form_row">
      <%= f.text_area :body %>
    </div>

    <div class="form_row">
      <%= f.submit "Submit" %>
    </div>
  <% end %>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
