<h1>New post</h1>

<%= error_messages_for :post %>

<% form_for :post,
            :url => forum_topic_post_path(@forum, @topic, @post)  do |f| %>
  <p>
    <b>Blog</b><br />
    <%= f.text_field :blog_id %>
  </p>

  <p>
    <b>Topic</b><br />
    <%= f.text_field :topic_id %>
  </p>

  <p>
    <b>Person</b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', forum_topic_posts_path(@forum, @topic) %>
