<div class="column first span-14">

<h1><%= sanitize @post.title %></h1>
<%- if current_person?(@blog.person) and false -%>
  <%= link_to "Edit", edit_blog_post_path(@blog, @post) %>
  | <%= link_to "Delete", blog_post_path(@blog, @post),
                          :method => :delete %>
<%- end -%>

<div class="time">
Posted <%= time_ago_in_words(@post.created_at) %> ago
by <%= link_to @blog.person.name, @blog.person %>
</div>

<div class="blog_post">
<%= sanitize @post.body %>
</div>

<%- unless @post.comments.empty? -%>
<div class="comment">
<table>
  <tr><th colspan="2">Comments</th></tr>
  <%= render :partial => 'comment', :collection => @post.comments %>
</table>
</div>
<%- end -%>

<h3>Leave a comment</h3>

<% form_for :comment, :url => blog_post_comments_path(@blog, @post) do |f| %>
  <div class="form_tag">
    <%= f.text_area :body %>
  </div>
  
  <div class="form_tag">
    <%= submit_tag "Submit" %>
  </div>
<% end %>

</div>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
