<%- column_div :type => :primary do -%>

  <h2><%= link_to "Blog for #{h @blog.person.name}", @blog %></h2>

  <h3>
  <%= sanitize @post.title %>
  <%- if current_person?(@blog.person) -%>
    <%= link_to "Edit", edit_blog_post_path(@blog, @post) %>
    | <%= link_to "Delete", blog_post_path(@blog, @post),
                            :method => :delete %>
  <%- end -%>
  </h3>

  <%= display @post.body %>

  <p class="meta">
  Posted <%= time_ago_in_words(@post.created_at) %> ago
  by <%= person_link @blog.person %>
  </p>



  <%- unless @post.comments.empty? -%>
  <h4 id="comments">Comments</h4>
    <ul class="list comments full">
      <%= render :partial => 'comment', :collection => @post.comments %>
    </ul>
  <%- end -%>

  <%- if logged_in? -%>
    <h4>Leave a comment</h4>

    <p><%= formatting_note %></p>

    <% form_for :comment, :url => blog_post_comments_path(@blog, @post),
                          :html => { :id => "blogcomment" } do |f| %>
      <div class="form_row">
        <%= f.text_area :body, :rows => 10 %>
      </div>
  
      <div class="form_row">
        <%= submit_tag "Submit", :class => "button" %>
      </div>
    <% end %>

  <%- end -%>
<%- end -%>

  <%- column_div :type => :secondary do -%>
    <%= render :partial => 'shared/minifeed' %>
  <%- end -%>