<p>
  <b>Blog:</b>
  <%=h @post.blog_id %>
</p>

<p>
  <b>Topic:</b>
  <%=h @post.topic_id %>
</p>

<p>
  <b>Person:</b>
  <%=h @post.person_id %>
</p>

<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>


<%= link_to 'Edit', edit_forum_topic_post_path(@forum, @topic, @post) %> |
<%= link_to 'Back', forum_topic_posts_path(@forum, @topic) %>
