<h2>New forum</h2>

<%= error_messages_for :forum %>

<% form_for :forum, :url => admin_forums_path do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', forums_path %>
