<li class="vcard person">
  <%= person_link_with_image person, :class => "url fn" %> &mdash;
  <%- activity = activated_status(person) -%>
  <%= link_to activity, 
              admin_person_path(person, :task => "deactivated"),
              :method => :put %>
  |
  <%- activity = person.admin? ? "unadmin" : "make admin" -%>
  <%= link_to activity, 
              admin_person_path(person, :task => "admin"),
              :method => :put %>
  <p class="person_meta">
    <strong>Forum Posts:</strong> 
    <%= person.forum_posts_count -%> | 
    <strong>Blog Posts:</strong> 
    <%= link_to person.blog.posts.count.to_s, blog_path(person) -%> |
    <strong>Connections:</strong> 
      <%= link_to person.connections.count,
                  person_connections_path(person) -%>
  </p>
</li>