<h1>Listing posts</h1>

<table>
  <tr>
    <th>Blog</th>
    <th>Topic</th>
    <th>Person</th>
    <th>Body</th>
  </tr>

<% for post in @posts %>
  <tr>
    <td><%=h post.blog_id %></td>
    <td><%=h post.topic_id %></td>
    <td><%=h post.person_id %></td>
    <td><%=h post.body %></td>
    <td><%= link_to 'Show', forum_topic_post_path(@forum, @topic, post) %></td>
    <td><%= link_to 'Edit', edit_forum_topic_post_path(@forum, @topic, post) %></td>
    <td><%= link_to 'Destroy', forum_topic_post_path(@forum, @topic, post), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_forum_topic_post_path(@forum, @topic) %>
