<%- column_div :type => :primary do -%>
  <h2>Edit gallery</h2>

  <%- form_for(@gallery) do |f| -%>
    <div class="form_row">
    <%= f.label :title %>
      <%= f.text_field :title%>
  </div>

    <div class="form_row">
    <%= f.label :description %>
      <%= fckeditor_textarea("gallery", :description, 
      :toolbarSet => 'InsoshiBase', :width => '98%', 
      :height => RICH_TEXT_HEIGHT) %>
      <%# f.text_area :description, :rows => 5 %>
  </div>

    <div class="form_row">
      <%= f.submit "Update", :class => 'button' %>
  </div>
  <%- end -%>
<%- end -%>