<%- column_div :type => :primary do -%>
  <h2>New gallery</h2>

  <%- form_for(@gallery) do |f| -%>
    <div class="form_row">
      <label for="title">Title</label>
      <%= f.text_field :title %>
    </div>
    
    <%= set_focus_to "gallery_title" %>

    <div class="form_row">
      <label for="description">Description</label>
      <%= f.text_area :description, :rows => 5 %>
    <div>

    <div class="form_row">
      <%= f.submit "Create", :class => "button" %>
      <%= link_to "Cancel", person_galleries_path(current_person) %>
    </div>
  <%- end -%>
<%- end -%>
