<%- column_div :type => :primary, :id => 'photos' do -%>
	<h2> Photos in <%= h(@gallery.title)%> </h2>
	<%if !@gallery.description.nil?%>
	<div class="gallery-description">
		<p><strong>Description:</strong> <%=h(@gallery.description)%></p>
	</div>
	<%end%>
	<ul>
	  <%=render :partial=>"shared/photo", :collection => @photos%>
	</ul>
	<%= will_paginate(@photos) %>
<%-end-%>

<%- column_div :type => :secondary do -%>
	<h2> Toolbox </h2>
	<div class="toolbox">
		<ul>
			<% if current_person?(@gallery.person)%>
				<li><%=link_to "Add photo", new_gallery_photo_path(@gallery)%></li>
				<li><%=link_to "Edit gallery", edit_gallery_path()%> </li>
			<% end %>
			<li><%=link_to "#{h(@gallery.person.name)}'s gallery list", person_galleries_path(@gallery.person)%> </li>
		</ul>
	</div>
<%- end-%>