<h1>Listing neighborhoods</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Parent</th>
  </tr>

<% for neighborhood in @neighborhoods %>
  <tr>
    <td><%=h neighborhood.name %></td>
    <td><%=h neighborhood.description %></td>
    <td><%=h neighborhood.parent_id %></td>
    <td><%= link_to 'Show', neighborhood %></td>
    <td><%= link_to 'Edit', edit_neighborhood_path(neighborhood) %></td>
    <td><%= link_to 'Destroy', neighborhood, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New neighborhood', new_neighborhood_path %>
