<li>
<a class="categoryMenuItem" href="#<%= category_counter + 1  %>" title="" name="<%= category_counter + 1 %>"><%= category.name %></a> (<%= category.descendants_current_and_active_reqs_count + category.current_and_active_reqs.length %>)
  <div>
    <ul>
      <li><%= link_to 'General', category %> (<%= category.current_and_active_reqs.length %>)</li>
    <% if category.children.empty? -%>
      <br>
    <% else -%>
      <%= render :partial => 'subcategory', :collection => category.children %>
    <% end -%>
    </ul>
  </div>
</li>
