<%= bootstrap_form_for(@category) do |f| %>
  <%= f.text_field :name, label: t('categories.form.name') %>
  <div class="control-group">
    <%= f.label t('categories.form.parent_category'), :class => 'control-label' %>
    <div class="controls">
      <%= render(:partial => "select_categories") %>
    </div>
  </div>
  <%= f.actions do %>
    <%= f.primary t('button_create') %>
  <% end %>
<% end %>
