<%- column_div :type => :primary do -%>
  <h2><%=h @category.long_name %></h2>
  <% if @people.empty? %>
    <h3 class="blankstate"><%= t('categories.show.no_people') %></h3>
  <%- else -%>
  <ul class="list people">
    <%= render :partial => @people %>
  </ul>
  <%- end -%>

  <%- if admin? -%>
  <%= link_to t('button_edit'), edit_category_path(@category) if 0 == @reqs.size %>
  <%- end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <h2><%= t('offers.index.header') %></h2>
  <%- if @offers.empty? -%>
    <h3 class="blankstate"><%= t('categories.show.no_offers') %></h3>
  <%- else -%>
  <ul class="list full">
    <%= render :partial => 'offers/offer', :collection => @offers %>
  </ul>
  <%- end -%>
  <h2><%= t('reqs.index.header') %></h2>
  <%- if @reqs.empty? -%>
    <h3 class="blankstate"><%= t('categories.show.no_reqs') %></h3>
  <%- else -%>
  <ul class="list full">
    <%= render :partial => 'reqs/req', :collection => @reqs %>
  </ul>
  <%- end -%>
<%- end -%>
