<%= column_div :type => :primary do -%>
  <h2><%=h @category.long_name %></h2>
  <h2>Offers</h2>
  <% if @offers.empty? %>
    <h3><%= link_to t('offers.index.nooffers'), home_path %></h3>
  <%- else -%>
  <ul class="list offers">
    <%= render :partial => @offers%>
  </ul>
  <%- end -%>
<%- end -%>

<%= column_div :type => :secondary do -%>
  <%- if admin? -%>
    <h2><%=h t('button_edit') %></h2>
    <%= link_to t('button_edit'), edit_category_path(@category) %>
  <%- end -%>
<%- end -%>
