<h1>Editing activity</h1>

<%= error_messages_for :activity %>

<% form_for(@activity) do |f| %>
  <p>
    <b>Person</b><br />
    <%= f.text_field :person_id %>
  </p>

  <p>
    <b>Instance</b><br />
    <%= f.text_field :item_id %>
  </p>

  <p>
    <b>Type</b><br />
    <%= f.text_field :item_type %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @activity %> |
<%= link_to 'Back', activities_path %>
