<h1>Listing activities</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Instance</th>
    <th>Type</th>
  </tr>

<% for activity in @activities %>
  <tr>
    <td><%=h activity.person_id %></td>
    <td><%=h activity.instance_id %></td>
    <td><%=h activity.type %></td>
    <td><%= link_to 'Show', activity %></td>
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New activity', new_activity_path %>
