<%= render :partial => 'shared/minifeed' %>
<div style='width:320px;float:left;'>
<h2>Edit Email Notification Prefs</h2>
<%= form_for(@member_preference) do |f| %>
  <%= f.error_messages %>
    <div style='padding-left:10px;'>
      <p>
      <label for="req_notifications"
             class="checkbox"><%= t('people.edit.requests_in_my_service_categories') %></label>
      <%= f.check_box :req_notifications %>
      </p>
      <p>
      <label for="forum_notifications"
             class="checkbox"><%= t('people.edit.forum_posts') %></label>
      <%= f.check_box :forum_notifications %>
      </p>
      <p>
        <%= f.submit 'Update' %><%= waiting_image %>
      </p>
    </div>
<% end %>
</div>
