<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%- if global_prefs.app_name.blank? -%>
      <title>Insoshi Open Source Social Networking Platform</title>
    <%- else -%>
      <title><%= global_prefs.app_name %></title>
    <%- end -%>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield :jquery_support %>
    <%= yield :head %>    
  </head>
  <body class="<%= @body || controller_name %>">
    <div id="header-wrap">
      <div id="header">
        <h1>
        <%- if params[:controller] == 'groups' and params[:action] == 'show' %>
        <%= h @group.name %>
        <%- elsif current_person -%>
          <%= link_to global_prefs.app_name, group_path(current_person.default_group)  %>
        <% else -%>
          <%= link_to global_prefs.app_name, home_path %>
        <%- end -%>
        </h1>
        <div> 
          <p class="welcome">
            <%- if logged_in? -%>
              <%- if current_person.admin? -%>
                <%= link_to("Admin view", "/admin") %>
              <%- end -%>
            <%- else -%>
              <%= link_to t('sessions.new.header'), login_path %>
              <%= t('or') %>
              <%= link_to t('people.new.header'), signup_path %>
              <%- if global_prefs.can_send_email? -%>
              <br />
              <%= link_to t('sessions.new.i_forgot_my_password'),
                           new_password_reset_path %>
              <%- end -%>             
            <%- end -%>
          </p>
        </div>
          <%- if logged_in? -%>
            <ul id="sfmenu">
              <li class="left_item">
              <% if global_prefs.groups %>
                <a href="#"><%= t('home.menu.your_groups') %></a>
                <ul>
                  <%= render :partial => 'shared/membership', :collection => current_person.memberships.all(:include => 'group', :order => 'groups.name ASC') %>
                  <li><%= link_to t('home.menu.more_groups'), groups_path, :id => 'moregroups' %></li>
                </ul>
              <% end %>
              </li>
              <li class="middle_item">
                <a href="#"><%= t('home.menu.help') %></a>
                <ul class="active">
                  <li><%= link_to t('home.menu.about'), about_path if !global_prefs.about.blank? %></li>
                  <li><%= link_to t('home.menu.practice'), practice_path if !global_prefs.practice.blank? %></li>
                  <li><%= link_to t('home.menu.steps'), steps_path if !global_prefs.steps.blank? %></li>
                  <li><%= link_to t('home.menu.contact'), contact_path if !global_prefs.contact.blank? %></li>
                  <li><%= link_to t('home.menu.agreement'), agreement_path if !global_prefs.agreement.blank? %></li>
                  <li><%= link_to t('home.menu.faq'), questions_path if !global_prefs.questions.blank? %></li>
                </ul>
              </li>
              <li class="profile_icon_item">
                <%= image_link current_person, {:link => person_path(current_person)} %>
              </li>
              <li class="right_item">
                <a href="#"><%= h current_person.name %></a>
                <ul>
                  <%= link_to t('home.menu.profile'), person_path(current_person) %>
                  <%= link_to t('home.menu.inbox'), messages_path %>
                  <%= link_to t('home.menu.sign_out'), logout_path %>
                </ul>
              </li>
            </ul>
          <%- end -%>
        </div>
      </div>
    </div>

    <div id="wrap">

      <div id="content">
        <% flash.each do |key, msg| %>
          <%= content_tag :p, msg.html_safe, :class => "flash #{key}" %>
        <% end %>
        <%= yield %>

        
        <div id="footer">
          <p>
		<%= render :partial => 'shared/powered_by' %>
          </p>
        </div>
        <div id="license">
          <p>
            <%= render :partial => 'shared/license' %>
          </p>
        </div>
      </div>
      <%- if Rails.env.development? -%>
        <div><%= render :partial => 'shared/debug' %></div>
      <%- end -%> 
    </div>
    <%= global_prefs.analytics %>
  </body>
</html>
