<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= app_name %></title>
  <% if @forum %>
    <%= auto_discovery_link_tag(:atom, :action => :show, :format => :atom, 
    :id => @forum.id ) %>
  <% elsif @feed %>
    <%= auto_discovery_link_tag(:atom, :action => :index, 
    :format => :atom ) %>
  <% end %>
    <%= stylesheet_link_tag "default" %>
    <%= stylesheet_link_tag "jquery-flora.tabs.css", "jquery.tooltip.css", 
                            "facebox.css" %>
    <%= javascript_include_tag "jquery.js", "jquery-ui.js", "jquery-fx.js", 
                               "jrails.js" %>
    <%= javascript_include_tag "jquery.collection-min.js", 
                               "jquery.bgiframe.js", "jquery.tooltip.pack.js",
                               "jquery.livequery.js",
                               "facebox.js", "application.js" %>
    <%= stylesheet_link_tag 'calendar/blue/style' %>
  </head>
  <body class="<%= @body %>">
    <%= render :partial => 'shared/header' %>
    <div id="wrap">
      <div id="content">
        <%- if global_prefs.demo? -%>
          <p class="error" style="font-weight: bold;">
            This is a demonstration site. 
            Data may be modified or removed without warning.
          </p>
        <%- end -%>
        <% flash.each do |key, msg| %>
          <%= content_tag :p, msg, :class => "flash #{key}" %>
        <% end %>     
        <%= yield %>
      </div>
      <%= render :partial => 'shared/footer' %>
      <%= render :partial => 'shared/debug' if development? %>
    </div>
    <%= global_prefs.analytics %>
  </body>
</html>