<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insoshi Social Software - Open Source Social Network</title>
    <%= stylesheet_link_tag "default" %>
  </head>
  <body class="<%= @body %>">
    <div id="header-wrap">
      <div id="header">
        <h1>
          <a href="index.html" title="Return to Insoshi homepage">
            <img src="/images/logo-insoshi.png" alt="Insoshi - Social Software" />
          </a>
        </h1>
        <ul id="nav">
          <%- menu.each do |link| -%>
            <%= menu_li link %>
          <%- end -%>
        </ul>
        
          <p class="welcome">
            <%- if logged_in? -%>
              Welcome, <%= h current_person.name %>!
              (<%= link_to "Sign out", logout_path %>)
              <%- if current_person.admin? -%>
                <br />
                <%- if admin_view? -%>
                  <%= link_to("Standard view", home_path) %>
                <%- else -%>
                  <%= link_to("Admin view", admin_home_path) %>
                <%- end -%>
              <%- end -%>
            <%- else -%>
              <%= link_to "Sign in", login_path %> or
              <%= link_to "Sign up", signup_path %>
              <br />
              <%= link_to "I forgot my password",
                           new_password_reminder_path %>
            <%- end -%>
          </p>
      </div>
    </div>
    
    <div id="wrap">
      <div id="content">
        <% flash.each do |key, msg| %>
          <%= content_tag :p, msg, :class => "flash #{key}" %>
        <% end %>     
        <%= yield %>
      <div id="footer">
        <p id="footer-nav">
          <a href="index.html">Home</a> | <a href="profile.html">Profile</a> | <a href="messages.html">Messages</a> | <a href="blog.html">Blog</a> | <a href="people.html">People</a> | <a href="forum.html">Forum</a>

        </p>
        <p>Powered by
          <a href="http://insoshi.com/">Inoshi Social Software</a>
        </p>
      </div>
      </div>
    </div>
    <%- if false and development? -%>
      <div><%# render :partial => 'shared/debug' %></div>
    <%- end -%> 
  </body>
</html>
