<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%- if global_prefs.app_name.blank? -%>
      <title>Insoshi Open Source Social Networking Platform</title>
    <%- else -%>
      <title><%= global_prefs.app_name %></title>
    <%- end -%>
    <%= stylesheet_link_tag "default" %>
    <%= stylesheet_link_tag 'Aristo/jquery-ui-1.8rc3.custom' %>
    <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <%= javascript_include_tag 'jquery.timeago' %>
    <%= javascript_include_tag 'highcharts' %>
    <%= javascript_include_tag 'jquery.ba-hashchange.min' %>
    <%= javascript_include_tag 'site' %>
    <%= yield :jquery_support %>
    <%= yield :head %>    
  </head>
  <body class="<%= @body %>">
    <div id="header-wrap">
      <div id="header">
        <h1>
        <%- if params[:controller] == 'groups' and params[:action] == 'show' %>
        <%= h @group.name %>
        <%- else -%>
          <%= global_prefs.app_name %>
        <%- end -%>
        </h1>
        <div> 
          <p class="welcome">
            <%- if logged_in? -%>
              <%- if current_person.admin? -%>
                <%- if admin_view? -%>
                  <%= link_to("Standard view", home_path) %>
                <%- else -%>
                  <%= link_to("Admin view", admin_preferences_path) %>
                <%- end -%>
              <%- end -%>
            <%- else -%>
              <%= link_to "Sign in", login_path %> or
              <%= link_to "Sign up", signup_path %>
              <%- if global_prefs.can_send_email? -%>
              <br />
              <%= link_to "I forgot my password",
                           new_password_reset_path %>
              <%- end -%>             
            <%- end -%>
          </p>
        </div>
          <%- if logged_in? -%>
            <ul id="sfmenu">
              <li class="left_item">
                <a href="#">Your Groups</a>
                <ul>
                  <%= render :partial => 'shared/membership', :collection => current_person.memberships.all(:include => 'group', :order => 'groups.name ASC') %>
                  <li><%= link_to "more...", groups_path, :id => 'moregroups' %></li>
                </ul>
              </li>
              <li class="middle_item">
                <a href="#">Help</a>
                <ul class="active">
                  <li><%= link_to "about", about_path if !global_prefs.about.blank? %></li>
                  <li><%= link_to "practice", practice_path if !global_prefs.practice.blank? %></li>
                  <li><%= link_to "steps", steps_path if !global_prefs.steps.blank? %></li>
                  <li><%= link_to "contact", contact_path if !global_prefs.contact.blank? %></li>
                  <li><%= link_to "agreement", agreement_path if !global_prefs.agreement.blank? %></li>
                  <li><%= link_to "faq", questions_path if !global_prefs.questions.blank? %></li>
                </ul>
              </li>
              <li class="profile_icon_item">
                <%= image_link current_person, {:link => edit_person_path(current_person)} %>
              </li>
              <li class="right_item">
                <a href="#"><%= h current_person.name %></a>
                <ul>
                  <%= link_to "Profile", edit_person_path(current_person) %>
                  <%= link_to "Inbox", messages_path %>
                  <%= link_to "Sign out", logout_path %>
                </ul>
              </li>
            </ul>
          <%- end -%>
        </div>
      </div>
    </div>

    <div id="wrap">

      <div id="content">
      <!--div id="atenroot">
        <%=  image_tag "aten/aten_root100.png", :alt => "Grass Roots Logo"  %>

      </div-->
        <%- if global_prefs.demo? -%>
          <p class="error" style="font-weight: bold;">
            This is a demonstration site. 
            Data may be modified or removed without warning.
          </p>
        <%- end -%>
        <% flash.each do |key, msg| %>
          <%= content_tag :p, msg, :class => "flash #{key}" %>
        <% end %>     
        <%= yield %>

        
        <div id="footer">
          <p>
		<%= render :partial => 'shared/powered_by' %>
          </p>
        </div>
        <div id="license">
          <p>
            <%= render :partial => 'shared/license' %>
          </p>
        </div>
      </div>
      <%- if development? -%>
        <div><%= render :partial => 'shared/debug' %></div>
      <%- end -%> 
    </div>
    <%= global_prefs.analytics %>
  </body>
</html>
