<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insoshi - Social Software: Home</title>
    <%= stylesheet_link_tag "default" %>
  </head>
  <body class="home">
    <div id="header-wrap">
      <div id="header">
        <h1>
          <a href="index.html" title="Return to Insoshi homepage">
            <img src="/images/logo-insoshi.png" alt="Insoshi - Social Software" />
          </a>
        </h1>
        <ul id="nav">
          <li class="n-home active"><a href="index.html">Home</a></li>
          <li class="n-profile"><a href="profile.html">Profile</a></li>
          <li class="n-contacts"><a href="contacts.html">Contacts</a></li>
          <li class="n-messages"><a href="messages.html">Messages</a></li>
          <li class="n-blog"><a href="blog.html">Blog</a></li>
          <li class="n-people"><a href="people.html">People</a></li>
          <li class="n-forum"><a href="forum.html">Forum</a></li>
        </ul>
        <p class="welcome">Welcome, Pete Lambert (<a href="signin.html">Sign out</a>)</p>
      </div>
    </div>
    <div id="wrap">
      <div id="content">
        <div class="col1">
        <%= render :partial => 'feed' %>



                                 
          <h2>Network Members</h2>
          <ul class="grid contacts medium">
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />

                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />
                <span class="fn">George Palmer</span>
              </a>

            </li>
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/default-profile-image.png" alt="Simon Hunt" class="photo" />
                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="vcard contact">

              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />
                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />

                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/default-profile-image.png" alt="Simon Hunt" class="photo" />
                <span class="fn">George Palmer</span>
              </a>

            </li>
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />
                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="vcard contact">

              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />
                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />

                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="more"><a href="people.html">See all network members...</a></li>                                                                                                            
          </ul>
        </div>
        <div class="col2">
          <h2>Requested Connections</h2>

          <ul class="grid contacts medium">
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />
                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="vcard contact">

              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />
                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/default-profile-image.png" alt="Simon Hunt" class="photo" />

                <span class="fn">George Palmer</span>
              </a>
            </li>
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/default-profile-image.png" alt="Simon Hunt" class="photo" />
                <span class="fn">George Palmer</span>
              </a>

            </li>
            <li class="vcard contact">
              <a href="profile.html" class="url">
                <img src="/images/profile-images/s/george-palmer.jpg" alt="George Palmer" class="photo" />
                <span class="fn">George Palmer</span>
              </a>
            </li>
          </ul>

          
          <h2>Messages</h2>
          <ul class="list messages small">
            <li>
              <div class="profile-image">
                <img src="/images/profile-images/s/leanne-scott.jpg" alt="Leanne Scott" />
              </div>
              <p><span class="field">From:</span><a href="profile.html">Simon Hunt</a></p>

              <p class="meta published">about 1 hour ago</p>
              <p title="Subject"><a href="message.html">I had a thought about the project</a></p>
            </li>
            <li>
              <div class="profile-image">
                <img src="/images/profile-images/s/default-profile-image.png" alt="Simon Hunt" class="photo" />
              </div>
              <p><span class="field">From:</span><a href="profile.html">Simon Hunt</a></p>

              <p class="meta published">about 1 hour ago</p>
              <p title="Subject"><a href="message.html">I had a thought about the project</a></p>
            </li>
            <li>
              <div class="profile-image">
                <img src="/images/profile-images/s/leanne-scott.jpg" alt="Leanne Scott" />
              </div>
              <p><span class="field">From:</span><a href="profile.html">Simon Hunt</a></p>

              <p class="meta published">about 1 hour ago</p>
              <p title="Subject"><a href="message.html">I had a thought about the project</a></p>
            </li>
            <li class="more"><a href="messages.html">Go to my inbox...</a></li>                            
          </ul>
          
          <h2>Contacts</h2>
          <ul class="grid contacts small">

            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/default-profile-image.png" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>              
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/default-profile-image.png" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/default-profile-image.png" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>              
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>              
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>

            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>              
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>              
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>              
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>              
            <li class="vcard"><a href="profile.html" title="Garth Crooks" class="url"><img src="/images/profile-images/s/garth-crooks.jpg" title="Garth Crooks" alt="Garth Crooks" class="photo fn" /></a></li>

            <li class="more"><a href="contacts.html">All my contacts...</a></li>
          </ul>
        </div>
        <div id="footer">
          <p id="footer-nav">
            <a href="index.html">Home</a> | <a href="profile.html">Profile</a> | <a href="messages.html">Messages</a> | <a href="blog.html">Blog</a> | <a href="people.html">People</a> | <a href="forum.html">Forum</a>

          </p>
          <p>Powered by <a href="index.html">Inoshi</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
    
    
    
    
    
    <!-- <div id="main" class="container">
      <%- column_div :id => "logo", :order => "first last", 
                     :width => FULL do -%>
        <h1><%= link_to "insoshi", '/' %></h1>
        <h2>insoshi social software</h2>
      <%- end -%>
      <%- column_div :type => :full do -%>        
        <div id="navcontainer">
          <ul id="navlist">
          <%- menu.each do |link| -%>
            <li><%= menu_link_to link %></li>
          <%- end -%>
          </ul>
        </div>
      <%- end -%>
      <%- column_div :type => :full do -%>        
        <div class="column first span-13 append-1">
        <%- if flash.empty? -%>
          &nbsp;
        <%- else -%>
          <% flash.each do |key, msg| %>
            <%= content_tag :div, msg, :class => "flash #{key}" %>
          <% end %>
        <%- end -%>
        </div>
        <%- column_div :type => :secondary do -%>
          <div style="font-size: 90%; margin: 0 0 0.5em 0;">
            <%- if logged_in? -%>
              Welcome, <%= current_person.name %>!
              (<%= link_to "Sign out", logout_path %>)
              <%- if current_person.admin? -%>
                <br />
                <%- if admin_view? -%>
                  <%= link_to("Standard view", home_path) %>
                <%- else -%>
                  <%= link_to("Admin view", admin_home_path) %>
                <%- end -%>
              <%- end -%>
            <%- else -%>
              <%= link_to "Sign in", login_path %> or
              <%= link_to "Sign up", signup_path %>
              <br />
              <%= link_to "I forgot my password",
                           new_password_reminder_path %>
            <%- end -%>
          </div>
        <%- end -%>
      <%- end -%>
      <%- column_div :type => :full do -%>
        <%= yield %>
      <%- end -%>
    <%- column_div :type => :full, :id => "footer" do -%>
      Powered by <%= link_to "Insoshi", "http://insoshi.com/" %>
      <%- unless test? -%>
        <%# A tracker to tell us about the activity of Insoshi installs %>
        <img src="http://stats.insoshi.com/<%= @tracker_id %>?env=<%= @env %>" 
             alt="" width="1" height="1" border="0" />
      <%- end -%>

    <%- end -%>

    </div>
    <%- if development? -%>
    <div>
      <%= link_to 'Show Grid', '#',
                  :onclick => "$('main').className+=' with-grid'; "%>
      <%= render :partial => 'shared/debug' %>
    </div>
    <%- end -%> 
  </body>
</html>-->