<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Insoshi Open Source Social Networking Platform</title>
    <%= stylesheet_link_tag "default" %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body class="<%= @body %>">
    <div id="header-wrap">
      <div id="header">
        <h1>
          <a href="/" title="Return to Insoshi homepage">
            <%= image_tag "logo-insoshi.png" %>
          </a>
        </h1>
        <ul id="nav">
          <%- menu.each do |link| -%>
            <%= menu_li link %>
          <%- end -%>
        </ul>
        
          <p class="welcome">
            <%- if logged_in? -%>
              Welcome, <%= h current_person.name %>!
              (<%= link_to "Sign out", logout_path %>)
              <%- if current_person.admin? -%>
                <br />
                <%- if admin_view? -%>
                  <%= link_to("Standard view", home_path) %>
                <%- else -%>
                  <%= link_to("Admin view", admin_preferences_path) %>
                <%- end -%>
              <%- end -%>
            <%- else -%>
              <%= link_to "Sign in", login_path %> or
              <%= link_to "Sign up", signup_path %>
              <%- if global_prefs.can_send_mail? -%>
              <br />
              <%= link_to "I forgot my password",
                           new_password_reminder_path %>
              <%- end -%>             
            <%- end -%>
          </p>
      </div>
    </div>
    
    <div id="wrap">
      <div id="content">
        <%- if global_prefs.demo? -%>
          <p class="error" style="font-weight: bold;">
            This is a demonstration site. 
            Data may be modified or removed without warning.
          </p>
        <%- end -%>
        <% flash.each do |key, msg| %>
          <%= content_tag :p, msg, :class => "flash #{key}" %>
        <% end %>     
        <%= yield %>
        <div id="footer">
          <p id="footer-nav">
            <a href="/">Home</a> | <a href="/messages">Messages</a> | <a href="/people">People</a> | <a href="/forums">Forum</a>

          </p>
          <p>Powered by
            <a href="http://insoshi.com/">Insoshi open-source social networking platform</a>
      <%- unless test? -%>
        <%# A tracker to tell us about the activity of Insoshi installs %>
        <img src="http://stats.insoshi.com/<%= @tracker_id %>?env=<%= @env %>" 
             alt="" width="1" height="1" />
      <%- end -%>
          </p>
        </div>
      </div>
      <%- if development? -%>
        <div><%= render :partial => 'shared/debug' %></div>
      <%- end -%> 
    </div>
  <%= global_prefs.analytics %>
  </body>
</html>
