<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- if global_prefs.app_name.blank? -%>
      <title>VBSR Marketplace</title>
    <%- else -%>
      <title><%= global_prefs.app_name %></title>
    <%- end -%>

    <link href="///fonts.googleapis.com/css?family=Cinzel|Montserrat" rel="stylesheet">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>

    <%= yield :jquery_support %>
    <%= yield :head %>
  </head>

  <body class="<%= @body || controller_name %>">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%- if params[:controller] == 'groups' and params[:action] == 'show' %>
          <% #= group_image_link current_person.default_group, :image_options => {:class => 'default-group-link'} %>
            <a class="brand"><%= h @group.name %></a>
          <%- elsif current_person -%>
            <%= link_to global_prefs.app_name, group_path(current_person.default_group), :class => "brand" %>
          <% else -%>
            <%= link_to global_prefs.app_name, home_path, :class => "brand" %>
          <%- end -%>
          <%- if logged_in? -%>
            <form accept-charset="UTF-8" class="search_form navbar-form span1" method="get">
              <%= text_field_tag :search, params[:search], :placeholder => t('button_search'), :class => 'search_input' %>
            </form>
          <%- end -%>
          <ul class="nav pull-right">
            <%- if logged_in? -%>
              <%- if current_person.admin? || current_person.junior_admin? -%>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t('home.menu.administration') %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to t('home.menu.manage'), '/admin' %></li>
                    <% if current_person.admin? %>
                      <li><%= link_to t('home.menu.import'), '/admin/account_import/new' %></li>
                    <% end %>
                  </ul>
                </li>

              <%- elsif session[:su_person] %>
                <li><%= link_to("Back to admin", unsu_person_path(current_person) ) %></li>
              <%- end -%>
              <% if global_prefs.groups && display_group_nav? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t('home.menu.your_groups') %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% if (memberships = current_person.memberships.all(:include => 'group', :order => 'groups.name ASC')).present? %>
                      <% memberships.each do |membership| %>
                        <% icon_class = membership.is?(:admin) ? 'wrench' : 'person' %>
                        <li>
                          <a href="<%= group_path(membership.group) %>">
                            <i class="icon icon-<%= icon_class %>"></i>
                            <%= h(membership.group.name) %>
                          </a>
                        </li>
                      <% end -%>
                      <li class="divider"></li>
                    <% end -%>
                    <li><%= link_to t('home.menu.more_groups'), groups_path, :id => 'moregroups' %></li>
                  </ul>
                </li>
              <% end %>
              <%- if display_help? -%>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= t('home.menu.help') %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to t('home.menu.about'), about_path if !global_prefs.about.blank? %></li>
                    <li><%= link_to t('home.menu.practice'), practice_path if !global_prefs.practice.blank? %></li>
                    <li><%= link_to t('home.menu.steps'), steps_path if !global_prefs.steps.blank? %></li>
                    <li><%= link_to t('home.menu.contact'), contact_path if !global_prefs.contact.blank? %></li>
                    <li><%= link_to t('home.menu.agreement'), agreement_path if !global_prefs.agreement.blank? %></li>
                    <li><%= link_to t('home.menu.faq'), questions_path if !global_prefs.questions.blank? %></li>
                  </ul>
                </li>
              <%- end -%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= h current_person.display_name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="hidden"><%# link_to t('home.menu.profile'), person_path(current_person) %></li>
                  <li><%= link_to t('home.menu.sign_out'), logout_path %></li>
                </ul>
              </li>
              <li><%= image_link current_person, {:link => person_path(current_person), :link_options => {:style => "padding-top: 2px; padding-bottom: 2px;"}} %></li>
            <%- else -%>
              <li><%= link_to t('sessions.new.header'), login_path %></li>
              <li><span class="navbar-text"><%= t('or') %></span></li>
              <li><%= link_to t('people.new.header'), (global_prefs.alt_signup_link.blank? ? signup_path : global_prefs.alt_signup_link) %></li>
              <%- if global_prefs.can_send_email? -%>
                <li><%= link_to t('sessions.new.i_forgot_my_password'),
                             new_password_reset_path %></li>
              <%- end -%>
            <%- end -%>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <% flash.each do |key, msg| %>
          <%= content_tag :p, msg.html_safe, :class => "alert #{bootstrap_class(key)}" %>
        <% end %>
        <%= yield %>
    </div>

    <div id="posts_per_page" class="container hide">
      <!-- Styling for the footer -->
        <%- if logged_in? -%>
          <div style='margin-top: 20px;'>
          <%= t('per_page') %>:
          <% [5,10,25,50,100].each do |ppp| %>
            <% selected_classes =  current_person.posts_per_page == ppp ? 'btn btn-small btn-primary' : '' %>
            <%= link_to ppp.to_s, person_path(current_person), {:class => "per_page #{selected_classes}", 'data-ppp' => ppp} %>
          <% end %>
          </div>
        <% end %>
    </div>
      <hr/>
      <div class="container">
      <footer>

        <%# Getting the administrator object to generate content %>
        <div class="row-fluid">
          <div class="span6">

            <% admin = get_admin() %>

            <div>
              <!-- The admin contact information -->
              Please contact <%= admin.name %> for assistance.
              <br/>

              <i class="icon-envelope-alt"></i>
              <a href="mailto:<%= admin.email %>">
                <%= admin.email %>
              </a>
              <% if !admin.phone.blank? && admin.phoneprivacy? %>
                <br/>
                <i class="icon-phone"></i> <%= admin.phone %>
              <% end %>

              <% if ! admin.web_site_url.nil? && admin.web_site_url.length > 0 %>
                <br/>
                <i class="icon-globe"></i>
                <a href="<%= admin.web_site_url %>">
                  <%= admin.web_site_url %>
                </a>
              <% end %>
            </div>

          </div>
        </div>

      </footer>
    </div>
    </div>

    <%- if Rails.env.development? -%>
      <hr/>
      <div class="container"><%= render :partial => 'shared/debug' %></div>
    <%- end -%>
    <%= raw global_prefs.analytics %>
  </body>
</html>
