<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>insoci</title>
    <%= stylesheet_link_tag "blueprint/screen.css", 
                            :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print.css", :media => "print" %>
    <!--[if IE]><%= stylesheet_link_tag "blueprint/lib/ie.css", 
                      :media => "screen, projection" %><![endif]-->
    <%= stylesheet_link_tag "application.css" %>
    <%= stylesheet_link_tag "menus.css" %>
    <%- if development? -%>
      <style type="text/css">
        .with-grid { background: url('/stylesheets/blueprint/src/grid.png'); }
      </style>
    <%- end -%>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="main" class="container">
      <div id="logo" class="column first last span-20">
        <h1>insoci</h1>
      </div>
      <div class="column first last span-20">
        
        <div id="navcontainer">
          <ul id="navlist">
          <%- menu.each do |link| -%>
            <li><%= menu_link_to link %></li>
          <%- end -%>
          </ul>
        </div>
      </div>
      <div class="column span-20">
        <div class="column first span-13 append-1">
        <%- if flash.empty? -%>
          &nbsp;
        <%- else -%>
          <% flash.each do |key, msg| %>  
            <%= content_tag :div, msg, :class => "flash #{key}" %>
          <% end %>
        <%- end -%>
        </div>
        <div class="column last span-6">
            <%- if logged_in? -%>
              Welcome, <%= current_person.name %>!
              (<%= link_to "Sign out", logout_path %>)
            <%- else -%>
              <%= link_to "Sign in", login_path %> or
              <%= link_to "Sign up", signup_path %>
              <br />
              <%= link_to "I forgot my password",
                           new_password_reminder_path %>
            <%- end -%>
        </div>
      </div>
      <div class="column span-20 first">
        <%= yield :main_title %>
        <%= yield %>
      </div>
    </div>
    <%- if development? -%>
    <div>
      <%= link_to 'Show Grid', '#',
                  :onclick => "$('main').className+=' with-grid'; "%>
      <%= render :partial => "shared/debug" %>
    </div>
    <%- end -%>
  </body>
</html>